2026-February-05/bckup to github
{"updatedAt":"2026-02-05T12:04:26.139Z","createdAt":"2026-02-05T11:48:02.222Z","id":"2c9ZLFzdFSRyfRpz","name":"bckup to github","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-752,-80],"id":"f8fe9575-0e5d-49d9-88c2-28e1cdfeaccb","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-336,-80],"id":"6e827aa3-6232-4a50-89bc-8ec1ad20d629","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,304],"id":"b52fa272-7c53-4a4d-ad2e-33f5faff691a","name":"Convert to File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"idaybaen","mode":"name"},"repository":{"__rl":true,"value":"n8n_bckp","mode":"list","cachedResultName":"n8n_bckp","cachedResultUrl":"https://github.com/idaybaen/n8n_bckp"},"filePath":"={{ $('Get many workflows').item.json.name }}-"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[416,192],"id":"95434afe-8fd8-4d6b-b95f-c643b35675c8","name":"Create a file","webhookId":"c581329b-5e54-41f6-94b0-19f1f0178c26","credentials":{"githubApi":{"id":"hXCh41ZfgxKNJRJs","name":"GitHub account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"c92843f5-ee69-469f-b4e2-cff7ea51322a","name":"FolderName","value":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-80],"id":"9e9b1c83-1fa2-4bea-a084-f8b0accd77f5","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-128,-80],"id":"baf1337a-39bd-424d-b275-069c52180ba9","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-128,112],"id":"bebd39f9-aa58-456b-b318-8cda638148f3"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5364a416-be47-4203-9629-26a79ef3ea15","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-05T11:48:02.226Z","createdAt":"2026-02-05T11:48:02.226Z","role":"workflow:owner","workflowId":"2c9ZLFzdFSRyfRpz","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":null,"tags":[]}