2026-February-13/PAJAKKITAPAYMENTLINK
{"updatedAt":"2026-02-04T09:19:12.186Z","createdAt":"2026-01-31T05:21:57.268Z","id":"BiqeNdrbTm7FSQjM","name":"PAJAKKITAPAYMENTLINK","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"payment-link","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-288,176],"id":"ae369b6a-10f7-48f3-82c5-b5e81ea01c1c","name":"Webhook","webhookId":"7bf8e1c3-7ea6-4b92-b74b-ebd718b6cedd"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"{{ $json.message }}\",\n   \"checkoutUrl\": \"{{ $json.data.payment_url }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1632,176],"id":"42a3ea39-39c2-4bbf-af14-c6e5b8633b7f","name":"Respond to Webhook"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// ===== VALIDASI =====\nif (!body.nop || !body.tahun || !body.amount || !body.tipe) {\n  throw new Error(\"Payload tidak lengkap (nop, tahun, amount, tipe wajib)\");\n}\n\n// ===== NORMALISASI DATA =====\nconst nop = String(body.nop).trim();\nconst tahun = String(body.tahun).trim();\n\n// hilangkan spasi & uppercase → \" pbb\" jadi \"PBB\"\nconst tipe = String(body.tipe).trim().toUpperCase();\n\nconst amount = Number(body.amount);\n\nif (isNaN(amount) || amount <= 0) {\n  throw new Error(\"Amount tidak valid\");\n}\n\n// nomor tagihan = NOP + tahun\nconst nomorTagihan = `${nop}${tahun}`;\nconst mchOrderNo = `PBB-${nomorTagihan}-${timestamp}`;\n\n// ===== REQUEST BODY KE PAYMENT =====\nconst requestBody = {\n  app_id: \"1000101398\",\n  sub_mch_id: \"\",\n\n  mch_order_no: mchOrderNo,\n  amount: amount,\n  currency: \"IDR\",\n\n  regular_bank_codes: \"BNI,BRI,MANDIRI,PERMATA,DANAMON,CIMB\",\n  ewallet_bank_codes: \"\",\n  qris_bank_code: \"\",\n  otc_bank_codes: \"\",\n  cc_bank_codes: \"\",\n\n  sender_name: \"PBB BAPENDA KAB A\",\n  account_name: \"PBB BAPENDA KAB A\",\n  account_bank_code: \"\",\n  fixed_bank_code: \"0\",\n  account_phone: \"012345678\",\n\n  expire_seconds: \"900\",\n  terminal_type: \"WEB\",\n\n  failed_redirect_url: \"https://usearkhe.com/payment/failed\",\n  success_redirect_url: \"https://usearkhe.com/payment/success\",\n\n  product_id: tipe,\n  product_name: `${tipe} - ${nomorTagihan}`,\n  product_category: \"PAJAK\",\n  product_sub_category: tipe,\n  product_price: amount,\n  product_quantity: 1,\n  product_type: \"PRODUCT\",\n  product_url: \"https://usearkhe.com/product/pbb\",\n  product_description: `Pembayaran Pajak ${tipe}`,\n\n  custom_extra: {\n    customer_id: nomorTagihan,\n    nop,\n    tahun\n  }\n};\n\n// ===== SIGNATURE =====\nconst sortedKeys = Object.keys(requestBody).sort();\nlet buffer = \"\";\n\nfor (const key of sortedKeys) {\n  buffer += `${key}=${requestBody[key]}__`;\n}\n\nconst strMap = buffer.slice(0, -2);\n\n// ⚠️ TOKEN SEBAIKNYA DARI ENV\nconst TOKEN = \"9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW\";\nconst originalString = `${TOKEN}*|*${strMap}@!@${timestamp}`;\n\nreturn [\n  {\n    json: {\n      mch_order_no: mchOrderNo,\n      nomor_tagihan: nomorTagihan,\n      nop,\n      tahun,\n      tipe,\n      amount,\n      timestamp,\n      strMap,\n      originalString,\n      requestBody\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,192],"id":"e3445f77-70c8-4b36-9ad9-2a61deeeac6c","name":"Code in JavaScript"},{"parameters":{"value":"={{$json.originalString}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[288,192],"id":"87a76326-2c49-4ef6-9f16-73079dbdf50b","name":"Crypto"},{"parameters":{"value":"={{$json.data}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[432,192],"id":"d38f589e-971d-4d61-89fe-9aae940a76d2","name":"Crypto1"},{"parameters":{"jsCode":"const strMap = $json.strMap;\nconst sign = $json.data;\nconst timestamp = $json.timestamp;\n\nconst finalStr =\n  `${strMap}__sign=${sign}__timestamp=${timestamp}`;\n\nreturn [{\n  json: {\n    finalStr\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,192],"id":"c82e8b90-a0b7-4727-8f85-a6177ea3f14a","name":"Append TIme &Time"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/encrypt","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.finalStr }}"}]},"options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,192],"id":"dfb55c09-d63b-4e52-953b-24f8960f756b","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"data\": {\n\"partner_key\": \"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u\",\n\"en_data\": \"{{ $json.en_data }}\"\n}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,192],"id":"b7d07ce7-e7b3-4f96-aad6-280d0362759a","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox-api.monetapay.net/v1.0.0/payment-link/create","sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"data\": {\n      \"partner_key\":\"{{ $json.data.partner_key }}\" ,\n      \"en_data\": \"{{ $json.data.en_data }}\"\n    }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1152,176],"id":"ecef6218-25a1-41f3-b9e8-f446bb571ce3","name":"HTTP Request1"},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response payment\nif (!res || res.code !== 0) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Gagal membuat link pembayaran\",\n        raw: res\n      }\n    }\n  ];\n}\n\nconst data = res.data;\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: \"Link pembayaran berhasil dibuat\",\n      data: {\n        order_id: data.mch_order_no,\n        amount: Number(data.amount),\n        currency: data.currency,\n        payment_url: data.checkout_url,\n        expired_at: data.expiration_date,\n        methods: {\n          bank: data.regular_bank_code,\n          ewallet: data.ewallet_bank_codes,\n          qris: data.qris_bank_code,\n          cc: data.cc_bank_code\n        }\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,192],"id":"2eb2bda0-f6d6-4ba9-af2e-5ebd1f55294e","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const raw = $input.first().json.finalStr;\n\n// pecah jadi pasangan key=value\nconst pairs = raw.split('__');\n\nlet data = {};\nfor (const p of pairs) {\n  if (!p) continue;\n  const idx = p.indexOf('=');\n  const k = p.slice(0, idx);\n  const v = p.slice(idx + 1);\n  data[k] = v;\n}\n\nreturn [{ json: data }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-16],"id":"c64dffb6-d257-439c-8fbb-68fd2ac19cef","name":"Code in JavaScript2"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Append TIme &Time","type":"main","index":0}]]},"Append TIme &Time":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Code in JavaScript2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.usearkhe.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0","content-length":"70","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"202.138.249.62","cf-ipcountry":"ID","cf-ray":"9c865d65cc8c445e-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"51cdb168-2fef-425a-8d44-abf316805538","connection":"keep-alive","content-type":"application/json","origin":"https://pajak-daerah-kita.vercel.app","priority":"u=1, i","referer":"https://pajak-daerah-kita.vercel.app/","sec-ch-ua":"\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Microsoft Edge\";v=\"144\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"202.138.249.62","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"nop":"320426000701901160","tahun":2012,"amount":66304,"tipe":" pbb"},"webhookUrl":"https://n8n.usearkhe.com/webhook/payment-link","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"8cb24bf4-7a7a-42c6-b2f3-057c8af065ed","activeVersionId":"8cb24bf4-7a7a-42c6-b2f3-057c8af065ed","triggerCount":1,"shared":[{"updatedAt":"2026-01-31T05:21:57.271Z","createdAt":"2026-01-31T05:21:57.271Z","role":"workflow:owner","workflowId":"BiqeNdrbTm7FSQjM","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-04T09:19:19.000Z","createdAt":"2026-02-04T09:19:12.188Z","versionId":"8cb24bf4-7a7a-42c6-b2f3-057c8af065ed","workflowId":"BiqeNdrbTm7FSQjM","nodes":[{"parameters":{"httpMethod":"POST","path":"payment-link","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-288,176],"id":"ae369b6a-10f7-48f3-82c5-b5e81ea01c1c","name":"Webhook","webhookId":"7bf8e1c3-7ea6-4b92-b74b-ebd718b6cedd"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"status\": \"{{ $json.message }}\",\n   \"checkoutUrl\": \"{{ $json.data.payment_url }}\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1632,176],"id":"42a3ea39-39c2-4bbf-af14-c6e5b8633b7f","name":"Respond to Webhook"},{"parameters":{"jsCode":"const body = $input.first().json.body;\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// ===== VALIDASI =====\nif (!body.nop || !body.tahun || !body.amount || !body.tipe) {\n  throw new Error(\"Payload tidak lengkap (nop, tahun, amount, tipe wajib)\");\n}\n\n// ===== NORMALISASI DATA =====\nconst nop = String(body.nop).trim();\nconst tahun = String(body.tahun).trim();\n\n// hilangkan spasi & uppercase → \" pbb\" jadi \"PBB\"\nconst tipe = String(body.tipe).trim().toUpperCase();\n\nconst amount = Number(body.amount);\n\nif (isNaN(amount) || amount <= 0) {\n  throw new Error(\"Amount tidak valid\");\n}\n\n// nomor tagihan = NOP + tahun\nconst nomorTagihan = `${nop}${tahun}`;\nconst mchOrderNo = `PBB-${nomorTagihan}-${timestamp}`;\n\n// ===== REQUEST BODY KE PAYMENT =====\nconst requestBody = {\n  app_id: \"1000101398\",\n  sub_mch_id: \"\",\n\n  mch_order_no: mchOrderNo,\n  amount: amount,\n  currency: \"IDR\",\n\n  regular_bank_codes: \"BNI,BRI,MANDIRI,PERMATA,DANAMON,CIMB\",\n  ewallet_bank_codes: \"\",\n  qris_bank_code: \"\",\n  otc_bank_codes: \"\",\n  cc_bank_codes: \"\",\n\n  sender_name: \"PBB BAPENDA KAB A\",\n  account_name: \"PBB BAPENDA KAB A\",\n  account_bank_code: \"\",\n  fixed_bank_code: \"0\",\n  account_phone: \"012345678\",\n\n  expire_seconds: \"900\",\n  terminal_type: \"WEB\",\n\n  failed_redirect_url: \"https://usearkhe.com/payment/failed\",\n  success_redirect_url: \"https://usearkhe.com/payment/success\",\n\n  product_id: tipe,\n  product_name: `${tipe} - ${nomorTagihan}`,\n  product_category: \"PAJAK\",\n  product_sub_category: tipe,\n  product_price: amount,\n  product_quantity: 1,\n  product_type: \"PRODUCT\",\n  product_url: \"https://usearkhe.com/product/pbb\",\n  product_description: `Pembayaran Pajak ${tipe}`,\n\n  custom_extra: {\n    customer_id: nomorTagihan,\n    nop,\n    tahun\n  }\n};\n\n// ===== SIGNATURE =====\nconst sortedKeys = Object.keys(requestBody).sort();\nlet buffer = \"\";\n\nfor (const key of sortedKeys) {\n  buffer += `${key}=${requestBody[key]}__`;\n}\n\nconst strMap = buffer.slice(0, -2);\n\n// ⚠️ TOKEN SEBAIKNYA DARI ENV\nconst TOKEN = \"9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW\";\nconst originalString = `${TOKEN}*|*${strMap}@!@${timestamp}`;\n\nreturn [\n  {\n    json: {\n      mch_order_no: mchOrderNo,\n      nomor_tagihan: nomorTagihan,\n      nop,\n      tahun,\n      tipe,\n      amount,\n      timestamp,\n      strMap,\n      originalString,\n      requestBody\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,192],"id":"e3445f77-70c8-4b36-9ad9-2a61deeeac6c","name":"Code in JavaScript"},{"parameters":{"value":"={{$json.originalString}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[288,192],"id":"87a76326-2c49-4ef6-9f16-73079dbdf50b","name":"Crypto"},{"parameters":{"value":"={{$json.data}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[432,192],"id":"d38f589e-971d-4d61-89fe-9aae940a76d2","name":"Crypto1"},{"parameters":{"jsCode":"const strMap = $json.strMap;\nconst sign = $json.data;\nconst timestamp = $json.timestamp;\n\nconst finalStr =\n  `${strMap}__sign=${sign}__timestamp=${timestamp}`;\n\nreturn [{\n  json: {\n    finalStr\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[576,192],"id":"c82e8b90-a0b7-4727-8f85-a6177ea3f14a","name":"Append TIme &Time"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/encrypt","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.finalStr }}"}]},"options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[736,192],"id":"dfb55c09-d63b-4e52-953b-24f8960f756b","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"data\": {\n\"partner_key\": \"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u\",\n\"en_data\": \"{{ $json.en_data }}\"\n}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[944,192],"id":"b7d07ce7-e7b3-4f96-aad6-280d0362759a","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox-api.monetapay.net/v1.0.0/payment-link/create","sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"data\": {\n      \"partner_key\":\"{{ $json.data.partner_key }}\" ,\n      \"en_data\": \"{{ $json.data.en_data }}\"\n    }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1152,176],"id":"ecef6218-25a1-41f3-b9e8-f446bb571ce3","name":"HTTP Request1"},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response payment\nif (!res || res.code !== 0) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Gagal membuat link pembayaran\",\n        raw: res\n      }\n    }\n  ];\n}\n\nconst data = res.data;\n\nreturn [\n  {\n    json: {\n      success: true,\n      message: \"Link pembayaran berhasil dibuat\",\n      data: {\n        order_id: data.mch_order_no,\n        amount: Number(data.amount),\n        currency: data.currency,\n        payment_url: data.checkout_url,\n        expired_at: data.expiration_date,\n        methods: {\n          bank: data.regular_bank_code,\n          ewallet: data.ewallet_bank_codes,\n          qris: data.qris_bank_code,\n          cc: data.cc_bank_code\n        }\n      }\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,192],"id":"2eb2bda0-f6d6-4ba9-af2e-5ebd1f55294e","name":"Code in JavaScript1"},{"parameters":{"jsCode":"const raw = $input.first().json.finalStr;\n\n// pecah jadi pasangan key=value\nconst pairs = raw.split('__');\n\nlet data = {};\nfor (const p of pairs) {\n  if (!p) continue;\n  const idx = p.indexOf('=');\n  const k = p.slice(0, idx);\n  const v = p.slice(idx + 1);\n  data[k] = v;\n}\n\nreturn [{ json: data }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,-16],"id":"c64dffb6-d257-439c-8fbb-68fd2ac19cef","name":"Code in JavaScript2"}],"connections":{"Webhook":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Append TIme &Time","type":"main","index":0}]]},"Append TIme &Time":{"main":[[{"node":"HTTP Request","type":"main","index":0},{"node":"Code in JavaScript2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Respond to Webhook":{"main":[[]]},"Code in JavaScript1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 8cb24bf4","description":""},"tags":[]}