2026-February-22/MONETAPAY-CALLBAK
{"updatedAt":"2026-02-12T06:00:56.484Z","createdAt":"2026-01-23T04:04:13.007Z","id":"lf2dIh9Gutg5iypX","name":"MONETAPAY-CALLBAK","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"transaction/test","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,0],"id":"b8204af9-e423-4305-ab9e-9bf6f1d23d67","name":"Webhook","webhookId":"a937e41b-9f18-4806-809a-fca4f9cff8bc","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"ok\",\n  \"received\":  {{ $json.body }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,0],"id":"174c2763-0ffd-41d9-a995-3cefb60514de","name":"Edit Fields"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/decrypt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"en_data\": \"{{ $json.received.data.en_data }}\",\n  \"partner_key\": \"{{ $json.received.data.partner_key }}\"\n}\n","options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,0],"id":"d2d07486-6ae8-4386-9986-d3a7597375b6","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"jsCode":"const raw = $json.text;\n\n// pecah jadi pasangan key=value\nconst pairs = raw.split('__');\n\nlet data = {};\nfor (const p of pairs) {\n  if (!p) continue;\n  const idx = p.indexOf('=');\n  const k = p.slice(0, idx);\n  const v = p.slice(idx + 1);\n  data[k] = v;\n}\n\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"1a3019e1-343e-4b1f-bb08-784202a6f4da","name":"Code in JavaScript"},{"parameters":{"jsCode":"const token = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\n\n// clone json\nconst data = { ...$json };\n\n// ambil sign & timestamp\nconst receivedSign = data.sign;\nconst timestamp = data.timestamp;\n\n// buang sign & timestamp dari payload\ndelete data.sign;\ndelete data.timestamp;\n\n// sort key ASC (TreeMap versi JS)\nconst keys = Object.keys(data).sort();\n\nlet strMap = '';\nfor (const k of keys) {\n  strMap += `${k}=${data[k]}__`;\n}\nstrMap = strMap.slice(0, -2);\n\n// FINAL originalString (INI HARUS PERSIS)\nconst originalString = `*|*${strMap}@!@${timestamp}`;\n\n// INI YANG DI-HASH\nconst toHash = token + originalString;\n\nreturn [{\n  json: {\n    originalString,\n    toHash,\n    receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"67f2dd79-54ef-4f86-a17b-0056383e3fac","name":"Code in JavaScript1"},{"parameters":{"value":"={{ $json.toHash }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[608,0],"id":"5d3cf4cd-40c7-4865-8be6-86139e3738ac","name":"Crypto"},{"parameters":{"value":"={{ $json.data }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[768,0],"id":"29f53a9f-6d46-4897-b0d8-7ce8db525326","name":"Crypto1"},{"parameters":{"jsCode":"return [{\n  json: {\n    valid: $json.data === $json.receivedSign,\n    localSign: $json.data,\n    remoteSign: $json.receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"id":"7916a3aa-d231-40ad-84b1-36fb128b1d17","name":"Code in JavaScript3"},{"parameters":{"content":"## INI NANTI FLAGGING KE BILLER\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":304,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1296,-352],"typeVersion":1,"id":"c6529466-04d5-4cc1-80f4-91335656b97b","name":"Sticky Note"},{"parameters":{"content":"## INSERT KE DB ARKHE TB INVOICE PAYMENT\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":304,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1296,96],"typeVersion":1,"id":"14c48e4f-3086-4c63-8230-d067098d3699","name":"Sticky Note1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice_payment","mode":"list","cachedResultName":"invoice_payment"},"columns":{"mappingMode":"defineBelow","value":{"is_release":"={{ $('Code in JavaScript').item.json.is_release }}","is_single_use":"={{ $('Code in JavaScript').item.json.is_single_use }}","amount":"={{ $('Code in JavaScript').item.json.amount }}","payment_amount":"={{ $('Code in JavaScript').item.json.payment_amount }}","fee":"={{ $('Code in JavaScript').item.json.fee }}","status":"={{ $('Code in JavaScript').item.json.status }}","timestamp":"={{ $('Code in JavaScript').item.json.timestamp }}","mch_order_no":"={{ $('Code in JavaScript').item.json.mch_order_no }}","order_no":"={{ $('Code in JavaScript').item.json.order_no }}","trade_no":"={{ $('Code in JavaScript').item.json.trade_no }}","account_bank_code":"={{ $('Code in JavaScript').item.json.account_bank_code }}","virtual_account":"={{ $('Code in JavaScript').item.json.virtual_account }}","fee_currency":"={{ $('Code in JavaScript').item.json.fee_currency }}","currency":"={{ $('Code in JavaScript').item.json.fee_currency }}","custom_extra":"={{ $('Code in JavaScript').item.json.custom_extra }}","sign":"={{ $('Code in JavaScript').item.json.sign }}","completed_time":"={{ $('Code in JavaScript').item.json.completed_time }}","create_time":"={{ $('Code in JavaScript').item.json.create_time }}","expiration_date":"={{ $('Code in JavaScript').item.json.expiration_date }}"},"matchingColumns":[],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"trade_no","displayName":"trade_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"virtual_account","displayName":"virtual_account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"payment_amount","displayName":"payment_amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fee","displayName":"fee","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fee_currency","displayName":"fee_currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"is_release","displayName":"is_release","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"is_single_use","displayName":"is_single_use","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sign","displayName":"sign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"completed_time","displayName":"completed_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1408,240],"id":"e2fa0920-a075-4feb-b74c-aae54a411d06","name":"Insert rows in a table","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7990b863-4eda-4a04-af58-2589cfde4952","leftValue":"={{ $json.localSign }}","rightValue":"={{ $json.remoteSign }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,0],"id":"8667a866-04e2-429d-8e85-0d6efd0a5f0d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6458e121-39b5-47d9-b2ef-a2b6774768e7","leftValue":"={{ $('Code in JavaScript').item.json.status }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1664,192],"id":"258614f7-acdf-4d2a-b279-6d95fd7a6bef","name":"If1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice","mode":"list","cachedResultName":"invoice"},"columns":{"mappingMode":"defineBelow","value":{"mch_order_no":"={{ $('Code in JavaScript').item.json.mch_order_no }}","status":"={{ $('Code in JavaScript').item.json.status }}"},"matchingColumns":["mch_order_no"],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mch_id","displayName":"mch_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"app_id","displayName":"app_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_name","displayName":"account_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_phone","displayName":"account_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"success_time","displayName":"success_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fixed_bank_code","displayName":"fixed_bank_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pay_account_expired","displayName":"pay_account_expired","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"checkout_url","displayName":"checkout_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1936,160],"id":"28ed0bbc-5410-44c1-af42-0a6e192cce52","name":"Update rows in a table","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice","mode":"list","cachedResultName":"invoice"},"columns":{"mappingMode":"defineBelow","value":{"mch_order_no":"={{ $('Code in JavaScript').item.json.mch_order_no }}","status":"={{ $('Code in JavaScript').item.json.status }}"},"matchingColumns":["mch_order_no"],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mch_id","displayName":"mch_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"app_id","displayName":"app_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_name","displayName":"account_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_phone","displayName":"account_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"success_time","displayName":"success_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fixed_bank_code","displayName":"fixed_bank_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pay_account_expired","displayName":"pay_account_expired","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"checkout_url","displayName":"checkout_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1888,-256],"id":"3a0fec46-6797-4ceb-9070-6c61ab1e69a0","name":"Update rows in a table1","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"jvQ2Bxv5GiOW0Trv","mode":"list","cachedResultUrl":"/workflow/jvQ2Bxv5GiOW0Trv","cachedResultName":"Payment To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1696,-240],"id":"39b848d4-785a-469c-aca9-269d13cbaa10","name":"Call 'Payment To Cartenz'"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1280,-240],"id":"5c4681a2-4f64-40e9-92fb-c385e7d3b001","name":"Merge","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4280748e-89d2-461f-a820-f6f325acc8bf","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1424,-240],"id":"139189c8-c9fe-4db2-b014-a0455f5ae018","name":"If2"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert rows in a table","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Insert rows in a table":{"main":[[]]},"If1":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Update rows in a table1":{"main":[[]]},"Call 'Payment To Cartenz'":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Call 'Payment To Cartenz'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"callback.usearkhe.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36 Hutool","content-length":"831","accept":"text/html,application/json,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","accept-encoding":"gzip, br","accept-language":"zh-CN,zh;q=0.8","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"8.215.75.122","cf-ipcountry":"ID","cf-ray":"9c977f34fdc13f80-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"51cdb168-2fef-425a-8d44-abf316805538","connection":"keep-alive","content-type":"application/json; charset=utf-8","pragma":"no-cache","x-forwarded-for":"8.215.75.122","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"data":{"en_data":"MzwOzknoHLRf3KpSmXxWqxp5FU4N1IrWPvXJMNT2CgI5Fdk6RC3SxbYW04Z9OY8IZ5NFdC2Z+XATP658w9BLve3sbO+4nFAUinlMbykuITKCsOAs6ygKgFjY0vppLCQXF92mWGNGDHCdEGRZOMAA1IWU/BZ5Gtuf3EMo+iAUa9cwn32N6GAFVrMyfzZeaMa/0hOaUQUlQ5GGMO+LkzxSrX6yZ1ZrYoi4y9byHhInMW75kOWkMESqlFQihOKiMk4KZsJ+yG4SJc7cFmJeXfBuunpYtgWQvFfHBM2UE9FCN0eDOhb4RbqkbWatM2Ihz2M2+e2QKmZrjGIE13uL8INoQT87cQdH45nWC9eogShucOBa/fNR8MSR8Gdq/lei9MqkX2zJFbX7uibr2Bfcrv65dXZI3oTybrncTBZ/EMCfOyCD79+eugHufhKnLqlqF3Bu9yLaH5rm+BDUu1WWQakUAR/x+OvypaP6aYc5z4zv7zLcUuUlKIFRnVjDvx9QPAGK8+flpt+Wgtjy0SULhngX4AeV81Iwet/hBSpO2poYMkBlWx6EpoqEyd97ipi2Oap1fQe6tqXbAAPRQVuGr7tMT0VyUDqPRIcTUPFGHie/BxCFADiqERPQDcYJAR8h2cBpXuWdjA12uhxumABO9acb3MZXEfTe+13i3GPxjJPCkm5Y19u56bF64wEXffYJT8ZT","partner_key":"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u","mch_order_no":"PBB-3204260007019011602007-1770347075"}},"webhookUrl":"https://n8n.usearkhe.com/webhook/transaction/test","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"f510a23f-222b-4753-9d0f-5abdd2dc7837","activeVersionId":"f510a23f-222b-4753-9d0f-5abdd2dc7837","triggerCount":1,"shared":[{"updatedAt":"2026-01-23T04:04:13.012Z","createdAt":"2026-01-23T04:04:13.012Z","role":"workflow:owner","workflowId":"lf2dIh9Gutg5iypX","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-12T06:00:58.000Z","createdAt":"2026-02-12T05:50:58.074Z","versionId":"f510a23f-222b-4753-9d0f-5abdd2dc7837","workflowId":"lf2dIh9Gutg5iypX","nodes":[{"parameters":{"httpMethod":"POST","path":"transaction/test","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,0],"id":"b8204af9-e423-4305-ab9e-9bf6f1d23d67","name":"Webhook","webhookId":"a937e41b-9f18-4806-809a-fca4f9cff8bc","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"ok\",\n  \"received\":  {{ $json.body }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,0],"id":"174c2763-0ffd-41d9-a995-3cefb60514de","name":"Edit Fields"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/decrypt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"en_data\": \"{{ $json.received.data.en_data }}\",\n  \"partner_key\": \"{{ $json.received.data.partner_key }}\"\n}\n","options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,0],"id":"d2d07486-6ae8-4386-9986-d3a7597375b6","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"jsCode":"const raw = $json.text;\n\n// pecah jadi pasangan key=value\nconst pairs = raw.split('__');\n\nlet data = {};\nfor (const p of pairs) {\n  if (!p) continue;\n  const idx = p.indexOf('=');\n  const k = p.slice(0, idx);\n  const v = p.slice(idx + 1);\n  data[k] = v;\n}\n\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"1a3019e1-343e-4b1f-bb08-784202a6f4da","name":"Code in JavaScript"},{"parameters":{"jsCode":"const token = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\n\n// clone json\nconst data = { ...$json };\n\n// ambil sign & timestamp\nconst receivedSign = data.sign;\nconst timestamp = data.timestamp;\n\n// buang sign & timestamp dari payload\ndelete data.sign;\ndelete data.timestamp;\n\n// sort key ASC (TreeMap versi JS)\nconst keys = Object.keys(data).sort();\n\nlet strMap = '';\nfor (const k of keys) {\n  strMap += `${k}=${data[k]}__`;\n}\nstrMap = strMap.slice(0, -2);\n\n// FINAL originalString (INI HARUS PERSIS)\nconst originalString = `*|*${strMap}@!@${timestamp}`;\n\n// INI YANG DI-HASH\nconst toHash = token + originalString;\n\nreturn [{\n  json: {\n    originalString,\n    toHash,\n    receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"67f2dd79-54ef-4f86-a17b-0056383e3fac","name":"Code in JavaScript1"},{"parameters":{"value":"={{ $json.toHash }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[608,0],"id":"5d3cf4cd-40c7-4865-8be6-86139e3738ac","name":"Crypto"},{"parameters":{"value":"={{ $json.data }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[768,0],"id":"29f53a9f-6d46-4897-b0d8-7ce8db525326","name":"Crypto1"},{"parameters":{"jsCode":"return [{\n  json: {\n    valid: $json.data === $json.receivedSign,\n    localSign: $json.data,\n    remoteSign: $json.receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,0],"id":"7916a3aa-d231-40ad-84b1-36fb128b1d17","name":"Code in JavaScript3"},{"parameters":{"content":"## INI NANTI FLAGGING KE BILLER\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":304,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1296,-352],"typeVersion":1,"id":"c6529466-04d5-4cc1-80f4-91335656b97b","name":"Sticky Note"},{"parameters":{"content":"## INSERT KE DB ARKHE TB INVOICE PAYMENT\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)","height":304,"width":528},"type":"n8n-nodes-base.stickyNote","position":[1296,96],"typeVersion":1,"id":"14c48e4f-3086-4c63-8230-d067098d3699","name":"Sticky Note1"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice_payment","mode":"list","cachedResultName":"invoice_payment"},"columns":{"mappingMode":"defineBelow","value":{"is_release":"={{ $('Code in JavaScript').item.json.is_release }}","is_single_use":"={{ $('Code in JavaScript').item.json.is_single_use }}","amount":"={{ $('Code in JavaScript').item.json.amount }}","payment_amount":"={{ $('Code in JavaScript').item.json.payment_amount }}","fee":"={{ $('Code in JavaScript').item.json.fee }}","status":"={{ $('Code in JavaScript').item.json.status }}","timestamp":"={{ $('Code in JavaScript').item.json.timestamp }}","mch_order_no":"={{ $('Code in JavaScript').item.json.mch_order_no }}","order_no":"={{ $('Code in JavaScript').item.json.order_no }}","trade_no":"={{ $('Code in JavaScript').item.json.trade_no }}","account_bank_code":"={{ $('Code in JavaScript').item.json.account_bank_code }}","virtual_account":"={{ $('Code in JavaScript').item.json.virtual_account }}","fee_currency":"={{ $('Code in JavaScript').item.json.fee_currency }}","currency":"={{ $('Code in JavaScript').item.json.fee_currency }}","custom_extra":"={{ $('Code in JavaScript').item.json.custom_extra }}","sign":"={{ $('Code in JavaScript').item.json.sign }}","completed_time":"={{ $('Code in JavaScript').item.json.completed_time }}","create_time":"={{ $('Code in JavaScript').item.json.create_time }}","expiration_date":"={{ $('Code in JavaScript').item.json.expiration_date }}"},"matchingColumns":[],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"trade_no","displayName":"trade_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"virtual_account","displayName":"virtual_account","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"payment_amount","displayName":"payment_amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fee","displayName":"fee","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"fee_currency","displayName":"fee_currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"currency","displayName":"currency","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"is_release","displayName":"is_release","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"is_single_use","displayName":"is_single_use","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"sign","displayName":"sign","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"completed_time","displayName":"completed_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1408,240],"id":"e2fa0920-a075-4feb-b74c-aae54a411d06","name":"Insert rows in a table","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7990b863-4eda-4a04-af58-2589cfde4952","leftValue":"={{ $json.localSign }}","rightValue":"={{ $json.remoteSign }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1072,0],"id":"8667a866-04e2-429d-8e85-0d6efd0a5f0d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"6458e121-39b5-47d9-b2ef-a2b6774768e7","leftValue":"={{ $('Code in JavaScript').item.json.status }}","rightValue":"3","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1664,192],"id":"258614f7-acdf-4d2a-b279-6d95fd7a6bef","name":"If1"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice","mode":"list","cachedResultName":"invoice"},"columns":{"mappingMode":"defineBelow","value":{"mch_order_no":"={{ $('Code in JavaScript').item.json.mch_order_no }}","status":"={{ $('Code in JavaScript').item.json.status }}"},"matchingColumns":["mch_order_no"],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mch_id","displayName":"mch_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"app_id","displayName":"app_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_name","displayName":"account_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_phone","displayName":"account_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"success_time","displayName":"success_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fixed_bank_code","displayName":"fixed_bank_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pay_account_expired","displayName":"pay_account_expired","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"checkout_url","displayName":"checkout_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1936,160],"id":"28ed0bbc-5410-44c1-af42-0a6e192cce52","name":"Update rows in a table","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice","mode":"list","cachedResultName":"invoice"},"columns":{"mappingMode":"defineBelow","value":{"mch_order_no":"={{ $('Code in JavaScript').item.json.mch_order_no }}","status":"={{ $('Code in JavaScript').item.json.status }}"},"matchingColumns":["mch_order_no"],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"mch_id","displayName":"mch_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"app_id","displayName":"app_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_name","displayName":"account_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"account_phone","displayName":"account_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"success_time","displayName":"success_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fixed_bank_code","displayName":"fixed_bank_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"pay_account_expired","displayName":"pay_account_expired","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"checkout_url","displayName":"checkout_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1888,-256],"id":"3a0fec46-6797-4ceb-9070-6c61ab1e69a0","name":"Update rows in a table1","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"jvQ2Bxv5GiOW0Trv","mode":"list","cachedResultUrl":"/workflow/jvQ2Bxv5GiOW0Trv","cachedResultName":"Payment To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1696,-240],"id":"39b848d4-785a-469c-aca9-269d13cbaa10","name":"Call 'Payment To Cartenz'"},{"parameters":{"mode":"combineBySql","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1280,-240],"id":"5c4681a2-4f64-40e9-92fb-c385e7d3b001","name":"Merge","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4280748e-89d2-461f-a820-f6f325acc8bf","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1424,-240],"id":"139189c8-c9fe-4db2-b014-a0455f5ae018","name":"If2"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Insert rows in a table","type":"main","index":0},{"node":"If1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Insert rows in a table":{"main":[[]]},"If1":{"main":[[{"node":"Update rows in a table","type":"main","index":0}]]},"Update rows in a table1":{"main":[[]]},"Call 'Payment To Cartenz'":{"main":[[{"node":"Update rows in a table1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Call 'Payment To Cartenz'","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version f510a23f","description":""},"tags":[]}