2026-February-22/PAJAKDAERAHKITA-SUKABUMI
{"updatedAt":"2026-02-19T03:27:06.865Z","createdAt":"2026-01-31T04:48:59.472Z","id":"utIdSs7171cwjuHB","name":"PAJAKDAERAHKITA-SUKABUMI","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.message.content.kategori }}","rightValue":"Cek NOP","operator":{"type":"string","operation":"contains"}},{"id":"bc33534b-4b9d-4f9c-8c68-fec0ecdc15c9","leftValue":"={{ $json.message.content.kategori }}","rightValue":"Cek Tagihan","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,2224],"id":"b899f753-7000-4ec6-91ba-515b074bdab3","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c84b74d0-48ff-4a10-bc90-60d35b68c0d5","leftValue":"={{ $json.body.type }}","rightValue":"kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,2208],"id":"d52bd87f-53fd-403e-8d96-caf910ce85ec","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,2208],"id":"7dcc25d9-cfbb-4f8e-855c-40c0b66c0248","name":"If3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,2128],"id":"054b21b7-241c-43f7-ac83-f251c8cbea3d","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[688,2128],"id":"dcc03627-738d-4665-8ae6-8ebccb3c2133","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,2128],"id":"a3e9e700-ec77-4e40-8ec3-abcdf6d6905d","name":"If4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const body = item.json.body ?? item.json;\n\n  const nop =\n    typeof body.nop === 'string'\n      ? body.nop\n      : null;\n\n  if (!nop) {\n    throw new Error(\"Field 'nop' tidak ditemukan atau bukan string\");\n  }\n\n  // Validasi: hanya angka & panjang 18–22 digit\n  if (!/^\\d{18,22}$/.test(nop)) {\n    throw new Error(\"NOP harus berupa angka 18–22 digit, diterima: \" + nop);\n  }\n\n  // Tahun pajak: prioritas dari field, fallback dari NOP\n  const tahun =\n    typeof body.tahun_pajak === 'string'\n      ? body.tahun_pajak\n      : nop.length > 18\n        ? nop.substring(18)\n        : null;\n\n  const nop18 = nop.substring(0, 18);\n\n  const parsedNOP = {\n    kode_provinsi: nop18.substring(0, 2),\n    kode_dati2: nop18.substring(2, 4),\n    kode_kecamatan: nop18.substring(4, 7),\n    kode_kelurahan: nop18.substring(7, 10),\n    kode_blok: nop18.substring(10, 13),\n    nomor_urut: nop18.substring(13, 17),\n    kode_jenis: nop18.substring(17),\n  };\n\n  return {\n    json: {\n      jenis_pajak: body.jenis_pajak ?? 'pbb',\n      tipe_pbb: body.tipe_pbb ?? 'individu',\n\n      provinsi: body.provinsi,\n      kabupaten: body.kabupaten,\n\n      nop: nop18,\n      nop_asli: nop,\n      tahun_pajak: tahun,\n      type: 'single',\n\n      ...parsedNOP,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,2624],"id":"5944cfa9-cb54-4d82-b204-cafd9c6931a3","name":"Code3"},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"data\": $json.data } }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,2608],"id":"7dec9e28-a40c-412c-b08f-797eea1d18dd","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,2624],"id":"45499cb7-5c4a-4312-9b7f-817b944a0b98","name":"If6","alwaysOutputData":false},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN SINGLE-  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,2048],"id":"a6340129-097e-449a-89e7-5edd5e5243f5","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","tahun":"={{ $json.tahun_pajak }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[48,2208],"id":"6b092895-ab02-4392-bc69-84f7a071cdf8","name":"INQUERY TO CARTENZ"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,2048],"id":"b7ff9728-f136-4805-b7ce-20f8f3e03241","name":"Sticky Note1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"bayar-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,1824],"id":"5e1ad9b7-527c-4ade-8703-ecc673013ba5","name":"PARSING NOP TAHUN1"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.body.number }}","tahun":"={{ $json.body.year }}","type":"={{ $json.body.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[48,1824],"id":"6b9aba69-9d46-4087-a71c-a78ed206a9e1","name":"INQUERY TO CARTENZ1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,1808],"id":"b5c08586-6f61-403f-bbbf-753e2c80c5d7","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,1824],"id":"05f3e606-6e7a-4d9b-a1fe-982594b6be37","name":"IN SUCCES INQ KOL"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[688,1808],"id":"030d2d4e-aeeb-46fb-99c0-473b3883a92c","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,1808],"id":"d81c4e7d-43ca-48a6-8148-8c09eae42202","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.message.content.kategori }}","rightValue":"unknown","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,2112],"id":"b4d2a019-f503-416f-9b42-a5e7dc399eec","name":"If7"},{"parameters":{"content":"## FLOW UNTUK CEK TAGIHAN -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":340,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,2496],"id":"e134cab1-c236-4244-a298-2892abf9faaa","name":"Sticky Note6"},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,1632],"id":"0ef907a4-8776-4090-a322-4a97fc2f0d27","name":"Sticky Note7"},{"parameters":{"content":"## UNKNOWN FLOW -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":240,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,1328],"id":"b446fe0f-1d22-4b80-b889-f50d7e2ecdae","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"32d334bced2a69b11b0bdb2018c827d7"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Halo Wargi Kabupaten Sukabumi, mohon masukan Format yagn sesuai\n\n\nuntuk PBB : \n1.Cek Tagihan 320411122244455556\n2.Cek Kolektif 12345678\n\nuntuk BPHHTB : \n1. Cek BPHTB 3204000000000000000\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,1408],"id":"0f9011e8-dee6-4b1e-abb0-f920a07069dc","name":"SEND MASSAGE"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,1616],"id":"e7de5ca3-5117-4500-9441-16b5ae9685d8","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.message.content.kategori }}","rightValue":"Cek Kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,2000],"id":"4ebdb2ab-a0ae-4e5d-8ac5-4557154edf07","name":"IF CEK KOLEKTIF"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,1072],"id":"d5835b33-6575-4444-b13f-74662157a055","name":"PARSING NOP TAHUN2"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,1072],"id":"5d86445e-7389-4422-9259-5a26859025a3","name":"INQUERY TO CARTENZ2"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL1\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,1056],"id":"06f2cf90-0cb0-406b-b2f3-5cb1a405c76f","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,1072],"id":"efc03f80-cac4-476c-b345-3641db0e723b","name":"IN SUCCES INQ KOL1"},{"parameters":{"content":"## FLOW UNTUK CEK KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,896],"id":"1a3acc59-6086-49e6-88f5-daec3d02e227","name":"Sticky Note11"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,1056],"id":"8354bf1d-1fa7-4bae-84bf-471450324ff4","name":"Execute Workflow4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,1056],"id":"ca9c6f6a-0967-4426-9d71-523696032cca","name":"If Workflow 4 Succes"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,896],"id":"0746982e-446e-4f8c-8c45-5cc0d50e01ab","name":"Sticky Note12"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.type }}","rightValue":"cek_ntpd","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,1872],"id":"5b1a6f4d-9c41-48a8-9b4e-4bdb91d86314","name":"IF CEK NTPD BPHTB"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Cari NOP (15–18 digit setelah 'cek bphtb')\n  const nopMatch = raw.match(/cek\\s+bphtb\\s+(\\d{15,18})/i);\n  if (!nopMatch) {\n    throw new Error(\"NOP tidak ditemukan dalam message: \" + raw);\n  }\n  const nop = nopMatch[1];\n\n  // Cari NTPD (15–20 digit setelah 'ntpd')\n  const ntpdMatch = raw.match(/ntpd\\s+(\\d{15,20})/i);\n  if (!ntpdMatch) {\n    throw new Error(\"NTPD tidak ditemukan dalam message: \" + raw);\n  }\n  const ntpd = ntpdMatch[1];\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-bphtb\",\n      nop: nop,\n      ntpd: ntpd\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,704],"id":"b1ed0b4e-a645-4c0a-a303-2d693868ec0d","name":"PARSING NOP TAHUN3"},{"parameters":{"workflowId":{"__rl":true,"value":"Xy0IHR0KPqlkFVyy","mode":"list","cachedResultName":"Kabupaten Sukabumi — CEK NTPD BPHTB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","ntpd":"={{ $json.ntpd }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ntpd","displayName":"ntpd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,704],"id":"6e60c8c0-9f08-4fdb-bb5e-7726770c727b","name":"INQUERY TO CARTENZ3"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"32d334bced2a69b11b0bdb2018c827d7"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Kami menemukan Data yang anda Cari. adapun detailnya adalah sebagai berikut\n\n{{ JSON.stringify($item(\"0\").$node[\"Edit Fields5\"].json) }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,704],"id":"498ed63f-be0a-451f-ae96-06163b05a391","name":"HTTP Request7"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"INQUERY TO CARTENZ3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,704],"id":"d8f6f655-0de3-43a9-aa7d-0d96bd967fdb","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"bphtb","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,1760],"id":"59e83346-695e-4847-84cf-52eb336e744c","name":"IF CEK NTPD BPHTB1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  // 1. Ambil body dengan aman\n  const body = item.json?.body && typeof item.json.body === 'object'\n    ? item.json.body\n    : item.json;\n\n  return {\n    json: {\n      // meta pajak\n      jenis_pajak: body.jenis_pajak ?? 'pbb',     // pbb / pbjt / bphtb\n      tipe_pbb: body.tipe_pbb ?? null,\n\n      // lokasi\n      provinsi: body.provinsi ?? null,\n      kabupaten: body.kabupaten ?? null,\n\n      // tambahan (biar konsisten)\n      type: 'cek-bphtb',\n\n      // field lain (kalau mau diteruskan)\n      nomor_billing: body.nomor_billing ?? null,\n      nomor_kolektif: body.nomor_kolektif ?? null,\n      nomor_bphtb: body.nomor_bphtb ?? null,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,544],"id":"c7e4f360-623d-40c0-b5a7-1a7f11ab2c42","name":"PARSING NOP TAHUN4"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nomor_bphtb }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-128,544],"id":"ee62be91-7034-427d-bebe-55ec44fe50ea","name":"INQUERY TO CARTENZ4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,528],"id":"63bfef34-6edd-4a1b-ac30-b9d82f95e7e6","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If8\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,448],"id":"c21e8faa-77ee-4d2d-9242-14e1ff558a73","name":"Edit Fields6"},{"parameters":{"workflowId":{"__rl":true,"value":"ZoO75I8x7h1ujxzb","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway BPHTB"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[592,448],"id":"fb800439-5516-4552-a310-980b6212e572","name":"Execute Workflow5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,448],"id":"9f7c0362-50ef-4eed-a2ec-1cc082688486","name":"If11"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"nomorTagihan\": \"{{ $('INQUERY TO CARTENZ4').item.json.data.nomorTagihan }}\",\n\"totalTagihan\" :\"{{ $('INQUERY TO CARTENZ4').item.json.data.totalTagihan }}\",\n\"linkPembayaran\":\"{{ $('Execute Workflow5').item.json.responseData.redirect_url }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1280,432],"id":"8344b483-f2f0-41e0-8bb6-9e257c6fa69e","name":"Respond to Webhook2"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  // 1. Ambil body dengan aman\n  const body = item.json?.body && typeof item.json.body === 'object'\n    ? item.json.body\n    : item.json;\n\n  return {\n    json: {\n      // meta pajak\n      jenis_pajak: body.jenis_pajak ?? 'pbb',     // pbb / pbjt / bphtb\n      tipe_pbb: body.tipe_pbb ?? null,\n\n      // lokasi\n      provinsi: body.provinsi ?? null,\n      kabupaten: body.kabupaten ?? null,\n\n      // tambahan (biar konsisten)\n      type: 'cek-pbjt',\n\n      // field lain (kalau mau diteruskan)\n      nomor_billing: body.nomor_billing ?? null,\n      nomor_kolektif: body.nomor_kolektif ?? null,\n      nomor_bphtb: body.nomor_bphtb ?? null,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,336],"id":"1b51abe8-ab39-4858-9921-93650134b807","name":"PARSING NOP TAHUN5"},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"data\": $json.data } }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,160],"id":"a97bfe89-ece6-4da4-afe9-9b3ed2ac865a","name":"Edit Fields7"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,160],"id":"44e03b55-4a7b-4e72-9aa4-f647ed65a42f","name":"Execute Workflow6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,160],"id":"d74ddd26-6f9b-4971-83e1-bc6c16da577a","name":"If12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b809eef6-ac09-45c2-abcc-747957d243bf","leftValue":"={{ $json.data.detail.namaPajak }}","rightValue":"Mineral Bukan Logam dan Batuan","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,320],"id":"e135d5dc-c153-417d-b781-df886f3ea1d7","name":"IN SUCCES INQ KOL2"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nomor_billing }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,336],"id":"4e10abe8-9b5d-4d47-ae31-ce91987f5199","name":"INQUERY TO CARTENZ6","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-224],"id":"91595218-189a-480c-96a2-c921412c3d3f","name":"IN SUCCES INQ KOL3"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[528,-288],"id":"7dd3dc57-6233-4b03-9f86-6646c088dabe","name":"Respond to Webhook4"},{"parameters":{"jsCode":"throw new Error('Data Tidak Ditemukan');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-192],"id":"39460634-763a-404a-bc81-7c04d98dc901","name":"Code5"},{"parameters":{"jsCode":"throw new Error('Data Tidak Ditemukan');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,16],"id":"5983cb18-a9ac-423a-abf3-b90e80e139a2","name":"Code6"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL2\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,320],"id":"445adfa5-481f-42d6-8a90-d9b8714ee16b","name":"Edit Fields8"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,304],"id":"73a1aa2b-96f4-485a-8d0c-cc76167f88ca","name":"Execute Workflow7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,288],"id":"d99a3b17-fbd5-495c-bfac-e10fc4b5ba87","name":"If13"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"nomorTagihan\": \"{{ $('INQUERY TO CARTENZ6').item.json.data.nomorTagihan }}\",\n \"pajak\" : \"{{ $json.responseData.customer.name }}\",\n \"detail\" : \"{{ $json.responseData.products[0].name }}\",\n\"totalTagihan\" :\"{{ $json.responseData.products[0].price }}\",\n\"linkPembayaran\":\"{{ $json.responseData.redirect_url }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1168,256],"id":"a4f6d30b-0440-47c5-a108-796c183b0329","name":"Respond to Webhook6"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"pbb","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,1888],"id":"216b64e2-1cac-4c7b-8732-999f89ae0fca","name":"IF PBB"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.tipe_pbb }}","rightValue":"individu","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,2320],"id":"9e51142a-ac8c-4c22-9283-8a64a201186f","name":"IF TYPE PBB"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","tahun":"={{ $json.tahun_pajak }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[192,2624],"id":"0b1503d5-32aa-4756-a322-c371b3ffaf9a","name":"INQUERY TO CARTENZ5"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2288,1696],"id":"a6ec8bcb-824f-4e88-8bc6-68129d0e35a6","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"pbjt","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1648,1760],"id":"3aac44cf-e9fa-419a-89c4-b7b4dd352b23","name":"IF CEK PBJT"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"cek_pajak_lainya","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1808,1552],"id":"d313bb73-6690-4826-a9b1-634502179033","name":"IFCEKPAJAKLAIN"}],"connections":{"If1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"INQUERY TO CARTENZ1","type":"main","index":0}],[{"node":"INQUERY TO CARTENZ","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[]]},"Code3":{"main":[[{"node":"INQUERY TO CARTENZ5","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"If6":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"INQUERY TO CARTENZ":{"main":[[{"node":"If3","type":"main","index":0}]]},"INQUERY TO CARTENZ1":{"main":[[{"node":"IN SUCCES INQ KOL","type":"main","index":0}]]},"IN SUCCES INQ KOL":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[]]},"If7":{"main":[[{"node":"SEND MASSAGE","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"IF CEK KOLEKTIF":{"main":[[{"node":"PARSING NOP TAHUN2","type":"main","index":0}],[{"node":"If7","type":"main","index":0}]]},"PARSING NOP TAHUN2":{"main":[[{"node":"INQUERY TO CARTENZ2","type":"main","index":0}]]},"INQUERY TO CARTENZ2":{"main":[[{"node":"IN SUCCES INQ KOL1","type":"main","index":0}]]},"IN SUCCES INQ KOL1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"If Workflow 4 Succes","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"If Workflow 4 Succes":{"main":[[]]},"IF CEK NTPD BPHTB":{"main":[[{"node":"PARSING NOP TAHUN3","type":"main","index":0}],[{"node":"IF CEK KOLEKTIF","type":"main","index":0}]]},"PARSING NOP TAHUN3":{"main":[[{"node":"INQUERY TO CARTENZ3","type":"main","index":0}]]},"INQUERY TO CARTENZ3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"IF CEK NTPD BPHTB1":{"main":[[{"node":"PARSING NOP TAHUN4","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB","type":"main","index":0}]]},"PARSING NOP TAHUN4":{"main":[[{"node":"INQUERY TO CARTENZ4","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Execute Workflow5","type":"main","index":0}]]},"Execute Workflow5":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"INQUERY TO CARTENZ4":{"main":[[{"node":"If8","type":"main","index":0}]]},"PARSING NOP TAHUN5":{"main":[[{"node":"INQUERY TO CARTENZ6","type":"main","index":0}]]},"Edit Fields7":{"main":[[]]},"Execute Workflow6":{"main":[[]]},"If12":{"main":[[]]},"IN SUCCES INQ KOL2":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields8","type":"main","index":0}]]},"INQUERY TO CARTENZ6":{"main":[[{"node":"IN SUCCES INQ KOL2","type":"main","index":0}]]},"IN SUCCES INQ KOL3":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Execute Workflow7","type":"main","index":0}]]},"Execute Workflow7":{"main":[[{"node":"If13","type":"main","index":0}]]},"If13":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"IF PBB":{"main":[[{"node":"IF TYPE PBB","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB1","type":"main","index":0}]]},"IF TYPE PBB":{"main":[[{"node":"Code3","type":"main","index":0}]]},"INQUERY TO CARTENZ5":{"main":[[{"node":"If6","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"IFCEKPAJAKLAIN","type":"main","index":0}]]},"IFCEKPAJAKLAIN":{"main":[[],[{"node":"IF CEK PBJT","type":"main","index":0}]]},"IF CEK PBJT":{"main":[[{"node":"PARSING NOP TAHUN5","type":"main","index":0}],[{"node":"IF PBB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"id":16,"name":"Kab. Sukabumi","province_id":1,"workflow_id":"utIdSs7171cwjuHB","headers":{"host":"n8n.usearkhe.com","user-agent":"Mozilla/5.0 (iPhone; CPU iPhone OS 18_5 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.5 Mobile/15E148 Safari/604.1 Edg/145.0.0.0","content-length":"200","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"202.138.249.62","cf-ipcountry":"ID","cf-ray":"9d02a4398e866bd0-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"51cdb168-2fef-425a-8d44-abf316805538","connection":"keep-alive","content-type":"application/json","origin":"https://pajak-daerah-kita.vercel.app","priority":"u=1, i","referer":"https://pajak-daerah-kita.vercel.app/","sec-ch-ua":"\"Not:A-Brand\";v=\"99\", \"Microsoft Edge\";v=\"145\", \"Chromium\";v=\"145\"","sec-ch-ua-mobile":"?1","sec-ch-ua-platform":"\"iOS\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"202.138.249.62","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"jenis_pajak":"bphtb","tipe_pbb":null,"nop":"","nomor_kolektif":null,"nomor_billing":null,"nomor_bphtb":"3204202602030035001","tahun_pajak":"2026","provinsi":"Jawa Barat","kabupaten":"Kab. Sukabumi"},"webhookUrl":"https://n8n.usearkhe.com/webhook/pajakdaerahkita","executionMode":"production"},"binary":{},"pairedItem":{"item":0}}]},"versionId":"4519e110-46c8-469e-b7cb-3b8e30ae90c9","activeVersionId":"4519e110-46c8-469e-b7cb-3b8e30ae90c9","triggerCount":0,"shared":[{"updatedAt":"2026-01-31T04:48:59.476Z","createdAt":"2026-01-31T04:48:59.476Z","role":"workflow:owner","workflowId":"utIdSs7171cwjuHB","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-19T03:27:08.000Z","createdAt":"2026-02-19T03:27:06.867Z","versionId":"4519e110-46c8-469e-b7cb-3b8e30ae90c9","workflowId":"utIdSs7171cwjuHB","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.message.content.kategori }}","rightValue":"Cek NOP","operator":{"type":"string","operation":"contains"}},{"id":"bc33534b-4b9d-4f9c-8c68-fec0ecdc15c9","leftValue":"={{ $json.message.content.kategori }}","rightValue":"Cek Tagihan","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,2224],"id":"b899f753-7000-4ec6-91ba-515b074bdab3","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c84b74d0-48ff-4a10-bc90-60d35b68c0d5","leftValue":"={{ $json.body.type }}","rightValue":"kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,2208],"id":"d52bd87f-53fd-403e-8d96-caf910ce85ec","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[208,2208],"id":"7dcc25d9-cfbb-4f8e-855c-40c0b66c0248","name":"If3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,2128],"id":"054b21b7-241c-43f7-ac83-f251c8cbea3d","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[688,2128],"id":"dcc03627-738d-4665-8ae6-8ebccb3c2133","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,2128],"id":"a3e9e700-ec77-4e40-8ec3-abcdf6d6905d","name":"If4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const body = item.json.body ?? item.json;\n\n  const nop =\n    typeof body.nop === 'string'\n      ? body.nop\n      : null;\n\n  if (!nop) {\n    throw new Error(\"Field 'nop' tidak ditemukan atau bukan string\");\n  }\n\n  // Validasi: hanya angka & panjang 18–22 digit\n  if (!/^\\d{18,22}$/.test(nop)) {\n    throw new Error(\"NOP harus berupa angka 18–22 digit, diterima: \" + nop);\n  }\n\n  // Tahun pajak: prioritas dari field, fallback dari NOP\n  const tahun =\n    typeof body.tahun_pajak === 'string'\n      ? body.tahun_pajak\n      : nop.length > 18\n        ? nop.substring(18)\n        : null;\n\n  const nop18 = nop.substring(0, 18);\n\n  const parsedNOP = {\n    kode_provinsi: nop18.substring(0, 2),\n    kode_dati2: nop18.substring(2, 4),\n    kode_kecamatan: nop18.substring(4, 7),\n    kode_kelurahan: nop18.substring(7, 10),\n    kode_blok: nop18.substring(10, 13),\n    nomor_urut: nop18.substring(13, 17),\n    kode_jenis: nop18.substring(17),\n  };\n\n  return {\n    json: {\n      jenis_pajak: body.jenis_pajak ?? 'pbb',\n      tipe_pbb: body.tipe_pbb ?? 'individu',\n\n      provinsi: body.provinsi,\n      kabupaten: body.kabupaten,\n\n      nop: nop18,\n      nop_asli: nop,\n      tahun_pajak: tahun,\n      type: 'single',\n\n      ...parsedNOP,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,2624],"id":"5944cfa9-cb54-4d82-b204-cafd9c6931a3","name":"Code3"},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"data\": $json.data } }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,2608],"id":"7dec9e28-a40c-412c-b08f-797eea1d18dd","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,2624],"id":"45499cb7-5c4a-4312-9b7f-817b944a0b98","name":"If6","alwaysOutputData":false},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN SINGLE-  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,2048],"id":"a6340129-097e-449a-89e7-5edd5e5243f5","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","tahun":"={{ $json.tahun_pajak }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[48,2208],"id":"6b092895-ab02-4392-bc69-84f7a071cdf8","name":"INQUERY TO CARTENZ"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,2048],"id":"b7ff9728-f136-4805-b7ce-20f8f3e03241","name":"Sticky Note1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"bayar-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,1824],"id":"5e1ad9b7-527c-4ade-8703-ecc673013ba5","name":"PARSING NOP TAHUN1"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.body.number }}","tahun":"={{ $json.body.year }}","type":"={{ $json.body.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[48,1824],"id":"6b9aba69-9d46-4087-a71c-a78ed206a9e1","name":"INQUERY TO CARTENZ1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,1808],"id":"b5c08586-6f61-403f-bbbf-753e2c80c5d7","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,1824],"id":"05f3e606-6e7a-4d9b-a1fe-982594b6be37","name":"IN SUCCES INQ KOL"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[688,1808],"id":"030d2d4e-aeeb-46fb-99c0-473b3883a92c","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,1808],"id":"d81c4e7d-43ca-48a6-8148-8c09eae42202","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.message.content.kategori }}","rightValue":"unknown","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,2112],"id":"b4d2a019-f503-416f-9b42-a5e7dc399eec","name":"If7"},{"parameters":{"content":"## FLOW UNTUK CEK TAGIHAN -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":340,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,2496],"id":"e134cab1-c236-4244-a298-2892abf9faaa","name":"Sticky Note6"},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,1632],"id":"0ef907a4-8776-4090-a322-4a97fc2f0d27","name":"Sticky Note7"},{"parameters":{"content":"## UNKNOWN FLOW -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":240,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,1328],"id":"b446fe0f-1d22-4b80-b889-f50d7e2ecdae","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"32d334bced2a69b11b0bdb2018c827d7"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Halo Wargi Kabupaten Sukabumi, mohon masukan Format yagn sesuai\n\n\nuntuk PBB : \n1.Cek Tagihan 320411122244455556\n2.Cek Kolektif 12345678\n\nuntuk BPHHTB : \n1. Cek BPHTB 3204000000000000000\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,1408],"id":"0f9011e8-dee6-4b1e-abb0-f920a07069dc","name":"SEND MASSAGE"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,1616],"id":"e7de5ca3-5117-4500-9441-16b5ae9685d8","name":"Sticky Note9"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.message.content.kategori }}","rightValue":"Cek Kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,2000],"id":"4ebdb2ab-a0ae-4e5d-8ac5-4557154edf07","name":"IF CEK KOLEKTIF"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-288,1072],"id":"d5835b33-6575-4444-b13f-74662157a055","name":"PARSING NOP TAHUN2"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,1072],"id":"5d86445e-7389-4422-9259-5a26859025a3","name":"INQUERY TO CARTENZ2"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL1\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,1056],"id":"06f2cf90-0cb0-406b-b2f3-5cb1a405c76f","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[64,1072],"id":"efc03f80-cac4-476c-b345-3641db0e723b","name":"IN SUCCES INQ KOL1"},{"parameters":{"content":"## FLOW UNTUK CEK KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-320,896],"id":"1a3acc59-6086-49e6-88f5-daec3d02e227","name":"Sticky Note11"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[640,1056],"id":"8354bf1d-1fa7-4bae-84bf-471450324ff4","name":"Execute Workflow4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,1056],"id":"ca9c6f6a-0967-4426-9d71-523696032cca","name":"If Workflow 4 Succes"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[624,896],"id":"0746982e-446e-4f8c-8c45-5cc0d50e01ab","name":"Sticky Note12"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.type }}","rightValue":"cek_ntpd","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1040,1872],"id":"5b1a6f4d-9c41-48a8-9b4e-4bdb91d86314","name":"IF CEK NTPD BPHTB"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Cari NOP (15–18 digit setelah 'cek bphtb')\n  const nopMatch = raw.match(/cek\\s+bphtb\\s+(\\d{15,18})/i);\n  if (!nopMatch) {\n    throw new Error(\"NOP tidak ditemukan dalam message: \" + raw);\n  }\n  const nop = nopMatch[1];\n\n  // Cari NTPD (15–20 digit setelah 'ntpd')\n  const ntpdMatch = raw.match(/ntpd\\s+(\\d{15,20})/i);\n  if (!ntpdMatch) {\n    throw new Error(\"NTPD tidak ditemukan dalam message: \" + raw);\n  }\n  const ntpd = ntpdMatch[1];\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-bphtb\",\n      nop: nop,\n      ntpd: ntpd\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,704],"id":"b1ed0b4e-a645-4c0a-a303-2d693868ec0d","name":"PARSING NOP TAHUN3"},{"parameters":{"workflowId":{"__rl":true,"value":"Xy0IHR0KPqlkFVyy","mode":"list","cachedResultName":"Kabupaten Sukabumi — CEK NTPD BPHTB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","ntpd":"={{ $json.ntpd }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ntpd","displayName":"ntpd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,704],"id":"6e60c8c0-9f08-4fdb-bb5e-7726770c727b","name":"INQUERY TO CARTENZ3"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"32d334bced2a69b11b0bdb2018c827d7"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Kami menemukan Data yang anda Cari. adapun detailnya adalah sebagai berikut\n\n{{ JSON.stringify($item(\"0\").$node[\"Edit Fields5\"].json) }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,704],"id":"498ed63f-be0a-451f-ae96-06163b05a391","name":"HTTP Request7"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"INQUERY TO CARTENZ3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,704],"id":"d8f6f655-0de3-43a9-aa7d-0d96bd967fdb","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"bphtb","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,1760],"id":"59e83346-695e-4847-84cf-52eb336e744c","name":"IF CEK NTPD BPHTB1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  // 1. Ambil body dengan aman\n  const body = item.json?.body && typeof item.json.body === 'object'\n    ? item.json.body\n    : item.json;\n\n  return {\n    json: {\n      // meta pajak\n      jenis_pajak: body.jenis_pajak ?? 'pbb',     // pbb / pbjt / bphtb\n      tipe_pbb: body.tipe_pbb ?? null,\n\n      // lokasi\n      provinsi: body.provinsi ?? null,\n      kabupaten: body.kabupaten ?? null,\n\n      // tambahan (biar konsisten)\n      type: 'cek-bphtb',\n\n      // field lain (kalau mau diteruskan)\n      nomor_billing: body.nomor_billing ?? null,\n      nomor_kolektif: body.nomor_kolektif ?? null,\n      nomor_bphtb: body.nomor_bphtb ?? null,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,544],"id":"c7e4f360-623d-40c0-b5a7-1a7f11ab2c42","name":"PARSING NOP TAHUN4"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nomor_bphtb }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-128,544],"id":"ee62be91-7034-427d-bebe-55ec44fe50ea","name":"INQUERY TO CARTENZ4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[112,528],"id":"63bfef34-6edd-4a1b-ac30-b9d82f95e7e6","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If8\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,448],"id":"c21e8faa-77ee-4d2d-9242-14e1ff558a73","name":"Edit Fields6"},{"parameters":{"workflowId":{"__rl":true,"value":"ZoO75I8x7h1ujxzb","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway BPHTB"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[592,448],"id":"fb800439-5516-4552-a310-980b6212e572","name":"Execute Workflow5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,448],"id":"9f7c0362-50ef-4eed-a2ec-1cc082688486","name":"If11"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"nomorTagihan\": \"{{ $('INQUERY TO CARTENZ4').item.json.data.nomorTagihan }}\",\n\"totalTagihan\" :\"{{ $('INQUERY TO CARTENZ4').item.json.data.totalTagihan }}\",\n\"linkPembayaran\":\"{{ $('Execute Workflow5').item.json.responseData.redirect_url }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1280,432],"id":"8344b483-f2f0-41e0-8bb6-9e257c6fa69e","name":"Respond to Webhook2"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  // 1. Ambil body dengan aman\n  const body = item.json?.body && typeof item.json.body === 'object'\n    ? item.json.body\n    : item.json;\n\n  return {\n    json: {\n      // meta pajak\n      jenis_pajak: body.jenis_pajak ?? 'pbb',     // pbb / pbjt / bphtb\n      tipe_pbb: body.tipe_pbb ?? null,\n\n      // lokasi\n      provinsi: body.provinsi ?? null,\n      kabupaten: body.kabupaten ?? null,\n\n      // tambahan (biar konsisten)\n      type: 'cek-pbjt',\n\n      // field lain (kalau mau diteruskan)\n      nomor_billing: body.nomor_billing ?? null,\n      nomor_kolektif: body.nomor_kolektif ?? null,\n      nomor_bphtb: body.nomor_bphtb ?? null,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,336],"id":"1b51abe8-ab39-4858-9921-93650134b807","name":"PARSING NOP TAHUN5"},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"data\": $json.data } }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,160],"id":"a97bfe89-ece6-4da4-afe9-9b3ed2ac865a","name":"Edit Fields7"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[576,160],"id":"44e03b55-4a7b-4e72-9aa4-f647ed65a42f","name":"Execute Workflow6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,160],"id":"d74ddd26-6f9b-4971-83e1-bc6c16da577a","name":"If12"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"b809eef6-ac09-45c2-abcc-747957d243bf","leftValue":"={{ $json.data.detail.namaPajak }}","rightValue":"Mineral Bukan Logam dan Batuan","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[96,320],"id":"e135d5dc-c153-417d-b781-df886f3ea1d7","name":"IN SUCCES INQ KOL2"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nomor_billing }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-112,336],"id":"4e10abe8-9b5d-4d47-ae31-ce91987f5199","name":"INQUERY TO CARTENZ6","alwaysOutputData":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"=","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,-224],"id":"91595218-189a-480c-96a2-c921412c3d3f","name":"IN SUCCES INQ KOL3"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[528,-288],"id":"7dd3dc57-6233-4b03-9f86-6646c088dabe","name":"Respond to Webhook4"},{"parameters":{"jsCode":"throw new Error('Data Tidak Ditemukan');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,-192],"id":"39460634-763a-404a-bc81-7c04d98dc901","name":"Code5"},{"parameters":{"jsCode":"throw new Error('Data Tidak Ditemukan');"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,16],"id":"5983cb18-a9ac-423a-abf3-b90e80e139a2","name":"Code6"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL2\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,320],"id":"445adfa5-481f-42d6-8a90-d9b8714ee16b","name":"Edit Fields8"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[560,304],"id":"73a1aa2b-96f4-485a-8d0c-cc76167f88ca","name":"Execute Workflow7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,288],"id":"d99a3b17-fbd5-495c-bfac-e10fc4b5ba87","name":"If13"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"nomorTagihan\": \"{{ $('INQUERY TO CARTENZ6').item.json.data.nomorTagihan }}\",\n \"pajak\" : \"{{ $json.responseData.customer.name }}\",\n \"detail\" : \"{{ $json.responseData.products[0].name }}\",\n\"totalTagihan\" :\"{{ $json.responseData.products[0].price }}\",\n\"linkPembayaran\":\"{{ $json.responseData.redirect_url }}\"\n} ","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1168,256],"id":"a4f6d30b-0440-47c5-a108-796c183b0329","name":"Respond to Webhook6"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"pbb","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1488,1888],"id":"216b64e2-1cac-4c7b-8732-999f89ae0fca","name":"IF PBB"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.tipe_pbb }}","rightValue":"individu","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1056,2320],"id":"9e51142a-ac8c-4c22-9283-8a64a201186f","name":"IF TYPE PBB"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","tahun":"={{ $json.tahun_pajak }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[192,2624],"id":"0b1503d5-32aa-4756-a322-c371b3ffaf9a","name":"INQUERY TO CARTENZ5"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2288,1696],"id":"a6ec8bcb-824f-4e88-8bc6-68129d0e35a6","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"pbjt","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1648,1760],"id":"3aac44cf-e9fa-419a-89c4-b7b4dd352b23","name":"IF CEK PBJT"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.body.jenis_pajak }}","rightValue":"cek_pajak_lainya","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1808,1552],"id":"d313bb73-6690-4826-a9b1-634502179033","name":"IFCEKPAJAKLAIN"}],"connections":{"If1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"INQUERY TO CARTENZ1","type":"main","index":0}],[{"node":"INQUERY TO CARTENZ","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[]]},"Code3":{"main":[[{"node":"INQUERY TO CARTENZ5","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"If6":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"INQUERY TO CARTENZ":{"main":[[{"node":"If3","type":"main","index":0}]]},"INQUERY TO CARTENZ1":{"main":[[{"node":"IN SUCCES INQ KOL","type":"main","index":0}]]},"IN SUCCES INQ KOL":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[]]},"If7":{"main":[[{"node":"SEND MASSAGE","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"IF CEK KOLEKTIF":{"main":[[{"node":"PARSING NOP TAHUN2","type":"main","index":0}],[{"node":"If7","type":"main","index":0}]]},"PARSING NOP TAHUN2":{"main":[[{"node":"INQUERY TO CARTENZ2","type":"main","index":0}]]},"INQUERY TO CARTENZ2":{"main":[[{"node":"IN SUCCES INQ KOL1","type":"main","index":0}]]},"IN SUCCES INQ KOL1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"If Workflow 4 Succes","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"If Workflow 4 Succes":{"main":[[]]},"IF CEK NTPD BPHTB":{"main":[[{"node":"PARSING NOP TAHUN3","type":"main","index":0}],[{"node":"IF CEK KOLEKTIF","type":"main","index":0}]]},"PARSING NOP TAHUN3":{"main":[[{"node":"INQUERY TO CARTENZ3","type":"main","index":0}]]},"INQUERY TO CARTENZ3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"IF CEK NTPD BPHTB1":{"main":[[{"node":"PARSING NOP TAHUN4","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB","type":"main","index":0}]]},"PARSING NOP TAHUN4":{"main":[[{"node":"INQUERY TO CARTENZ4","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Execute Workflow5","type":"main","index":0}]]},"Execute Workflow5":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"INQUERY TO CARTENZ4":{"main":[[{"node":"If8","type":"main","index":0}]]},"PARSING NOP TAHUN5":{"main":[[{"node":"INQUERY TO CARTENZ6","type":"main","index":0}]]},"Edit Fields7":{"main":[[]]},"Execute Workflow6":{"main":[[]]},"If12":{"main":[[]]},"IN SUCCES INQ KOL2":{"main":[[{"node":"Edit Fields7","type":"main","index":0}],[{"node":"Edit Fields8","type":"main","index":0}]]},"INQUERY TO CARTENZ6":{"main":[[{"node":"IN SUCCES INQ KOL2","type":"main","index":0}]]},"IN SUCCES INQ KOL3":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"Edit Fields8":{"main":[[{"node":"Execute Workflow7","type":"main","index":0}]]},"Execute Workflow7":{"main":[[{"node":"If13","type":"main","index":0}]]},"If13":{"main":[[{"node":"Respond to Webhook6","type":"main","index":0}]]},"IF PBB":{"main":[[{"node":"IF TYPE PBB","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB1","type":"main","index":0}]]},"IF TYPE PBB":{"main":[[{"node":"Code3","type":"main","index":0}]]},"INQUERY TO CARTENZ5":{"main":[[{"node":"If6","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"IFCEKPAJAKLAIN","type":"main","index":0}]]},"IFCEKPAJAKLAIN":{"main":[[],[{"node":"IF CEK PBJT","type":"main","index":0}]]},"IF CEK PBJT":{"main":[[{"node":"PARSING NOP TAHUN5","type":"main","index":0}],[{"node":"IF PBB","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 4519e110","description":""},"tags":[]}