2026-February-14/PAJAK DAERAH KITA
{"updatedAt":"2026-02-12T07:56:48.839Z","createdAt":"2026-02-12T07:24:35.394Z","id":"VK9YfVRgL4IAhPvL","name":"PAJAK DAERAH KITA","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"pajakdaerahkita","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,-48],"id":"50b05ae0-2c0e-4e2a-a674-d85976df6c85","name":"Webhook","webhookId":"7bf8e1c3-7ea6-4b92-b74b-ebd718b6cedd"},{"parameters":{"operation":"executeQuery","query":"select p.*, r.* FROM provinces p \nLEFT JOIN regencies r ON r.province_id = p.id AND r.name = '{{ $json.body.kabupaten }}'\nWHERE p.name = '{{ $json.body.provinsi }}' ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-192],"id":"6499f9f3-857e-44c6-be87-a3823322bba8","name":"Execute a SQL query","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $json.workflow_id }}","cachedResultName":"={{ $json.workflow_id }}"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,-64],"id":"204e1937-f144-4ecd-a25a-3b2e14bbb3b8","name":"Execute Workflow"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,-64],"id":"d259ef0e-a0b3-414b-af8c-27e74b792c73","name":"Merge"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,-64],"id":"d8666140-b73a-4fc9-a918-5745bc10263c","name":"Respond to Webhook7"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Execute a SQL query":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"n8n.usearkhe.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36 Edg/144.0.0.0","content-length":"208","accept":"*/*","accept-encoding":"gzip, br","accept-language":"en-US,en;q=0.9","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"103.82.126.28","cf-ipcountry":"ID","cf-ray":"9cca87c5c91efdf2-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"51cdb168-2fef-425a-8d44-abf316805538","connection":"keep-alive","content-type":"application/json","origin":"https://pajak-daerah-kita.vercel.app","priority":"u=1, i","referer":"https://pajak-daerah-kita.vercel.app/","sec-ch-ua":"\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Microsoft Edge\";v=\"144\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Windows\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"103.82.126.28","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"jenis_pajak":"pbjt","tipe_pbb":null,"nop":"320426000701901160","nomor_kolektif":null,"nomor_billing":"2511000008","nomor_bphtb":null,"tahun_pajak":"2026","provinsi":"Jawa Barat","kabupaten":"Kab. Sukabumi"},"webhookUrl":"https://n8n.usearkhe.com/webhook/pajakdaerahkita","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"83f2b891-978e-4c71-b0ce-db963bce2e72","activeVersionId":"83f2b891-978e-4c71-b0ce-db963bce2e72","triggerCount":1,"shared":[{"updatedAt":"2026-02-12T07:24:35.398Z","createdAt":"2026-02-12T07:24:35.398Z","role":"workflow:owner","workflowId":"VK9YfVRgL4IAhPvL","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-12T07:42:04.000Z","createdAt":"2026-02-12T07:41:41.319Z","versionId":"83f2b891-978e-4c71-b0ce-db963bce2e72","workflowId":"VK9YfVRgL4IAhPvL","nodes":[{"parameters":{"httpMethod":"POST","path":"pajakdaerahkita","responseMode":"responseNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,-48],"id":"50b05ae0-2c0e-4e2a-a674-d85976df6c85","name":"Webhook","webhookId":"7bf8e1c3-7ea6-4b92-b74b-ebd718b6cedd"},{"parameters":{"operation":"executeQuery","query":"select p.*, r.* FROM provinces p \nLEFT JOIN regencies r ON r.province_id = p.id AND r.name = '{{ $json.body.kabupaten }}'\nWHERE p.name = '{{ $json.body.provinsi }}' ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[48,-192],"id":"6499f9f3-857e-44c6-be87-a3823322bba8","name":"Execute a SQL query","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $json.workflow_id }}","cachedResultName":"={{ $json.workflow_id }}"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[448,-64],"id":"204e1937-f144-4ecd-a25a-3b2e14bbb3b8","name":"Execute Workflow"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[224,-64],"id":"d259ef0e-a0b3-414b-af8c-27e74b792c73","name":"Merge"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,-64],"id":"d8666140-b73a-4fc9-a918-5745bc10263c","name":"Respond to Webhook7"}],"connections":{"Webhook":{"main":[[{"node":"Execute a SQL query","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Execute a SQL query":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Respond to Webhook7","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 83f2b891","description":""},"tags":[]}