2026-February-16/Payment To Cartenz
{"updatedAt":"2026-02-12T06:00:37.832Z","createdAt":"2026-02-12T05:23:10.228Z","id":"jvQ2Bxv5GiOW0Trv","name":"Payment To Cartenz","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,592],"id":"01cb1990-fd6f-4af0-a41c-ea8d44ec44da","name":"If"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1632,416],"id":"a4221193-973e-41b7-ab16-b418e361c337","name":"When Executed by Another Workflow"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice_details","mode":"list","cachedResultName":"invoice_details"},"where":{"values":[{"column":"mch_order_no","value":"={{ $json.mch_order_no }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1424,304],"id":"3b3c49fe-4769-4a6c-b77e-a8e6ddefa04e","name":"Postgres","alwaysOutputData":true,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"mode":"combineBySql"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1216,400],"id":"c0f1ef66-f577-42a7-8cb7-8716c441425e","name":"Merge"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,560],"id":"f7256003-0589-4392-89de-4a663153bcbd","name":"Code"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,720],"id":"80499d08-e8f0-40e5-9a48-2a06aa417801","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,560],"id":"8c71a03b-652e-4aa4-a78e-c827d8af1ab2","name":"Postgres1","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"147862dc-1b5a-42de-b0a0-381e9da808e0","leftValue":"={{ $json.mch_order_no }}","rightValue":"BPHTB","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,480],"id":"3923721c-10c4-447a-8309-af920080810c","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,400],"id":"d12e203b-d2f5-4a34-b6b0-3c0ca6ef8395","name":"If4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,304],"id":"c648daba-32a0-460a-9514-28d912bd5a9a","name":"Code2"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,448],"id":"5480258e-0ab5-44c5-b185-a88ecec9abf7","name":"Code3"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,304],"id":"0e8b90e6-e6e9-4d03-8f21-abe4d8af101c","name":"Postgres2","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/propertytransfer/{{ $json.nomor_tagihan }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $('When Executed by Another Workflow').item.json.body.products[0].price }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.payment_code }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,352],"id":"03c45f6a-abe4-4523-a943-aa64e3c438d5","name":"PAY BPHTB","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun_pajak }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $('When Executed by Another Workflow').item.json.body.products[0].price }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.ref }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,576],"id":"7653b750-a86b-4301-b517-414bbfaf7211","name":"PAY PBB","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1462bd38-aca0-471b-83ac-bbbf1d7a3c2f","leftValue":"={{ $json.mch_order_no }}","rightValue":"QRIS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,656],"id":"5b3cea90-a6ed-4842-9b98-048c290ffdfe","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,928],"id":"648d760a-467b-4b4a-9ccd-ea1b3fbbf2b1","name":"If6"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,896],"id":"839a8626-cf93-4137-bc30-d409519d1b4e","name":"Code4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1056],"id":"36a42439-40b5-4e7f-a26b-a7ddf2b118db","name":"Code5"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,896],"id":"60866583-36bb-457e-ae34-ebddc149b95a","name":"Postgres3","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun_pajak }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $json.amount }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.payment_code }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,928],"id":"f906f14c-efe6-4c66-8a8d-66365fac38a9","name":"PAY PBB1","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"147862dc-1b5a-42de-b0a0-381e9da808e0","leftValue":"={{ $json.mch_order_no }}","rightValue":"PBJT","operator":{"type":"string","operation":"contains"}},{"id":"5722be25-9b0d-48d3-bd48-5b445771106d","leftValue":"={{ $json.mch_order_no }}","rightValue":"Reklame","operator":{"type":"string","operation":"contains"}},{"id":"1dcf69db-22b8-485f-82cd-ff4cb44f359b","leftValue":"={{ $json.mch_order_no }}","rightValue":"Air Tanah","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,400],"id":"cdb5f103-f334-4d38-baf0-f8308812eaa7","name":"If7"},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/additional/{{ $json.nomor_tagihan }}/bill/payment\n","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $('When Executed by Another Workflow').item.json.body.products[0].price }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.payment_code }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,128],"id":"0178a766-0231-4c04-b082-36ddceea39eb","name":"PAY PBJT","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"4d6a5ce1-b709-48b6-bb41-ea89db0dc80a","name":"If8"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"cf0b591e-a068-4952-bd17-d032783247bd","name":"Code6"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,144],"id":"ef1312ac-f89a-4afe-83bb-5a00b6afde4b","name":"Code7"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,0],"id":"246e378f-4e70-4a5a-86ee-b3e4e497d8a6","name":"Postgres4","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[272,1056],"id":"98c34d40-c499-4e39-bb17-3fd2171e7c85","name":"Postgres5","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,720],"id":"cebebd5b-ed22-4386-bf51-111f9469c47b","name":"Postgres6","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,448],"id":"24ef7ca5-b9b5-42a1-b7bd-c4960f3b89d2","name":"Postgres7","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,144],"id":"c2e32862-7996-4339-8548-04e829c88863","name":"Postgres8","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If7","type":"main","index":0}]]},"Code":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Postgres6","type":"main","index":0}]]},"If3":{"main":[[{"node":"PAY BPHTB","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"PAY BPHTB":{"main":[[{"node":"If4","type":"main","index":0}]]},"PAY PBB":{"main":[[{"node":"If","type":"main","index":0}]]},"If6":{"main":[[{"node":"Code4","type":"main","index":0}],[{"node":"Code5","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"PAY PBB1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If5":{"main":[[{"node":"PAY PBB","type":"main","index":0}],[{"node":"PAY PBB1","type":"main","index":0}]]},"If7":{"main":[[{"node":"PAY PBJT","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"If8":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"Code7","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"PAY PBJT":{"main":[[{"node":"If8","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Postgres5","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Postgres7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Postgres8","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"account_bank_code":"BRI","amount":"41600.0000","completed_time":"2026-02-06 10:17:51","create_time":"2026-02-06 10:17:51","currency":"IDR","custom_extra":"[object Object]","expiration_date":"2026-02-06 10:19:49","fee":"4500.0000","fee_currency":"IDR","is_release":"0","is_single_use":"1","mch_order_no":"PBB-3204260007019011602007-1770347075","order_no":"202602061146369824590905344_PK","payment_amount":"41600.0000","status":"3","trade_no":"202602062136661370610401280","virtual_account":"189673333000000018","sign":"e55eed2c5621318a561f822fb14036d7","timestamp":"1770347871","valid":true,"localSign":"e55eed2c5621318a561f822fb14036d7","remoteSign":"e55eed2c5621318a561f822fb14036d7"},"pairedItem":{"item":0}}]},"versionId":"046f1929-f46f-4308-ab50-a5aaae5d6074","activeVersionId":"046f1929-f46f-4308-ab50-a5aaae5d6074","triggerCount":0,"shared":[{"updatedAt":"2026-02-12T05:23:10.234Z","createdAt":"2026-02-12T05:23:10.234Z","role":"workflow:owner","workflowId":"jvQ2Bxv5GiOW0Trv","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-12T06:00:40.000Z","createdAt":"2026-02-12T06:00:37.834Z","versionId":"046f1929-f46f-4308-ab50-a5aaae5d6074","workflowId":"jvQ2Bxv5GiOW0Trv","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,592],"id":"01cb1990-fd6f-4af0-a41c-ea8d44ec44da","name":"If"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1632,416],"id":"a4221193-973e-41b7-ab16-b418e361c337","name":"When Executed by Another Workflow"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice_details","mode":"list","cachedResultName":"invoice_details"},"where":{"values":[{"column":"mch_order_no","value":"={{ $json.mch_order_no }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-1424,304],"id":"3b3c49fe-4769-4a6c-b77e-a8e6ddefa04e","name":"Postgres","alwaysOutputData":true,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"mode":"combineBySql"},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-1216,400],"id":"c0f1ef66-f577-42a7-8cb7-8716c441425e","name":"Merge"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,560],"id":"f7256003-0589-4392-89de-4a663153bcbd","name":"Code"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,720],"id":"80499d08-e8f0-40e5-9a48-2a06aa417801","name":"Code1"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,560],"id":"8c71a03b-652e-4aa4-a78e-c827d8af1ab2","name":"Postgres1","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"147862dc-1b5a-42de-b0a0-381e9da808e0","leftValue":"={{ $json.mch_order_no }}","rightValue":"BPHTB","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,480],"id":"3923721c-10c4-447a-8309-af920080810c","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,400],"id":"d12e203b-d2f5-4a34-b6b0-3c0ca6ef8395","name":"If4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,304],"id":"c648daba-32a0-460a-9514-28d912bd5a9a","name":"Code2"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,448],"id":"5480258e-0ab5-44c5-b185-a88ecec9abf7","name":"Code3"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,304],"id":"0e8b90e6-e6e9-4d03-8f21-abe4d8af101c","name":"Postgres2","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/propertytransfer/{{ $json.nomor_tagihan }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $('When Executed by Another Workflow').item.json.body.products[0].price }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.payment_code }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,352],"id":"03c45f6a-abe4-4523-a943-aa64e3c438d5","name":"PAY BPHTB","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun_pajak }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $('When Executed by Another Workflow').item.json.body.products[0].price }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.ref }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,576],"id":"7653b750-a86b-4301-b517-414bbfaf7211","name":"PAY PBB","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1462bd38-aca0-471b-83ac-bbbf1d7a3c2f","leftValue":"={{ $json.mch_order_no }}","rightValue":"QRIS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-608,656],"id":"5b3cea90-a6ed-4842-9b98-048c290ffdfe","name":"If5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-208,928],"id":"648d760a-467b-4b4a-9ccd-ea1b3fbbf2b1","name":"If6"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,896],"id":"839a8626-cf93-4137-bc30-d409519d1b4e","name":"Code4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,1056],"id":"36a42439-40b5-4e7f-a26b-a7ddf2b118db","name":"Code5"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,896],"id":"60866583-36bb-457e-ae34-ebddc149b95a","name":"Postgres3","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun_pajak }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $json.amount }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.payment_code }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-400,928],"id":"f906f14c-efe6-4c66-8a8d-66365fac38a9","name":"PAY PBB1","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"147862dc-1b5a-42de-b0a0-381e9da808e0","leftValue":"={{ $json.mch_order_no }}","rightValue":"PBJT","operator":{"type":"string","operation":"contains"}},{"id":"5722be25-9b0d-48d3-bd48-5b445771106d","leftValue":"={{ $json.mch_order_no }}","rightValue":"Reklame","operator":{"type":"string","operation":"contains"}},{"id":"1dcf69db-22b8-485f-82cd-ff4cb44f359b","leftValue":"={{ $json.mch_order_no }}","rightValue":"Air Tanah","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,400],"id":"cdb5f103-f334-4d38-baf0-f8308812eaa7","name":"If7"},{"parameters":{"method":"POST","url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/additional/{{ $json.nomor_tagihan }}/bill/payment\n","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"nomorTagihan\": \"{{ $json.nomor_tagihan }}\",\n    \"totalTagihan\": {{ $json.total_tagihan }},\n    \"denda\": {{ $json.denda }},\n    \"jumlahBayar\": {{ $('When Executed by Another Workflow').item.json.body.products[0].price }},\n    \"tanggalPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"tanggalRekonPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.created_at }}\",\n    \"kodeTransaksiPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.payment_code }}\",\n    \"detailLokasiPembayaran\": \"PAYMENT GATEWAY\",\n    \"channelPembayaran\": \"{{ $('When Executed by Another Workflow').item.json.body.channel }}\",\n    \"kodeBankTunggal\": \"77\",\n    \"kodeBankPersepsi\": \"01\",\n    \"kodeTempatPembayaran\": \"01\",\n    \"pembayaranKe\": {{ $json.pembayaran_ke }},\n    \"angsuranKe\": {{ $json.angsuran_ke }}\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-432,128],"id":"0178a766-0231-4c04-b082-36ddceea39eb","name":"PAY PBJT","alwaysOutputData":false,"executeOnce":true,"credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,96],"id":"4d6a5ce1-b709-48b6-bb41-ea89db0dc80a","name":"If8"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"cf0b591e-a068-4952-bd17-d032783247bd","name":"Code6"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  item.json.invoice_id = item.json?.data?.nomorTagihan || $('Postgres').first().json.invoice_id ;\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,144],"id":"ef1312ac-f89a-4afe-83bb-5a00b6afde4b","name":"Code7"},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ACCEPTED' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,0],"id":"246e378f-4e70-4a5a-86ee-b3e4e497d8a6","name":"Postgres4","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[272,1056],"id":"98c34d40-c499-4e39-bb17-3fd2171e7c85","name":"Postgres5","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,720],"id":"cebebd5b-ed22-4386-bf51-111f9469c47b","name":"Postgres6","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,448],"id":"24ef7ca5-b9b5-42a1-b7bd-c4960f3b89d2","name":"Postgres7","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE invoices SET status = 'ERROR' WHERE id = '{{ $('Postgres').item.json.invoice_id }}'","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[288,144],"id":"c2e32862-7996-4339-8548-04e829c88863","name":"Postgres8","alwaysOutputData":false,"credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Postgres","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If7","type":"main","index":0}]]},"Code":{"main":[[{"node":"Postgres1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Postgres6","type":"main","index":0}]]},"If3":{"main":[[{"node":"PAY BPHTB","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code2","type":"main","index":0}],[{"node":"Code3","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Postgres2","type":"main","index":0}]]},"PAY BPHTB":{"main":[[{"node":"If4","type":"main","index":0}]]},"PAY PBB":{"main":[[{"node":"If","type":"main","index":0}]]},"If6":{"main":[[{"node":"Code4","type":"main","index":0}],[{"node":"Code5","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Postgres3","type":"main","index":0}]]},"PAY PBB1":{"main":[[{"node":"If6","type":"main","index":0}]]},"If5":{"main":[[{"node":"PAY PBB","type":"main","index":0}],[{"node":"PAY PBB1","type":"main","index":0}]]},"If7":{"main":[[{"node":"PAY PBJT","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"If8":{"main":[[{"node":"Code6","type":"main","index":0}],[{"node":"Code7","type":"main","index":0}]]},"Code6":{"main":[[{"node":"Postgres4","type":"main","index":0}]]},"PAY PBJT":{"main":[[{"node":"If8","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Postgres5","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Postgres7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Postgres8","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 046f1929","description":""},"tags":[]}