2026-February-18/VA Service
{"updatedAt":"2026-01-23T04:39:48.920Z","createdAt":"2026-01-22T04:59:05.068Z","id":"SGTuzm1yjVeIZ5lr","name":"VA Service","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,-16],"id":"717191e9-e81c-4d0e-bc5a-4b14f519b65b","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const requestBody = {\n  account_bank_code: \"BNC\",\n  account_name: \"Padang Bopet Benhil\",\n  account_number: \"0611116411\",\n  account_phone: \"628551953373\",\n  amount: \"10000\",\n  app_id: \"1000101398\",\n  custom_extra: \"\",\n  mch_id: \"1000128\", // ⬅️ WAJIB ADA\n  mch_order_no: \"24782416as341234568971\",\n  notes: \"bayar nasi padang\"\n};\n\n// sort key ASC (TreeMap behavior)\nconst sortedKeys = Object.keys(requestBody).sort();\nlet buffer = '';\n\nfor (const key of sortedKeys) {\n  buffer += `${key}=${requestBody[key]}__`;\n}\n\nconst strMap = buffer.slice(0, -2);\nconst timestamp = Math.floor(Date.now() / 1000);\n\n// 🔥 INI YANG PALING PENTING\nconst TOKEN = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\nconst originalString = `${TOKEN}*|*${strMap}@!@${timestamp}`;\n\nreturn [{\n  json: {\n    strMap,\n    timestamp,\n    originalString\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-16],"id":"948687d5-2171-4cae-9673-ed35555a4a79","name":"Code in JavaScript"},{"parameters":{"value":"={{$json.originalString}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[80,-16],"id":"d8d02ae0-ec6d-4f9a-aa8c-64aed92147e3","name":"Crypto"},{"parameters":{"value":"={{$json.data}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[224,-16],"id":"e5504c4b-13d5-49a5-b33a-802725dc6f6f","name":"Crypto1"},{"parameters":{"jsCode":"const strMap = $json.strMap;\nconst sign = $json.data;\nconst timestamp = $json.timestamp;\n\nconst finalStr =\n  `${strMap}__sign=${sign}__timestamp=${timestamp}`;\n\nreturn [{\n  json: {\n    finalStr\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-16],"id":"71301247-e96e-4080-8954-66d0d0bf8f00","name":"Append TIme &Time"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/encrypt","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.finalStr }}"}]},"options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,-16],"id":"9313e94d-7111-41d7-bca5-dd2f5be40550","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"data\": {\n\"partner_key\": \"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u\",\n\"en_data\": \"{{ $json.en_data }}\"\n}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-16],"id":"436c009f-f068-46a8-9fae-64c84d3ef9fe","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox-api.monetapay.net/v1.0.0/virtual_account","sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"data\": {\n      \"partner_key\":\"{{ $json.data.partner_key }}\" ,\n      \"en_data\": \"{{ $json.data.en_data }}\"\n    }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,-16],"id":"29d21d3a-817e-4eda-a71a-1005105d5249","name":"HTTP Request1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Append TIme &Time","type":"main","index":0}]]},"Append TIme &Time":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"325cdc1d-e622-4957-9d8b-e5ba397a8159","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-01-22T04:59:05.074Z","createdAt":"2026-01-22T04:59:05.074Z","role":"workflow:owner","workflowId":"SGTuzm1yjVeIZ5lr","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":null,"tags":[]}