2026-February-11/Payment Link Service
{"updatedAt":"2026-02-04T09:20:24.636Z","createdAt":"2026-01-23T04:40:07.521Z","id":"cghn21j3WXiZVmO7","name":"Payment Link Service","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const data = $input.first().json.data;\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst nomorTagihan = String(data.nomorTagihan);\nconst mchOrderNo = `PBB-${nomorTagihan}-${timestamp}`;\n\nconst requestBody = {\n  app_id: \"1000101398\",\n  sub_mch_id: \"\",\n\n  mch_order_no: mchOrderNo,\n  amount: data.totalTagihan,\n  currency: \"IDR\",\n\n  regular_bank_codes: \"BNI,BRI,MANDIRI,PERMATA,DANAMON,CIMB\",\n  ewallet_bank_codes: \"\",\n  qris_bank_code: \"\",\n  otc_bank_codes: \"\",\n  cc_bank_codes: \"\",\n\n  sender_name: \"PBB BAPENDA KAB A\",\n  account_name: \"PBB BAPENDA KAB A\",\n  account_bank_code: \"\",\n  fixed_bank_code: \"0\",\n  account_phone: \"012345678\",\n\n  expire_seconds: \"900\",\n  terminal_type: \"WEB\",\n\n  failed_redirect_url: \"https://usearkhe.com/payment/failed\",\n  success_redirect_url: \"https://usearkhe.com/payment/success\",\n\n  product_id: \"PBB\",\n  product_name: \"PBB - \" + nomorTagihan,\n  product_category: \"PAJAK\",\n  product_sub_category: \"PBB\",\n  product_price: data.totalTagihan,\n  product_quantity: 1,\n  product_type: \"PRODUCT\",\n  product_url: \"https://usearkhe.com/product/wireless-earphone\",\n  product_description: \"Pembayaran Pajak PBB\",\n\n  custom_extra: {\n    customer_id: nomorTagihan\n  },\n};\n\n// sort key ASC\nconst sortedKeys = Object.keys(requestBody).sort();\nlet buffer = '';\n\nfor (const key of sortedKeys) {\n  buffer += `${key}=${requestBody[key]}__`;\n}\n\nconst strMap = buffer.slice(0, -2);\n\n// token signature\nconst TOKEN = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\nconst originalString = `${TOKEN}*|*${strMap}@!@${timestamp}`;\n\nreturn [{\n  json: {\n    mch_order_no: mchOrderNo,\n    strMap,\n    timestamp,\n    originalString\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-16],"id":"d51508e0-9dfa-47b4-8615-de10e3d0af88","name":"Code in JavaScript"},{"parameters":{"value":"={{$json.originalString}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[80,-16],"id":"65ceb8a0-cbed-4396-a625-7346c8f1cc9b","name":"Crypto"},{"parameters":{"value":"={{$json.data}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[224,-16],"id":"537f58bc-cdde-4b2b-94c3-105e2f3b0b43","name":"Crypto1"},{"parameters":{"jsCode":"const strMap = $json.strMap;\nconst sign = $json.data;\nconst timestamp = $json.timestamp;\n\nconst finalStr =\n  `${strMap}__sign=${sign}__timestamp=${timestamp}`;\n\nreturn [{\n  json: {\n    finalStr\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-16],"id":"a979aae7-4fb4-43d0-ba2d-a40951cbfd32","name":"Append TIme &Time"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/encrypt","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.finalStr }}"}]},"options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,-16],"id":"d7e4bb80-53b8-4755-bd0e-95ed8fc984d9","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"data\": {\n\"partner_key\": \"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u\",\n\"en_data\": \"{{ $json.en_data }}\"\n}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-16],"id":"c593a11e-ec69-4165-ac06-41122c235040","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox-api.monetapay.net/v1.0.0/payment-link/create","sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"data\": {\n      \"partner_key\":\"{{ $json.data.partner_key }}\" ,\n      \"en_data\": \"{{ $json.data.en_data }}\"\n    }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,-16],"id":"e63ae2b0-1adb-4923-9b11-0f7e84b27149","name":"HTTP Request1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-48],"id":"df72be35-ff8e-4f3d-9e44-695881cc2666","name":"When Executed by Another Workflow"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Append TIme &Time","type":"main","index":0}]]},"Append TIme &Time":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"mode":"INQ","code":"00","message":"Success","data":{"nomorTagihan":"3204260007019011602012","totalTagihan":66304,"denda":21504,"tanggalJatuhTempo":"2012-10-01T00:00:00Z","pembayaranKe":1,"angsuranKe":0,"clientCode":"3204","detail":{"nop":"320426000701901160","tahunPajak":2012,"pokok":44800,"dendaAdministrasi":21504,"alamatOp":"KP CIKADU I  -","rtOp":"027","rwOp":"07","kelurahanOp":"CARINGIN","kecamatanOp":"GEGERBITUNG","kabupatenKotaOp":"SUKABUMI","provinsiOp":"JAWA BARAT","namaWp":"WAWAN","alamatWp":"KP CARINGIN -","kelurahanWp":"CARINGIN","kecamatanWp":"","kabupatenKotaWp":"SUKABUMI","luasTanah":3200,"luasBangunan":0,"genBillNumber":null,"pengurangPokok":0,"pengurangDenda":0}}},"pairedItem":{"item":0}}]},"versionId":"15647ca1-ec14-4f49-8671-e8a806b6303a","activeVersionId":"a6096f5e-2a3e-4c2b-890a-f243015010b7","triggerCount":0,"shared":[{"updatedAt":"2026-01-23T04:40:07.530Z","createdAt":"2026-01-23T04:40:07.530Z","role":"workflow:owner","workflowId":"cghn21j3WXiZVmO7","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-01-29T03:31:07.000Z","createdAt":"2026-01-29T03:31:05.683Z","versionId":"a6096f5e-2a3e-4c2b-890a-f243015010b7","workflowId":"cghn21j3WXiZVmO7","nodes":[{"parameters":{"jsCode":"const data = $input.first().json.data;\nconst timestamp = Math.floor(Date.now() / 1000);\n\nconst nomorTagihan = String(data.nomorTagihan);\nconst mchOrderNo = `PBB-${nomorTagihan}-${timestamp}`;\n\nconst requestBody = {\n  app_id: \"1000101398\",\n  sub_mch_id: \"\",\n\n  mch_order_no: mchOrderNo,\n  amount: data.totalTagihan,\n  currency: \"IDR\",\n\n  regular_bank_codes: \"BNI,BRI\",\n  ewallet_bank_codes: \"DANA,OVO\",\n  qris_bank_code: \"QRIS\",\n  otc_bank_codes: \"ALFAMART\",\n  cc_bank_codes: \"CREDIT_CARD\",\n\n  sender_name: \"PBB BAPENDA KAB A\",\n  account_name: \"PBB BAPENDA KAB A\",\n  account_bank_code: \"\",\n  fixed_bank_code: \"0\",\n  account_phone: \"012345678\",\n\n  expire_seconds: \"900\",\n  terminal_type: \"WEB\",\n\n  failed_redirect_url: \"https://usearkhe.com/payment/failed\",\n  success_redirect_url: \"https://usearkhe.com/payment/success\",\n\n  product_id: \"PBB\",\n  product_name: \"PBB - \" + nomorTagihan,\n  product_category: \"PAJAK\",\n  product_sub_category: \"PBB\",\n  product_price: data.totalTagihan,\n  product_quantity: 1,\n  product_type: \"PRODUCT\",\n  product_url: \"https://usearkhe.com/product/wireless-earphone\",\n  product_description: \"Pembayaran Pajak PBB\",\n\n  custom_extra: {\n    customer_id: nomorTagihan\n  },\n};\n\n// sort key ASC\nconst sortedKeys = Object.keys(requestBody).sort();\nlet buffer = '';\n\nfor (const key of sortedKeys) {\n  buffer += `${key}=${requestBody[key]}__`;\n}\n\nconst strMap = buffer.slice(0, -2);\n\n// token signature\nconst TOKEN = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\nconst originalString = `${TOKEN}*|*${strMap}@!@${timestamp}`;\n\nreturn [{\n  json: {\n    mch_order_no: mchOrderNo,\n    strMap,\n    timestamp,\n    originalString\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-48,-16],"id":"d51508e0-9dfa-47b4-8615-de10e3d0af88","name":"Code in JavaScript"},{"parameters":{"value":"={{$json.originalString}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[80,-16],"id":"65ceb8a0-cbed-4396-a625-7346c8f1cc9b","name":"Crypto"},{"parameters":{"value":"={{$json.data}}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[224,-16],"id":"537f58bc-cdde-4b2b-94c3-105e2f3b0b43","name":"Crypto1"},{"parameters":{"jsCode":"const strMap = $json.strMap;\nconst sign = $json.data;\nconst timestamp = $json.timestamp;\n\nconst finalStr =\n  `${strMap}__sign=${sign}__timestamp=${timestamp}`;\n\nreturn [{\n  json: {\n    finalStr\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,-16],"id":"a979aae7-4fb4-43d0-ba2d-a40951cbfd32","name":"Append TIme &Time"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/encrypt","sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $json.finalStr }}"}]},"options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[528,-16],"id":"d7e4bb80-53b8-4755-bd0e-95ed8fc984d9","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n\"data\": {\n\"partner_key\": \"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u\",\n\"en_data\": \"{{ $json.en_data }}\"\n}\n} ","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[736,-16],"id":"c593a11e-ec69-4165-ac06-41122c235040","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://sandbox-api.monetapay.net/v1.0.0/payment-link/create","sendBody":true,"specifyBody":"json","jsonBody":"=  {\n    \"data\": {\n      \"partner_key\":\"{{ $json.data.partner_key }}\" ,\n      \"en_data\": \"{{ $json.data.en_data }}\"\n    }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[944,-16],"id":"e63ae2b0-1adb-4923-9b11-0f7e84b27149","name":"HTTP Request1"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-240,-48],"id":"df72be35-ff8e-4f3d-9e44-695881cc2666","name":"When Executed by Another Workflow"}],"connections":{"Code in JavaScript":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Append TIme &Time","type":"main","index":0}]]},"Append TIme &Time":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version a6096f5e","description":""},"tags":[]}