2026-February-15/Backup To Git
{"updatedAt":"2026-02-05T07:21:12.381Z","createdAt":"2026-01-29T02:49:37.027Z","id":"r7116Mod1basCEnA","name":"Backup To Git","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"042f5588-0cdb-4660-902a-fcefa20b6daf","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[768,-128],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"38320bb1-e9ea-4d9e-b849-e1e365dfc155","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[288,256],"typeVersion":1},{"parameters":{},"id":"6761cf01-80c1-40ff-8cb7-6b409ef7b2bf","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[352,640],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"cc5a64af-90c8-4059-93aa-30710be9203e","name":"n8n","type":"n8n-nodes-base.n8n","position":[1168,-32],"typeVersion":1,"credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"e5f99d13-b46f-4b48-a5c3-93fffada6598","name":"Return","type":"n8n-nodes-base.set","position":[2016,464],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"845beeec-d1fc-433e-8e98-d539575c9c17","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[976,336],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"47339753-3b8e-4cbd-8441-3056c8128a70","name":"If file too large","type":"n8n-nodes-base.if","position":[736,352],"typeVersion":2},{"parameters":{},"id":"3374ce74-6b64-40ab-aa98-317b50711d47","name":"Merge Items","type":"n8n-nodes-base.merge","position":[736,624],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"ef08fdd0-0e2d-4085-8a9b-5dab84a994ea","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[928,624],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"66793969-5848-4076-9df4-d5f8179788ef","name":"Check Status","type":"n8n-nodes-base.switch","position":[1328,624],"typeVersion":1},{"parameters":{},"id":"251ebe6a-c707-457c-b964-56e51701a440","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1552,464],"typeVersion":1},{"parameters":{},"id":"abda4cff-7463-4524-99a0-d3620de99fe0","name":"File is different","type":"n8n-nodes-base.noOp","position":[1552,624],"typeVersion":1},{"parameters":{},"id":"a374179a-0c2d-4676-953b-60ec31b8624a","name":"File is new","type":"n8n-nodes-base.noOp","position":[1552,816],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"569a5fd2-a0f2-4205-a1c8-10851d7cf5ae","name":"Create new file","type":"n8n-nodes-base.github","position":[1776,816],"typeVersion":1,"webhookId":"d0d22afe-4aa5-4fb7-b0ce-a66e1f292f81","credentials":{"githubApi":{"id":"L6PWS3bxrxgQcJdq","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"71d3b4e7-7d03-4853-9f0b-b54eb65ab901","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1776,624],"typeVersion":1,"webhookId":"776ad729-09a4-42fd-9dba-55afd93ffee9","credentials":{"githubApi":{"id":"L6PWS3bxrxgQcJdq","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"4323ad57-9050-4632-8206-c9d7e7a92f4e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1376,-32],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"54dc932f-fa83-411f-b702-bca7ef09a152","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[768,80],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"81b6c04b-4aab-4f27-acbe-d3e1e45b94dc","name":"Create sub path","type":"n8n-nodes-base.set","position":[1136,624],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"3ab5fd5b-bcd4-493d-85bc-eb767b37c060","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[288,-208],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"cc4e03a0-d1fb-4721-a352-769bdc7f4489","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[736,-208],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#gaenta-backup-n8n","mode":"name"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"ad6da310-c650-4743-8319-f8542b8d8f24","name":"Starting Message","type":"n8n-nodes-base.slack","position":[1008,-32],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2,"credentials":{"slackApi":{"id":"LGlbkndLiWkzUjiv","name":"Slack account"}}},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"097a811d-ae34-4970-978c-88010fa39e53","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1600,-16],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"5eaecda3-ef90-48d0-9215-5ae8a48e56f7","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1600,-192],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2,"credentials":{"slackApi":{"id":"LGlbkndLiWkzUjiv","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"9e585a09-bee1-49fb-92d3-d26ada90bd4e","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1792,16],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2,"credentials":{"slackApi":{"id":"LGlbkndLiWkzUjiv","name":"Slack account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"5a4eaa32-6067-4bae-8a4c-4b26d0cb40fe","name":"Get file data","type":"n8n-nodes-base.github","position":[528,352],"typeVersion":1,"alwaysOutputData":true,"webhookId":"64aa034e-248a-46b4-b2c3-0002d69df27c","credentials":{"githubApi":{"id":"L6PWS3bxrxgQcJdq","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"35f52ee2-1fc2-4eed-82c4-f0c09d88e866","name":"Config","type":"n8n-nodes-base.set","position":[528,640],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3219f563-1b43-4dd3-b0ba-e1d0f4cf52fb","activeVersionId":"0eb4722e-1d60-4921-afa4-5b908f7b8c16","triggerCount":1,"shared":[{"updatedAt":"2026-01-29T02:49:37.049Z","createdAt":"2026-01-29T02:49:37.049Z","role":"workflow:owner","workflowId":"r7116Mod1basCEnA","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-04T02:48:28.000Z","createdAt":"2026-02-04T02:48:26.849Z","versionId":"0eb4722e-1d60-4921-afa4-5b908f7b8c16","workflowId":"r7116Mod1basCEnA","nodes":[{"parameters":{},"id":"042f5588-0cdb-4660-902a-fcefa20b6daf","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[768,-128],"typeVersion":1},{"parameters":{"content":"## Subworkflow","height":731.7039821513649,"width":1910.7813046051347,"color":6},"id":"38320bb1-e9ea-4d9e-b849-e1e365dfc155","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[288,256],"typeVersion":1},{"parameters":{},"id":"6761cf01-80c1-40ff-8cb7-6b409ef7b2bf","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[352,640],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"cc5a64af-90c8-4059-93aa-30710be9203e","name":"n8n","type":"n8n-nodes-base.n8n","position":[1168,-32],"typeVersion":1,"credentials":{"n8nApi":{"id":"rMVD18AsJ6YVHvJ3","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"e5f99d13-b46f-4b48-a5c3-93fffada6598","name":"Return","type":"n8n-nodes-base.set","position":[2016,464],"typeVersion":3.3},{"parameters":{"url":"={{ $json.download_url }}","options":{}},"id":"845beeec-d1fc-433e-8e98-d539575c9c17","name":"Get File","type":"n8n-nodes-base.httpRequest","position":[976,336],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"45ce825e-9fa6-430c-8931-9aaf22c42585","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""},{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"47339753-3b8e-4cbd-8441-3056c8128a70","name":"If file too large","type":"n8n-nodes-base.if","position":[736,352],"typeVersion":2},{"parameters":{},"id":"3374ce74-6b64-40ab-aa98-317b50711d47","name":"Merge Items","type":"n8n-nodes-base.merge","position":[736,624],"typeVersion":2},{"parameters":{"jsCode":"const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"},"id":"ef08fdd0-0e2d-4085-8a9b-5dab84a994ea","name":"isDiffOrNew","type":"n8n-nodes-base.code","position":[928,624],"typeVersion":1},{"parameters":{"dataType":"string","value1":"={{$json.github_status}}","rules":{"rules":[{"value2":"same"},{"value2":"different","output":1},{"value2":"new","output":2}]}},"id":"66793969-5848-4076-9df4-d5f8179788ef","name":"Check Status","type":"n8n-nodes-base.switch","position":[1328,624],"typeVersion":1},{"parameters":{},"id":"251ebe6a-c707-457c-b964-56e51701a440","name":"Same file - Do nothing","type":"n8n-nodes-base.noOp","position":[1552,464],"typeVersion":1},{"parameters":{},"id":"abda4cff-7463-4524-99a0-d3620de99fe0","name":"File is different","type":"n8n-nodes-base.noOp","position":[1552,624],"typeVersion":1},{"parameters":{},"id":"a374179a-0c2d-4676-953b-60ec31b8624a","name":"File is new","type":"n8n-nodes-base.noOp","position":[1552,816],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"569a5fd2-a0f2-4205-a1c8-10851d7cf5ae","name":"Create new file","type":"n8n-nodes-base.github","position":[1776,816],"typeVersion":1,"webhookId":"d0d22afe-4aa5-4fb7-b0ce-a66e1f292f81","credentials":{"githubApi":{"id":"L6PWS3bxrxgQcJdq","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json","fileContent":"={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}","commitMessage":"={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"},"id":"71d3b4e7-7d03-4853-9f0b-b54eb65ab901","name":"Edit existing file","type":"n8n-nodes-base.github","position":[1776,624],"typeVersion":1,"webhookId":"776ad729-09a4-42fd-9dba-55afd93ffee9","credentials":{"githubApi":{"id":"L6PWS3bxrxgQcJdq","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"4323ad57-9050-4632-8206-c9d7e7a92f4e","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[1376,-32],"typeVersion":3},{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":33}]}},"id":"54dc932f-fa83-411f-b702-bca7ef09a152","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[768,80],"typeVersion":1.2},{"parameters":{"assignments":{"assignments":[{"id":"dae43d3b-56e5-4098-b602-862ebf5cd073","name":"subPath","type":"string","value":"={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"}]},"includeOtherFields":true,"options":{}},"id":"81b6c04b-4aab-4f27-acbe-d3e1e45b94dc","name":"Create sub path","type":"n8n-nodes-base.set","position":[1136,624],"typeVersion":3.3},{"parameters":{"content":"## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.","height":417,"width":385,"color":4},"id":"3ab5fd5b-bcd4-493d-85bc-eb767b37c060","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[288,-208],"typeVersion":1},{"parameters":{"content":"## Main workflow loop","height":416.1856906618075,"width":1272.6408145680155,"color":7},"id":"cc4e03a0-d1fb-4721-a352-769bdc7f4489","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[736,-208],"typeVersion":1},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#gaenta-backup-n8n","mode":"name"},"text":"=:information_source:  Starting Workflow Backup [{{ $execution.id }}]","otherOptions":{"includeLinkToWorkflow":false}},"id":"ad6da310-c650-4743-8319-f8542b8d8f24","name":"Starting Message","type":"n8n-nodes-base.slack","position":[1008,-32],"webhookId":"c02eb407-5547-4aa0-9ebf-46dab67b63b6","typeVersion":2.2,"credentials":{"slackApi":{"id":"LGlbkndLiWkzUjiv","name":"Slack account"}}},{"parameters":{"workflowId":"={{ $workflow.id }}","mode":"each","options":{}},"id":"097a811d-ae34-4970-978c-88010fa39e53","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","position":[1600,-16],"typeVersion":1,"onError":"continueErrorOutput"},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.","otherOptions":{}},"id":"5eaecda3-ef90-48d0-9215-5ae8a48e56f7","name":"Completed Notification","type":"n8n-nodes-base.slack","position":[1600,-192],"webhookId":"a0c6e8c8-5d71-40fa-b02b-63a7ed5726c4","executeOnce":true,"typeVersion":2.2,"credentials":{"slackApi":{"id":"LGlbkndLiWkzUjiv","name":"Slack account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"name","value":"#notifications"},"text":"=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}","otherOptions":{"includeLinkToWorkflow":false}},"id":"9e585a09-bee1-49fb-92d3-d26ada90bd4e","name":"Failed Flows","type":"n8n-nodes-base.slack","position":[1792,16],"webhookId":"2a092edb-de12-490f-931b-34d70e7d7696","typeVersion":2.2,"credentials":{"slackApi":{"id":"LGlbkndLiWkzUjiv","name":"Slack account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_owner }}"},"repository":{"__rl":true,"mode":"","value":"={{ $('Config').first().item.repo_name }}"},"filePath":"={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"5a4eaa32-6067-4bae-8a4c-4b26d0cb40fe","name":"Get file data","type":"n8n-nodes-base.github","position":[528,352],"typeVersion":1,"alwaysOutputData":true,"webhookId":"64aa034e-248a-46b4-b2c3-0002d69df27c","credentials":{"githubApi":{"id":"L6PWS3bxrxgQcJdq","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"8f6d1741-772f-462a-811f-4c334185e4f0","name":"repo_owner","type":"string","value":"={{ $vars.repo_owner }}"},{"id":"8cac215c-4fd7-422f-9fd2-6b2d1e5e0383","name":"repo_name","type":"string","value":"={{ $vars.repo_name }}"},{"id":"eee305e9-4164-462a-86bd-80f0d58a31ae","name":"repo_path","type":"string","value":"={{ $vars.repo_path }}"}]},"includeOtherFields":true,"options":{}},"id":"35f52ee2-1fc2-4eed-82c4-f0c09d88e866","name":"Config","type":"n8n-nodes-base.set","position":[528,640],"typeVersion":3.4}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Config":{"main":[[{"node":"Get file data","type":"main","index":0},{"node":"Merge Items","type":"main","index":1}]]},"Get File":{"main":[[{"node":"Merge Items","type":"main","index":0}]]},"File is new":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Merge Items":{"main":[[{"node":"isDiffOrNew","type":"main","index":0}]]},"isDiffOrNew":{"main":[[{"node":"Create sub path","type":"main","index":0}]]},"Check Status":{"main":[[{"node":"Same file - Do nothing","type":"main","index":0}],[{"node":"File is different","type":"main","index":0}],[{"node":"File is new","type":"main","index":0}]]},"Failed Flows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file too large","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Create sub path":{"main":[[{"node":"Check Status","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Completed Notification","type":"main","index":0}],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Failed Flows","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Starting Message":{"main":[[{"node":"n8n","type":"main","index":0}]]},"File is different":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"If file too large":{"main":[[{"node":"Get File","type":"main","index":0}],[{"node":"Merge Items","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Starting Message","type":"main","index":0}]]},"Same file - Do nothing":{"main":[[{"node":"Return","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Config","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 0eb4722e","description":""},"tags":[]}