2026-February-15/Backup To GDrive
{"updatedAt":"2026-02-07T00:26:55.764Z","createdAt":"2026-02-05T10:26:01.223Z","id":"JU9HvOlWOW59g3Jw","name":"Backup To GDrive","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[608,256],"id":"79ac10e7-2d09-4a29-9698-836fb4310203","name":"Schedule Trigger"},{"parameters":{"resource":"folder","name":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR","mode":"list","cachedResultName":"BACKUP-N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,256],"id":"d7a7e91f-fd4f-471a-a2ff-d406d85ff472","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1088,256],"id":"dd1d2849-d3f7-4d52-a220-ec0d77461a27","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1296,256],"id":"aacb35b0-f790-4fe6-83b6-71592b7e1378","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,256],"id":"9d310437-24c9-4c90-85d5-96d2f82556c9","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Asia/Jakarta","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b29f3592-af2d-4439-82d0-23a1276154df","activeVersionId":"b29f3592-af2d-4439-82d0-23a1276154df","triggerCount":1,"shared":[{"updatedAt":"2026-02-05T10:26:01.229Z","createdAt":"2026-02-05T10:26:01.229Z","role":"workflow:owner","workflowId":"JU9HvOlWOW59g3Jw","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-07T00:26:58.000Z","createdAt":"2026-02-07T00:26:55.765Z","versionId":"b29f3592-af2d-4439-82d0-23a1276154df","workflowId":"JU9HvOlWOW59g3Jw","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[608,256],"id":"79ac10e7-2d09-4a29-9698-836fb4310203","name":"Schedule Trigger"},{"parameters":{"resource":"folder","name":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR","mode":"list","cachedResultName":"BACKUP-N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,256],"id":"d7a7e91f-fd4f-471a-a2ff-d406d85ff472","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1088,256],"id":"dd1d2849-d3f7-4d52-a220-ec0d77461a27","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1296,256],"id":"aacb35b0-f790-4fe6-83b6-71592b7e1378","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,256],"id":"9d310437-24c9-4c90-85d5-96d2f82556c9","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version b29f3592","description":""},"tags":[]}