2026-February-20/Inquery To Cartenz
{"updatedAt":"2026-02-19T03:46:12.672Z","createdAt":"2026-01-29T03:04:30.563Z","id":"1HNjXCLrFesUMYbS","name":"Inquery To Cartenz","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,528],"id":"c829a330-6b3c-4190-8ec1-1b606fde1677","name":"If"},{"parameters":{"workflowInputs":{"values":[{"name":"nop"},{"name":"tahun"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2048,48],"id":"8514b6e9-1a21-42cd-9f87-6f3dbc0831af","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,688],"id":"215bfb24-00c5-46c7-9ead-53e4c3422b5a","name":"If2"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,528],"id":"fd3451f8-0be1-4aa8-bf96-242cab3cffab","name":"INQ SINGLE","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('IFPBBSINGLE').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,752],"id":"6566b27a-9951-44ce-b7f0-663d3d47f94d","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,512],"id":"3fbe42b1-e6b5-4a44-8d3c-5a2d3c603225","name":"Edit Fields1"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,688],"id":"cd0e7929-e4c1-43cf-b6e9-1448e707fa2a","name":"INQ KOLEKTIF","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,608],"id":"be011c50-72ee-42dd-8dca-794096866836","name":"Edit Fields2"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,928],"id":"19c86c5b-e6e7-46d3-bf18-868c910b428b","name":"INQ KOLEKTIF1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,928],"id":"e3e18748-c332-4f75-a67e-59f5377e7117","name":"If4"},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('IFPBBSINGLE').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,1024],"id":"8835ca16-3e89-4016-a9bd-a66267749096","name":"Edit Fields3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,880],"id":"61518499-49ab-48e8-acb0-e7d45a3a420e","name":"Edit Fields4"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/2025","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,320],"id":"ad4811fe-2ca9-4fef-840b-ec5a325d6fc3","name":"INQ KOLEKTIF2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,320],"id":"fac48a6e-2961-44a3-9770-b7affda5d464","name":"If6"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,304],"id":"8321b04a-2160-46ae-9ef5-d96511cb5ea3","name":"Edit Fields5"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/additional/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,160],"id":"60e71acd-508f-46ad-a1f0-b64de6a7e175","name":"INQ SINGLE1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,160],"id":"1e60011f-e4f9-4463-a388-b97faf4b7f28","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,144],"id":"1a7b87cf-1be1-458a-a264-26595ecfc2bc","name":"Edit Fields6"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:40200/revenue/tax/propertytransfer/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,0],"id":"0f48cc28-9491-4036-866c-d83f4ac3aeef","name":"INQ SINGLE2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,0],"id":"c4e4ca2b-3c08-4904-bf8b-6d8323331fac","name":"If10"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-16],"id":"4b3f2b2a-ccd7-4ad7-864d-88368974338f","name":"Edit Fields7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-bphtb","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,112],"id":"e71a798a-ff06-4e44-9cbd-edd3f3846ffe","name":"IFBPTHB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-pbjt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,240],"id":"d7ec510a-adff-48d7-80b3-9f37fc1dae5d","name":"IFPBJT"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-kolektif","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,352],"id":"53e298a3-5fcb-40c4-8767-015838569fad","name":"IFPBBKOLEKTIF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"single","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,592],"id":"b4cd7fa9-09e0-4658-a69b-5f27e7b77b39","name":"IFPBBSINGLE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"multi","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,800],"id":"c0ce74f9-39c4-41b6-8a87-03ff5a050578","name":"IFPBBKOLEKTIF1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-pajak-lainya","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1632,32],"id":"7a72e58d-0d5b-4259-8c95-1ea267748a36","name":"IFPAJAKLAINYA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,-192],"id":"0210d548-3147-4d47-9454-28ab99d9d6d3","name":"If9"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,-208],"id":"ba698b85-caee-4104-a119-014620ffb04c","name":"Edit Fields8"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/additional/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-192],"id":"6539e577-ec65-4bba-bab9-eab410f50679","name":"INQ PAJAK LAINYA","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"IFPAJAKLAINYA","type":"main","index":0}]]},"INQ SINGLE":{"main":[[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"INQ KOLEKTIF":{"main":[[{"node":"If2","type":"main","index":0}]]},"INQ KOLEKTIF1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"INQ KOLEKTIF2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"INQ SINGLE1":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"INQ SINGLE2":{"main":[[{"node":"If10","type":"main","index":0}]]},"If10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"IFBPTHB":{"main":[[{"node":"INQ SINGLE2","type":"main","index":0}],[{"node":"IFPBJT","type":"main","index":0}]]},"IFPBJT":{"main":[[{"node":"INQ SINGLE1","type":"main","index":0}],[{"node":"IFPBBKOLEKTIF","type":"main","index":0}]]},"IFPBBKOLEKTIF":{"main":[[{"node":"INQ KOLEKTIF2","type":"main","index":0}],[{"node":"IFPBBSINGLE","type":"main","index":0}]]},"IFPBBSINGLE":{"main":[[{"node":"INQ SINGLE","type":"main","index":0}],[{"node":"IFPBBKOLEKTIF1","type":"main","index":0}]]},"IFPBBKOLEKTIF1":{"main":[[{"node":"INQ KOLEKTIF","type":"main","index":0}],[{"node":"INQ KOLEKTIF1","type":"main","index":0}]]},"IFPAJAKLAINYA":{"main":[[{"node":"INQ PAJAK LAINYA","type":"main","index":0}],[{"node":"IFBPTHB","type":"main","index":0}]]},"If9":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"INQ PAJAK LAINYA":{"main":[[{"node":"If9","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"nop":"3204202602190012001","tahun":null,"type":"cek-bphtb"},"pairedItem":{"item":0}}]},"versionId":"92fadf66-65ad-4b6c-9fcd-64e5657771fe","activeVersionId":"92fadf66-65ad-4b6c-9fcd-64e5657771fe","triggerCount":0,"shared":[{"updatedAt":"2026-01-29T03:04:30.566Z","createdAt":"2026-01-29T03:04:30.566Z","role":"workflow:owner","workflowId":"1HNjXCLrFesUMYbS","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-19T03:46:14.000Z","createdAt":"2026-02-19T03:46:12.673Z","versionId":"92fadf66-65ad-4b6c-9fcd-64e5657771fe","workflowId":"1HNjXCLrFesUMYbS","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-512,528],"id":"c829a330-6b3c-4190-8ec1-1b606fde1677","name":"If"},{"parameters":{"workflowInputs":{"values":[{"name":"nop"},{"name":"tahun"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2048,48],"id":"8514b6e9-1a21-42cd-9f87-6f3dbc0831af","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-240,688],"id":"215bfb24-00c5-46c7-9ead-53e4c3422b5a","name":"If2"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,528],"id":"fd3451f8-0be1-4aa8-bf96-242cab3cffab","name":"INQ SINGLE","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('IFPBBSINGLE').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,752],"id":"6566b27a-9951-44ce-b7f0-663d3d47f94d","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-272,512],"id":"3fbe42b1-e6b5-4a44-8d3c-5a2d3c603225","name":"Edit Fields1"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,688],"id":"cd0e7929-e4c1-43cf-b6e9-1448e707fa2a","name":"INQ KOLEKTIF","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,608],"id":"be011c50-72ee-42dd-8dca-794096866836","name":"Edit Fields2"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-368,928],"id":"19c86c5b-e6e7-46d3-bf18-868c910b428b","name":"INQ KOLEKTIF1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-176,928],"id":"e3e18748-c332-4f75-a67e-59f5377e7117","name":"If4"},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('IFPBBSINGLE').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,1024],"id":"8835ca16-3e89-4016-a9bd-a66267749096","name":"Edit Fields3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,880],"id":"61518499-49ab-48e8-acb0-e7d45a3a420e","name":"Edit Fields4"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/2025","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-864,320],"id":"ad4811fe-2ca9-4fef-840b-ec5a325d6fc3","name":"INQ KOLEKTIF2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-640,320],"id":"fac48a6e-2961-44a3-9770-b7affda5d464","name":"If6"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-368,304],"id":"8321b04a-2160-46ae-9ef5-d96511cb5ea3","name":"Edit Fields5"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/additional/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1056,160],"id":"60e71acd-508f-46ad-a1f0-b64de6a7e175","name":"INQ SINGLE1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-800,160],"id":"1e60011f-e4f9-4463-a388-b97faf4b7f28","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,144],"id":"1a7b87cf-1be1-458a-a264-26595ecfc2bc","name":"Edit Fields6"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:40200/revenue/tax/propertytransfer/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1248,0],"id":"0f48cc28-9491-4036-866c-d83f4ac3aeef","name":"INQ SINGLE2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-976,0],"id":"c4e4ca2b-3c08-4904-bf8b-6d8323331fac","name":"If10"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,-16],"id":"4b3f2b2a-ccd7-4ad7-864d-88368974338f","name":"Edit Fields7"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-bphtb","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,112],"id":"e71a798a-ff06-4e44-9cbd-edd3f3846ffe","name":"IFBPTHB"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-pbjt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,240],"id":"d7ec510a-adff-48d7-80b3-9f37fc1dae5d","name":"IFPBJT"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-kolektif","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,352],"id":"53e298a3-5fcb-40c4-8767-015838569fad","name":"IFPBBKOLEKTIF"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"single","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,592],"id":"b4cd7fa9-09e0-4658-a69b-5f27e7b77b39","name":"IFPBBSINGLE"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"multi","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-656,800],"id":"c0ce74f9-39c4-41b6-8a87-03ff5a050578","name":"IFPBBKOLEKTIF1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-pajak-lainya","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1632,32],"id":"7a72e58d-0d5b-4259-8c95-1ea267748a36","name":"IFPAJAKLAINYA"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,-192],"id":"0210d548-3147-4d47-9454-28ab99d9d6d3","name":"If9"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-832,-208],"id":"ba698b85-caee-4104-a119-014620ffb04c","name":"Edit Fields8"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/additional/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,-192],"id":"6539e577-ec65-4bba-bab9-eab410f50679","name":"INQ PAJAK LAINYA","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"SUKABUMI"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"IFPAJAKLAINYA","type":"main","index":0}]]},"INQ SINGLE":{"main":[[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"INQ KOLEKTIF":{"main":[[{"node":"If2","type":"main","index":0}]]},"INQ KOLEKTIF1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"INQ KOLEKTIF2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"INQ SINGLE1":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"INQ SINGLE2":{"main":[[{"node":"If10","type":"main","index":0}]]},"If10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"IFBPTHB":{"main":[[{"node":"INQ SINGLE2","type":"main","index":0}],[{"node":"IFPBJT","type":"main","index":0}]]},"IFPBJT":{"main":[[{"node":"INQ SINGLE1","type":"main","index":0}],[{"node":"IFPBBKOLEKTIF","type":"main","index":0}]]},"IFPBBKOLEKTIF":{"main":[[{"node":"INQ KOLEKTIF2","type":"main","index":0}],[{"node":"IFPBBSINGLE","type":"main","index":0}]]},"IFPBBSINGLE":{"main":[[{"node":"INQ SINGLE","type":"main","index":0}],[{"node":"IFPBBKOLEKTIF1","type":"main","index":0}]]},"IFPBBKOLEKTIF1":{"main":[[{"node":"INQ KOLEKTIF","type":"main","index":0}],[{"node":"INQ KOLEKTIF1","type":"main","index":0}]]},"IFPAJAKLAINYA":{"main":[[{"node":"INQ PAJAK LAINYA","type":"main","index":0}],[{"node":"IFBPTHB","type":"main","index":0}]]},"If9":{"main":[[{"node":"Edit Fields8","type":"main","index":0}]]},"INQ PAJAK LAINYA":{"main":[[{"node":"If9","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 92fadf66","description":""},"tags":[]}