2026-February-09/PAJAKKITA
{"updatedAt":"2026-02-06T02:39:04.390Z","createdAt":"2026-01-28T02:29:44.173Z","id":"FuLRLuJHkSR7WdtI","name":"PAJAKKITA","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek_nop","operator":{"type":"string","operation":"contains"}},{"id":"bc33534b-4b9d-4f9c-8c68-fec0ecdc15c9","leftValue":"={{ $json.kategori }}","rightValue":"cek_tagihan","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1712,2400],"id":"04345417-e64d-4825-8611-6d37b8c95f43","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c84b74d0-48ff-4a10-bc90-60d35b68c0d5","leftValue":"={{ $json.kategori }}","rightValue":"kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,1952],"id":"681e9b06-b474-4c75-89ca-76dc84c0f971","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,2032],"id":"1b4c1e74-28f4-4833-9e7c-42fee0eaa7aa","name":"If3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,1952],"id":"8c5a4560-fd08-4d03-ac39-1a751a70fa2b","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-272,1952],"id":"cb2bee70-37eb-4f3e-bc6b-effa2ba3f466","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,1952],"id":"2c183631-76da-442c-8d65-84c3b278462e","name":"If4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const message =\n    typeof $input.first().json.message === 'string' ? $input.first().json.message :\n    null;\n\n  if (!message) {\n    throw new Error(\"Field 'message' tidak ditemukan atau bukan string\");\n  }\n\n  // Match 18-22 digit (NOP atau NOP+tahun)\n  const match = message.match(/\\d{18,22}/);\n  if (!match) {\n    throw new Error(\"Tidak ditemukan NOP minimal 18 digit pada message: \" + message);\n  }\n\n  const fullMatch = match[0];\n  const nop = fullMatch.substring(0, 18);\n  const tahun = fullMatch.length > 18 ? fullMatch.substring(18) : \"\";\n  const type = \"multi\";\n\n  const parsedNOP = {\n    kode_provinsi: nop.substring(0, 2),\n    kode_dati2: nop.substring(2, 4),\n    kode_kecamatan: nop.substring(4, 7),\n    kode_kelurahan: nop.substring(7, 10),\n    kode_blok: nop.substring(10, 13),\n    nomor_urut: nop.substring(13, 17),\n    kode_jenis: nop.substring(17),\n    tahun,\n  };\n\n  return {\n    json: {\n      original_message: message,\n      fullNOP: fullMatch,\n      nop,\n      tahun,\n      type,\n      ...parsedNOP,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,2464],"id":"0512494b-6d48-42d0-a804-b078e8e9d0ee","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab6409f2-488a-4a2e-8b4e-48e1112c2b59","leftValue":"={{ $json.tahun }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,2464],"id":"c8d2d85f-091e-427c-bd1f-65ec63e803a4","name":"If5"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-896,2448],"id":"c5071fc9-3af3-427a-8a4f-5405c6eeb545","name":"Execute Workflow2","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"data\": $json.data } }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,2368],"id":"275bccd8-01e3-4a2c-aeb0-47ea3eac16b9","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,2448],"id":"bc8b4be5-3d91-483e-a787-9daa2bda5bde","name":"If6","alwaysOutputData":false},{"parameters":{"jsCode":"const data = $json.data || [];\n\nif (data.length === 0) {\n  return [{\n    json: {\n      message: 'Data tagihan tidak ditemukan.'\n    }\n  }];\n}\n\n// ambil data detail dari item pertama\nconst d = data[0].detail;\n\n// format rincian tagihan per tahun\nconst rincian = data.map(item => {\n  return `- Tahun Pajak : ${item.detail.tahunPajak}\n  Pokok : ${item.detail.pokok}\n  Denda : ${item.detail.dendaAdministrasi}\n  Total Tagihan : ${item.totalTagihan}\n`;\n}).join('\\n');\n\nconst message = `Halo Sahabat Pajak Kita,\nSaya Pajak Kita\nBerikut Data Adalah Data Tagihan PBB P-2 Anda\n\nNOP : ${d.nop}\nNama WP : ${d.namaWp}\nAlamat OP : ${d.alamatOp || '-'}\nRT / RW : ${d.rtOp || '-'} / ${d.rwOp || '-'}\nKecamatan OP : ${d.kecamatanOp}\nKelurahan OP : ${d.kelurahanOp}\nLuas Tanah : ${d.luasTanah || '-'}\nLuas Bangunan : ${d.luasBangunan || '-'}\n\nRincian Tagihan:\n${rincian}\nJika ingin melakukan pembayaran silahkan mengirim pesan dengan format:\nBayar NOP [spasi] Tahun\nContoh:\nBayar ${d.nop} ${data[data.length - 1].detail.tahunPajak}\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,2400],"id":"33114968-d8ac-4953-b906-49790cba56ba","name":"Code"},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN SINGLE-  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1872],"id":"3ba5ad22-1b64-44cc-938f-f39a9c5d125b","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","tahun":"={{ $json.tahun }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-912,2032],"id":"654d535b-f219-4cac-b0d6-8c99ff861620","name":"INQUERY TO CARTENZ"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = $input.first().json.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nop = combined.substring(0, 18);\n  if (nop.length < 18) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(18, 22) : \"\";\n\n  const parsedNOP = {\n    kode_provinsi: nop.substring(0, 2),\n    kode_dati2: nop.substring(2, 4),\n    kode_kecamatan: nop.substring(4, 7),\n    kode_kelurahan: nop.substring(7, 10),\n    kode_blok: nop.substring(10, 13),\n    nomor_urut: nop.substring(13, 17),\n    kode_jenis: nop.substring(17),\n    tahun,\n  };\n\n  return {\n    json: {\n      original_message: raw,\n      fullNOP: combined,\n      nop,\n      tahun,\n      type: \"single\",\n      ...parsedNOP,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,2032],"id":"3ca9fefb-84dd-48ff-b2aa-ad5392700b49","name":"PARSING NOP TAHUN"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,1872],"id":"c9376c0f-8d70-4b7c-a233-19b691f2bbd4","name":"Sticky Note1"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,1872],"id":"25ef291a-801c-485d-94f0-3d8e960c9b15","name":"Sticky Note2"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"bayar-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,1648],"id":"d0a2b4a7-a452-4063-8dbf-4d43aff30f36","name":"PARSING NOP TAHUN1"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-912,1648],"id":"07c60abf-73b8-4fbc-8d5c-07293ee9682c","name":"INQUERY TO CARTENZ1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,1632],"id":"d2d41376-a878-4ac6-8f29-fca8308fc9a3","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,1648],"id":"e2c580c9-af84-4696-8926-d19019251c7e","name":"IN SUCCES INQ KOL"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-272,1632],"id":"c43cf2ea-f98b-4284-aa61-ae5b06ee1e3c","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,1632],"id":"4d9ccdda-cc9e-4b6c-a833-309a10e90efe","name":"If"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1392],"id":"066d0a10-7f58-4f4e-a9c3-2398cc909124","name":"HTTP Request5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"unknown","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1696,2032],"id":"4e8dd652-00a2-4cf3-bed8-65c25541489b","name":"If7"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,2288],"id":"c106e545-7e9f-4768-ab95-afed163d4724","name":"Sticky Note4"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,2736],"id":"2afbcc53-69e9-4ea6-8ac8-04d63527d8ac","name":"Sticky Note5"},{"parameters":{"content":"## FLOW UNTUK CEK TAGIHAN -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":340,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,2320],"id":"1bb440ab-9f12-4aae-ac8b-fa87b7098b18","name":"Sticky Note6"},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1456],"id":"793356f0-266e-4bba-ab9b-ed96f924621b","name":"Sticky Note7"},{"parameters":{"content":"## UNKNOWN FLOW -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":240,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1152],"id":"045f4cd0-ded1-4ffa-87f2-518d44ab33db","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Halo Wargi Kabupaten Sukabumi, mohon masukan Format yagn sesuai\n\n\nuntuk Cek Tagihan PBB : \nCek Tagihan 320411122244455556\n\nUntuk Cek Tagihan menggunakan Nomor Kolektif :\nCek Kolektif 12345678\n\nuntuk Tagihan BPHTB : \nCek BPHTB 3204000000000000000\n\nuntuk tagihan pbjt :\ncek pbjt 1234567890\n\n\nInformasi : Saat ini kami sedang melakukan Pembaharuan Sistem sehingga Pembayaran hanya bisa dilakukan melalui Bank BJB"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1232,1232],"id":"a1af5ed4-efbf-4761-a3f1-ba88a094b09f","name":"SEND MASSAGE"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,1456],"id":"2bc2c5a3-f7ba-49c8-919e-a54a47ad233b","name":"Sticky Note9"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,688],"id":"699b2810-6815-4c2b-b4bc-a4526e7cc2d5","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"Cek Kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1776,1856],"id":"536bf0e7-a97e-4db0-aef5-4f0a01f7007b","name":"IF CEK KOLEKTIF"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,896],"id":"129b1c4c-a9b6-44c8-bfe4-c544fefcf7da","name":"PARSING NOP TAHUN2"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1072,896],"id":"c936bd9c-692e-4159-a363-2fdd203feee3","name":"INQUERY TO CARTENZ2"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL1\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,880],"id":"f7008721-0acd-45b4-a116-c0a006a28e8a","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,896],"id":"9441e323-ef58-4107-b5d3-8277eef6deae","name":"IN SUCCES INQ KOL1"},{"parameters":{"content":"## FLOW UNTUK CEK KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,720],"id":"8706c301-14df-4319-b176-73732ec7cddf","name":"Sticky Note11"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-320,880],"id":"c1d5c95d-fe56-4e4b-b09a-3c42e60cc173","name":"Execute Workflow4"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,832],"id":"b208d83d-d3ef-4e9c-a640-4dad8a4364ee","name":"HTTP Request6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,880],"id":"38f93fee-26e2-4548-ac7d-a12cb10c2634","name":"If Workflow 4 Succes"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,720],"id":"85d511d5-e4b2-4f0a-ba6d-29d12ebf573b","name":"Sticky Note12"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek ntpd","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,1696],"id":"7c4ee2e7-4f5c-448e-8f41-83600072f7f5","name":"IF CEK NTPD BPHTB"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Cari NOP (15–18 digit setelah 'cek bphtb')\n  const nopMatch = raw.match(/cek\\s+bphtb\\s+(\\d{15,18})/i);\n  if (!nopMatch) {\n    throw new Error(\"NOP tidak ditemukan dalam message: \" + raw);\n  }\n  const nop = nopMatch[1];\n\n  // Cari NTPD (15–20 digit setelah 'ntpd')\n  const ntpdMatch = raw.match(/ntpd\\s+(\\d{15,20})/i);\n  if (!ntpdMatch) {\n    throw new Error(\"NTPD tidak ditemukan dalam message: \" + raw);\n  }\n  const ntpd = ntpdMatch[1];\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-bphtb\",\n      nop: nop,\n      ntpd: ntpd\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,528],"id":"6584f386-93c4-42e5-bb95-12cfc61f5d80","name":"PARSING NOP TAHUN3"},{"parameters":{"workflowId":{"__rl":true,"value":"Xy0IHR0KPqlkFVyy","mode":"list","cachedResultName":"Kabupaten Sukabumi — CEK NTPD BPHTB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","ntpd":"={{ $json.ntpd }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ntpd","displayName":"ntpd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1072,528],"id":"3fd09afd-4687-44a6-9f2d-6ea2dcd7e2a7","name":"INQUERY TO CARTENZ3"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Kami menemukan Data yang anda Cari. adapun detailnya adalah sebagai berikut\n\n{{ JSON.stringify($item(\"0\").$node[\"Edit Fields5\"].json) }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,528],"id":"9c992ff8-c854-48a6-a853-0b7ba39ce5b9","name":"HTTP Request7"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"INQUERY TO CARTENZ3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,528],"id":"462cdec3-4b46-4668-b420-61fece01979a","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek_bphtb","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2160,1552],"id":"af160782-7f92-48ba-97f9-d084ac341ab5","name":"IF CEK NTPD BPHTB1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = $input.first().json.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Cari nomor BPHTB (19 digit setelah 'cek bphtb')\n  const bphtbMatch = raw.match(/cek\\s+bphtb\\s+(\\d{19})/i);\n  if (!bphtbMatch) {\n    throw new Error(\"Nomor BPHTB (19 digit) tidak ditemukan dalam message: \" + raw);\n  }\n  const bphtb = bphtbMatch[1];\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-bphtb\",\n      bphtb: bphtb\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,368],"id":"bfc57251-fe2d-422f-802d-7690083ef43b","name":"PARSING NOP TAHUN4"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.bphtb }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1088,368],"id":"55f8f959-06ee-4786-aac8-fdb0371f5687","name":"INQUERY TO CARTENZ4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,352],"id":"147b2963-690d-4aa5-ae20-a8f7d68e7420","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If8\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,272],"id":"7f185b52-a8c0-40e0-b750-d17a1278f05b","name":"Edit Fields6"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-368,272],"id":"6fde0f12-12e0-4f9e-b4f2-c3e0dc5909f9","name":"Execute Workflow5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,272],"id":"5e30f5e5-4ac3-4433-b1c2-ac64e7a96e64","name":"If11"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,256],"id":"4719085c-22e2-4282-a791-65e79cff902c","name":"HTTP Request8"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek_pbjt","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2288,1408],"id":"5e616acd-9c0c-4adc-96e7-5f6017ab0ea3","name":"IF CEK PBJT"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = $input.first().json.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-pbjt\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,144],"id":"3a7bcdc6-70b6-47d6-9e8c-489fdd2cdbc0","name":"PARSING NOP TAHUN5"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1072,144],"id":"9cfb7759-9828-4be4-9d32-c4c0542b8824","name":"INQUERY TO CARTENZ5"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL2\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,96],"id":"6563d2d8-9cda-4e43-8592-949653e7f1da","name":"Edit Fields7"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-496,96],"id":"35d9376b-bfc3-4605-a8ac-3d6b5678dd47","name":"Execute Workflow6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,96],"id":"d5d4d389-c452-401b-8294-055a113e7467","name":"If12"},{"parameters":{"method":"POST","url":"=https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,0],"id":"b03f7651-ea40-4608-8bc7-79917d418e27","name":"HTTP Request9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,144],"id":"70b8db13-8234-4b08-a36e-b50b6dc3796e","name":"IN SUCCES INQ KOL2"},{"parameters":{},"type":"@devlikeapro/n8n-nodes-waha.wahaTrigger","typeVersion":202502,"position":[-2912,1440],"id":"eb4b39d6-3f1f-4414-b39e-7148bd142fa4","name":"WAHA Trigger","webhookId":"77d03ae5-3bcf-4459-a670-4bef21eaada2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"=Analisis isi pesan berikut: \"{{ $json.body.message }}\", dan abaikan huruf besar atau kecilnya\n\nGunakan regex berikut untuk validasi kategori:\n\n1. Bayar Kolektif (NOP 10 digit):\n   (?i)^\\s*bayar\\s+kolektif\\s+\\d{10}\\s*$\n\n\n2. Bayar biasa (NOP 18 digit + Tahun valid):\n   (?i)^\\s*bayar\\s+\\d{18}\\s+(19\\d{2}|20\\d{2}|2100)\\s*$\n\n\n3. Cek Tagihan (NOP 18 digit, tahun opsional):\n   (?i)^\\s*cek(?:\\s+tagihan|\\s+nop)?\\s+\\d{18}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$\n\n\n4. Cek kolektif (NOP 10 digit, tahun opsional):\n   (?i)^\\s*cek\\s+kolektif\\s+\\d{10}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$\n\n5 Cek ntpd (NOP 15–18 digit + NTPD 15–20 digit)\n(?i)^\\s*cek\\s+bphtb\\s+\\d{15,18}\\s+ntpd\\s+\\d{15,20}\\s*$\n\n6. Cek BPHTB (Nomor BPHTB 19 digit)\n(?i)^\\s*cek\\s+bphtb\\s+\\d{19}\\s*$\n\n7. Cek Pbjt (Nomor PBJT 10 digit)\n(?i)^\\s*cek\\s+pbjt\\s+\\d{10}\\s*$\n\n8. Unknown:\n   - Jika pesan tidak cocok dengan salah satu regex di atas\n   - Atau data tidak lengkap (NOP / tahun sesuai syarat tidak ditemukan)\n\n\n\nLangkah:\n- Periksa pesan dengan urutan:\n  Bayar Kolektif → Bayar biasa → Cek tagihan → Cek kolektif → Cek BPHTB -> cek NTPD\n- Jika tidak ada yang cocok, kategori = \"unknown\"\n\nJawab hanya dengan JSON, tanpa teks lain, dengan format:\n{\"kategori\": \"<kategori>\", \"message\": \"{{ $json.body.message }}\"}\n\nJangan pernah mengembalikan kategori selain \"unknown\" jika NOP atau tahun tidak memenuhi kriteria di regex.\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2480,1792],"id":"2433a160-3a8f-4045-b69a-055dbad41a69","name":"OpenAI"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[224,2368],"id":"c3607b2b-5269-4fb6-a306-e7eba3b52d6c","name":"Send a text message","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"jsCode":"const message = ($input.first().json.payload._data.body || '').trim();\n\n// daftar regex (urut sesuai instruksi)\nconst patterns = [\n  {\n    kategori: \"bayar_kolektif\",\n    regex: /^\\s*bayar\\s+kolektif\\s+\\d{10}\\s*$/i\n  },\n  {\n    kategori: \"bayar\",\n    regex: /^\\s*bayar\\s+\\d{18}\\s+(19\\d{2}|20\\d{2}|2100)\\s*$/i\n  },\n  {\n    kategori: \"cek_tagihan\",\n    regex: /^\\s*cek(?:\\s+tagihan|\\s+nop)?\\s+\\d{18}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$/i\n  },\n  {\n    kategori: \"cek_kolektif\",\n    regex: /^\\s*cek\\s+kolektif\\s+\\d{10}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$/i\n  },\n  {\n    kategori: \"cek_bphtb\",\n    regex: /^\\s*cek\\s+bphtb\\s+\\d{19}\\s*$/i\n  },\n  {\n    kategori: \"cek_ntpd\",\n    regex: /^\\s*cek\\s+bphtb\\s+\\d{15,18}\\s+ntpd\\s+\\d{15,20}\\s*$/i\n  },\n  {\n    kategori: \"cek_pbjt\",\n    regex: /^\\s*cek\\s+pbjt\\s+\\d{10}\\s*$/i\n  },\n];\n\nlet kategori = \"unknown\";\n\n// cek sesuai urutan\nfor (const p of patterns) {\n  if (p.regex.test(message)) {\n    kategori = p.kategori;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      kategori,\n      message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2496,1456],"id":"c85a3f9d-b85f-4574-b415-9cfa2c8188d8","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"bayar","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,2064],"id":"b786e370-c691-42db-a4a1-9c069f04bc83","name":"If9"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[560,2048],"id":"4608867d-331a-45d6-8703-bdd5b95ddf7a","name":"Send a text message1","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response\nif (!res || res.code !== 0 || !res.data) {\n  return [{\n    json: {\n      message: 'Maaf, data pembayaran tidak tersedia.'\n    }\n  }];\n}\n\nconst d = res.data;\n\nconst mchOrderNo = d.mch_order_no;\nconst checkoutUrl = d.checkout_url;\nconst expired = d.expiration_date;\nconst amount = Number(d.amount || 0).toLocaleString('id-ID');\n\n// ambil nomor tagihan dari mch_order_no\n// contoh: PBB-3204260007019011602012-1769657471\nconst nomorTagihan = mchOrderNo.split('-')[1] || '-';\n\nconst message = `Halo Wajib pajak,\n\nBerikut informasi tagihan Pajak Bumi dan Bangunan (PBB) Anda:\n\nNomor Tagihan : ${nomorTagihan}\nMerchant Order : ${mchOrderNo}\nTotal Tagihan : Rp ${amount}\nStatus Pembayaran : BELUM DIBAYAR\nBatas Waktu Pembayaran : ${expired}\n\n🔗 Link Pembayaran:\n${checkoutUrl}\n\nMetode pembayaran yang tersedia:\n- Transfer Bank (BNI, BRI)\n- E-Wallet (DANA, OVO)\n- QRIS\n- Kartu Kredit\n- Alfamart\n\n⚠️ Mohon lakukan pembayaran sebelum batas waktu berakhir.\nApabila melewati batas waktu, link pembayaran akan otomatis kedaluwarsa.\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message,\n      checkout_url: checkoutUrl,\n      mch_order_no: mchOrderNo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2048],"id":"b13cd82a-6a7b-4fbf-b616-a02316b4fa20","name":"Code in JavaScript1"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[288,256],"id":"e98f8d25-751e-4226-a370-ec0f27bfc68f","name":"Send a text message2","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response\nif (!res || res.code !== 0 || !res.data) {\n  return [{\n    json: {\n      message: 'Maaf, data pembayaran tidak tersedia.'\n    }\n  }];\n}\n\nconst d = res.data;\n\nconst mchOrderNo = d.mch_order_no;\nconst checkoutUrl = d.checkout_url;\nconst expired = d.expiration_date;\nconst amount = Number(d.amount || 0).toLocaleString('id-ID');\n\n// ambil nomor tagihan dari mch_order_no\n// contoh: PBB-3204260007019011602012-1769657471\nconst nomorTagihan = mchOrderNo.split('-')[1] || '-';\n\nconst message = `Halo Wajib pajak,\n\nBerikut informasi tagihan BPHTB Anda:\n\nNomor Tagihan : ${nomorTagihan}\nMerchant Order : ${mchOrderNo}\nTotal Tagihan : Rp ${amount}\nStatus Pembayaran : BELUM DIBAYAR\nBatas Waktu Pembayaran : ${expired}\n\n🔗 Link Pembayaran:\n${checkoutUrl}\n\nMetode pembayaran yang tersedia:\n- Transfer Bank (BNI, BRI)\n- E-Wallet (DANA, OVO)\n- QRIS\n- Kartu Kredit\n- Alfamart\n\n⚠️ Mohon lakukan pembayaran sebelum batas waktu berakhir.\nApabila melewati batas waktu, link pembayaran akan otomatis kedaluwarsa.\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message,\n      checkout_url: checkoutUrl,\n      mch_order_no: mchOrderNo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,272],"id":"4a9e3b52-15a3-4c5a-bb4b-6a5138da1d9d","name":"Code in JavaScript2"},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response\nif (!res || res.code !== 0 || !res.data) {\n  return [{\n    json: {\n      message: 'Maaf, data pembayaran tidak tersedia.'\n    }\n  }];\n}\n\nconst d = res.data;\n\nconst mchOrderNo = d.mch_order_no;\nconst checkoutUrl = d.checkout_url;\nconst expired = d.expiration_date;\nconst amount = Number(d.amount || 0).toLocaleString('id-ID');\n\n// ambil nomor tagihan dari mch_order_no\n// contoh: PBB-3204260007019011602012-1769657471\nconst nomorTagihan = mchOrderNo.split('-')[1] || '-';\n\nconst message = `Halo Wajib pajak,\n\nBerikut informasi tagihan  PBJT Anda:\n\nNomor Tagihan : ${nomorTagihan}\nMerchant Order : ${mchOrderNo}\nTotal Tagihan : Rp ${amount}\nStatus Pembayaran : BELUM DIBAYAR\nBatas Waktu Pembayaran : ${expired}\n\n🔗 Link Pembayaran:\n${checkoutUrl}\n\nMetode pembayaran yang tersedia:\n- Transfer Bank (BNI, BRI)\n- E-Wallet (DANA, OVO)\n- QRIS\n- Kartu Kredit\n- Alfamart\n\n⚠️ Mohon lakukan pembayaran sebelum batas waktu berakhir.\nApabila melewati batas waktu, link pembayaran akan otomatis kedaluwarsa.\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message,\n      checkout_url: checkoutUrl,\n      mch_order_no: mchOrderNo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,64],"id":"fbce34e2-6572-451f-b8bf-3b617ca46020","name":"Code in JavaScript3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[128,64],"id":"4194ca5c-81ba-47a8-8099-0cff62908304","name":"Send a text message3","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"invoice","mode":"list","cachedResultName":"invoice"},"columns":{"mappingMode":"defineBelow","value":{"fixed_bank_code":0,"mch_order_no":"={{ $json.data.mch_order_no }}","mch_id":"={{ $json.data.mch_id }}","app_id":"={{ $json.data.app_id }}","order_no":"={{ $json.data.order_no }}","amount":"={{ $json.data.amount }}","status":"={{ $json.data.status }}","sender_name":"={{ $json.data.sender_name }}","account_name":"={{ $json.data.account_name }}","account_phone":"={{ $json.data.account_phone }}","expiration_date":"={{ $json.data.expiration_date }}","success_time":"={{ $json.data.success_time }}","remark":"={{ $json.data.remark }}","custom_extra":"={{ $json.data.custom_extra }}","create_time":"={{ $json.data.create_time }}","pay_account_expired":"={{ $json.data.pay_account_expired }}","checkout_url":"={{ $json.data.checkout_url }}"},"matchingColumns":[],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mch_id","displayName":"mch_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"app_id","displayName":"app_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_name","displayName":"account_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_phone","displayName":"account_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"success_time","displayName":"success_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fixed_bank_code","displayName":"fixed_bank_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pay_account_expired","displayName":"pay_account_expired","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"checkout_url","displayName":"checkout_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,1968],"id":"882c1493-ca48-4c8c-8648-e15f213afe0c","name":"Insert rows in a table","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice_details","mode":"list","cachedResultName":"invoice_details"},"columns":{"mappingMode":"defineBelow","value":{"pembayaran_ke":"={{ $('INQUERY TO CARTENZ').item.json.data.pembayaranKe }}","angsuran_ke":"={{ $('INQUERY TO CARTENZ').item.json.data.angsuranKe }}","tahun_pajak":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.tahunPajak }}","pokok":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.pokok }}","denda_administrasi":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.dendaAdministrasi }}","luas_tanah":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.luasTanah }}","luas_bangunan":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.luasBangunan }}","pengurang_pokok":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.pengurangPokok }}","pengurang_denda":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.pengurangDenda }}","mch_order_no":"={{ $('If4').item.json.data.mch_order_no }}","nomor_tagihan":"={{ $('INQUERY TO CARTENZ').item.json.data.nomorTagihan }}","total_tagihan":"={{ $('INQUERY TO CARTENZ').item.json.data.totalTagihan }}","denda":"={{ $('INQUERY TO CARTENZ').item.json.data.denda }}","tanggal_jatuh_tempo":"={{ $('INQUERY TO CARTENZ').item.json.data.tanggalJatuhTempo }}","client_code":"={{ $('INQUERY TO CARTENZ').item.json.data.clientCode }}","nop":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.nop }}","alamat_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.alamatOp }}","rt_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.rtOp }}","rw_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.rwOp }}","kelurahan_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kelurahanOp }}","kecamatan_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kecamatanOp }}","kabupaten_kota_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kabupatenKotaOp }}","provinsi_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.provinsiOp }}","nama_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.namaWp }}","alamat_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.alamatWp }}","kelurahan_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kelurahanWp }}","kecamatan_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kecamatanWp }}","kabupaten_kota_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kabupatenKotaWp }}"},"matchingColumns":[],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nomor_tagihan","displayName":"nomor_tagihan","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_tagihan","displayName":"total_tagihan","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"denda","displayName":"denda","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tanggal_jatuh_tempo","displayName":"tanggal_jatuh_tempo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"pembayaran_ke","displayName":"pembayaran_ke","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"angsuran_ke","displayName":"angsuran_ke","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"client_code","displayName":"client_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tahun_pajak","displayName":"tahun_pajak","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pokok","displayName":"pokok","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"denda_administrasi","displayName":"denda_administrasi","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"alamat_op","displayName":"alamat_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rt_op","displayName":"rt_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rw_op","displayName":"rw_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kelurahan_op","displayName":"kelurahan_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kecamatan_op","displayName":"kecamatan_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kabupaten_kota_op","displayName":"kabupaten_kota_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provinsi_op","displayName":"provinsi_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nama_wp","displayName":"nama_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"alamat_wp","displayName":"alamat_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kelurahan_wp","displayName":"kelurahan_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kecamatan_wp","displayName":"kecamatan_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kabupaten_kota_wp","displayName":"kabupaten_kota_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"luas_tanah","displayName":"luas_tanah","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"luas_bangunan","displayName":"luas_bangunan","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pengurang_pokok","displayName":"pengurang_pokok","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pengurang_denda","displayName":"pengurang_denda","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,1968],"id":"2643e723-cbe4-46e6-a80d-39deab0619ed","name":"Insert rows in a table1","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"content":"## Insert to Arkhe DB\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,1856],"id":"ab59407b-75af-4ae4-a337-a7e2653fc5a4","name":"Sticky Note3"}],"connections":{"If1":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"If9","type":"main","index":0}]]},"If2":{"main":[[{"node":"PARSING NOP TAHUN1","type":"main","index":0}],[{"node":"PARSING NOP TAHUN","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Insert rows in a table","type":"main","index":0}]]},"Code3":{"main":[[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"If6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"INQUERY TO CARTENZ":{"main":[[{"node":"If3","type":"main","index":0}]]},"PARSING NOP TAHUN":{"main":[[{"node":"INQUERY TO CARTENZ","type":"main","index":0}]]},"PARSING NOP TAHUN1":{"main":[[{"node":"INQUERY TO CARTENZ1","type":"main","index":0}]]},"INQUERY TO CARTENZ1":{"main":[[{"node":"IN SUCCES INQ KOL","type":"main","index":0}]]},"IN SUCCES INQ KOL":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[]]},"If7":{"main":[[{"node":"SEND MASSAGE","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"IF CEK KOLEKTIF":{"main":[[{"node":"PARSING NOP TAHUN2","type":"main","index":0}],[{"node":"If7","type":"main","index":0}]]},"PARSING NOP TAHUN2":{"main":[[{"node":"INQUERY TO CARTENZ2","type":"main","index":0}]]},"INQUERY TO CARTENZ2":{"main":[[{"node":"IN SUCCES INQ KOL1","type":"main","index":0}]]},"IN SUCCES INQ KOL1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"If Workflow 4 Succes","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"If Workflow 4 Succes":{"main":[[]]},"IF CEK NTPD BPHTB":{"main":[[{"node":"PARSING NOP TAHUN3","type":"main","index":0}],[{"node":"IF CEK KOLEKTIF","type":"main","index":0}]]},"PARSING NOP TAHUN3":{"main":[[{"node":"INQUERY TO CARTENZ3","type":"main","index":0}]]},"INQUERY TO CARTENZ3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"IF CEK NTPD BPHTB1":{"main":[[{"node":"PARSING NOP TAHUN4","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB","type":"main","index":0}]]},"PARSING NOP TAHUN4":{"main":[[{"node":"INQUERY TO CARTENZ4","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Execute Workflow5","type":"main","index":0}]]},"Execute Workflow5":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"INQUERY TO CARTENZ4":{"main":[[{"node":"If8","type":"main","index":0}]]},"IF CEK PBJT":{"main":[[{"node":"PARSING NOP TAHUN5","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB1","type":"main","index":0}]]},"PARSING NOP TAHUN5":{"main":[[{"node":"INQUERY TO CARTENZ5","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Execute Workflow6","type":"main","index":0}]]},"Execute Workflow6":{"main":[[{"node":"If12","type":"main","index":0}]]},"If12":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"INQUERY TO CARTENZ5":{"main":[[{"node":"IN SUCCES INQ KOL2","type":"main","index":0}]]},"IN SUCCES INQ KOL2":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"WAHA Trigger":{"main":[[],[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"IF CEK PBJT","type":"main","index":0}]]},"If9":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"SEND MASSAGE","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"WAHA Trigger":[{"json":{"id":"evt_01kgrc3dp3c7c05a9ksm82mwta","timestamp":1770344527556,"event":"message","session":"default","metadata":{},"me":{"id":"6281395528090@c.us","pushName":"ANDRY"},"payload":{"id":"false_19285007179799@lid_3EB051D0CE0C4B2DB91F31","timestamp":1770344494,"from":"19285007179799@lid","fromMe":false,"source":"app","to":"6281395528090@c.us","body":"bayar 320426000701901160 2000","hasMedia":false,"media":null,"ack":1,"ackName":"SERVER","location":null,"vCards":[],"_data":{"id":{"fromMe":false,"remote":"19285007179799@lid","id":"3EB051D0CE0C4B2DB91F31","_serialized":"false_19285007179799@lid_3EB051D0CE0C4B2DB91F31"},"viewed":false,"body":"bayar 320426000701901160 2000","type":"chat","t":1770344494,"clientReceivedTsMillis":1770344494513,"notifyName":"IT 💻","from":"19285007179799@lid","to":"6281395528090@c.us","ack":1,"invis":false,"isNewMsg":true,"star":false,"kicNotified":false,"recvFresh":true,"isFromTemplate":false,"thumbnail":"","faviconMMSMetadata":null,"isAdsMedia":false,"pollInvalidated":false,"isSentCagPollCreation":false,"latestEditMsgKey":null,"latestEditSenderTimestampMs":null,"mentionedJidList":[],"groupMentions":[],"isEventCanceled":false,"eventInvalidated":false,"isVcardOverMmsDocument":false,"questionReplyQuotedMessage":null,"questionResponsesCount":0,"readQuestionResponsesCount":0,"forwardsCount":0,"hasReaction":false,"ephemeralSettingTimestamp":1770084536,"disappearingModeInitiator":"chat","disappearingModeTrigger":"chat_settings","disappearingModeInitiatedByMe":true,"viewMode":"VISIBLE","messageSecret":{"0":6,"1":161,"2":8,"3":34,"4":194,"5":67,"6":48,"7":180,"8":177,"9":97,"10":108,"11":104,"12":36,"13":66,"14":54,"15":96,"16":73,"17":172,"18":94,"19":211,"20":144,"21":192,"22":67,"23":219,"24":240,"25":57,"26":7,"27":37,"28":61,"29":199,"30":112,"31":68},"inviteGrpType":"DEFAULT","productHeaderImageRejected":false,"lastPlaybackProgress":0,"isDynamicReplyButtonsMsg":false,"isCarouselCard":false,"parentMsgId":null,"callSilenceReason":null,"isVideoCall":false,"callDuration":null,"callCreator":null,"callParticipants":null,"isCallLink":null,"callLinkToken":null,"isMdHistoryMsg":false,"stickerSentTs":0,"isAvatar":false,"lastUpdateFromServerTs":0,"invokedBotWid":null,"bizBotType":null,"botResponseTargetId":null,"botPluginType":null,"botPluginReferenceIndex":null,"botPluginSearchProvider":null,"botPluginSearchUrl":null,"botPluginSearchQuery":null,"botPluginMaybeParent":false,"botReelPluginThumbnailCdnUrl":null,"botMessageDisclaimerText":null,"botSessionTransparencyType":null,"botMsgBodyType":null,"reportingTokenInfo":{"reportingToken":{"0":46,"1":199,"2":24,"3":73,"4":248,"5":111,"6":42,"7":110,"8":184,"9":230,"10":212,"11":155,"12":206,"13":220,"14":244,"15":106},"version":2,"reportingTag":{"0":1,"1":15,"2":23,"3":19,"4":254,"5":209,"6":76,"7":11,"8":46,"9":176,"10":2,"11":152,"12":216,"13":230,"14":70,"15":108,"16":99,"17":119,"18":178,"19":183}},"requiresDirectConnection":null,"bizContentPlaceholderType":null,"hostedBizEncStateMismatch":false,"senderOrRecipientAccountTypeHosted":false,"placeholderCreatedWhenAccountIsHosted":false,"groupHistoryBundleMessageKey":null,"groupHistoryBundleMetadata":null,"groupHistoryIndividualMessageInfo":null,"links":[]}},"engine":"WEBJS","environment":{"version":"2026.1.5","engine":"WEBJS","tier":"CORE","browser":"/usr/bin/chromium","platform":"linux/x64","worker":{"id":null}}},"pairedItem":{"item":0,"input":1}}]},"versionId":"924ec03c-bd08-48b5-b464-8e38d0e37a6f","activeVersionId":"924ec03c-bd08-48b5-b464-8e38d0e37a6f","triggerCount":1,"shared":[{"updatedAt":"2026-01-28T02:29:44.227Z","createdAt":"2026-01-28T02:29:44.227Z","role":"workflow:owner","workflowId":"FuLRLuJHkSR7WdtI","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-06T02:39:06.000Z","createdAt":"2026-02-06T02:39:04.396Z","versionId":"924ec03c-bd08-48b5-b464-8e38d0e37a6f","workflowId":"FuLRLuJHkSR7WdtI","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek_nop","operator":{"type":"string","operation":"contains"}},{"id":"bc33534b-4b9d-4f9c-8c68-fec0ecdc15c9","leftValue":"={{ $json.kategori }}","rightValue":"cek_tagihan","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1712,2400],"id":"04345417-e64d-4825-8611-6d37b8c95f43","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c84b74d0-48ff-4a10-bc90-60d35b68c0d5","leftValue":"={{ $json.kategori }}","rightValue":"kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,1952],"id":"681e9b06-b474-4c75-89ca-76dc84c0f971","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,2032],"id":"1b4c1e74-28f4-4833-9e7c-42fee0eaa7aa","name":"If3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,1952],"id":"8c5a4560-fd08-4d03-ac39-1a751a70fa2b","name":"Edit Fields1"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-272,1952],"id":"cb2bee70-37eb-4f3e-bc6b-effa2ba3f466","name":"Execute Workflow1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-96,1952],"id":"2c183631-76da-442c-8d65-84c3b278462e","name":"If4"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const message =\n    typeof $input.first().json.message === 'string' ? $input.first().json.message :\n    null;\n\n  if (!message) {\n    throw new Error(\"Field 'message' tidak ditemukan atau bukan string\");\n  }\n\n  // Match 18-22 digit (NOP atau NOP+tahun)\n  const match = message.match(/\\d{18,22}/);\n  if (!match) {\n    throw new Error(\"Tidak ditemukan NOP minimal 18 digit pada message: \" + message);\n  }\n\n  const fullMatch = match[0];\n  const nop = fullMatch.substring(0, 18);\n  const tahun = fullMatch.length > 18 ? fullMatch.substring(18) : \"\";\n  const type = \"multi\";\n\n  const parsedNOP = {\n    kode_provinsi: nop.substring(0, 2),\n    kode_dati2: nop.substring(2, 4),\n    kode_kecamatan: nop.substring(4, 7),\n    kode_kelurahan: nop.substring(7, 10),\n    kode_blok: nop.substring(10, 13),\n    nomor_urut: nop.substring(13, 17),\n    kode_jenis: nop.substring(17),\n    tahun,\n  };\n\n  return {\n    json: {\n      original_message: message,\n      fullNOP: fullMatch,\n      nop,\n      tahun,\n      type,\n      ...parsedNOP,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,2464],"id":"0512494b-6d48-42d0-a804-b078e8e9d0ee","name":"Code3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ab6409f2-488a-4a2e-8b4e-48e1112c2b59","leftValue":"={{ $json.tahun }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,2464],"id":"c8d2d85f-091e-427c-bd1f-65ec63e803a4","name":"If5"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-896,2448],"id":"c5071fc9-3af3-427a-8a4f-5405c6eeb545","name":"Execute Workflow2","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={{ { \"data\": $json.data } }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-480,2368],"id":"275bccd8-01e3-4a2c-aeb0-47ea3eac16b9","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,2448],"id":"bc8b4be5-3d91-483e-a787-9daa2bda5bde","name":"If6","alwaysOutputData":false},{"parameters":{"jsCode":"const data = $json.data || [];\n\nif (data.length === 0) {\n  return [{\n    json: {\n      message: 'Data tagihan tidak ditemukan.'\n    }\n  }];\n}\n\n// ambil data detail dari item pertama\nconst d = data[0].detail;\n\n// format rincian tagihan per tahun\nconst rincian = data.map(item => {\n  return `- Tahun Pajak : ${item.detail.tahunPajak}\n  Pokok : ${item.detail.pokok}\n  Denda : ${item.detail.dendaAdministrasi}\n  Total Tagihan : ${item.totalTagihan}\n`;\n}).join('\\n');\n\nconst message = `Halo Sahabat Pajak Kita,\nSaya Pajak Kita\nBerikut Data Adalah Data Tagihan PBB P-2 Anda\n\nNOP : ${d.nop}\nNama WP : ${d.namaWp}\nAlamat OP : ${d.alamatOp || '-'}\nRT / RW : ${d.rtOp || '-'} / ${d.rwOp || '-'}\nKecamatan OP : ${d.kecamatanOp}\nKelurahan OP : ${d.kelurahanOp}\nLuas Tanah : ${d.luasTanah || '-'}\nLuas Bangunan : ${d.luasBangunan || '-'}\n\nRincian Tagihan:\n${rincian}\nJika ingin melakukan pembayaran silahkan mengirim pesan dengan format:\nBayar NOP [spasi] Tahun\nContoh:\nBayar ${d.nop} ${data[data.length - 1].detail.tahunPajak}\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-192,2400],"id":"33114968-d8ac-4953-b906-49790cba56ba","name":"Code"},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN SINGLE-  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1872],"id":"3ba5ad22-1b64-44cc-938f-f39a9c5d125b","name":"Sticky Note"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","tahun":"={{ $json.tahun }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-912,2032],"id":"654d535b-f219-4cac-b0d6-8c99ff861620","name":"INQUERY TO CARTENZ"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = $input.first().json.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nop = combined.substring(0, 18);\n  if (nop.length < 18) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(18, 22) : \"\";\n\n  const parsedNOP = {\n    kode_provinsi: nop.substring(0, 2),\n    kode_dati2: nop.substring(2, 4),\n    kode_kecamatan: nop.substring(4, 7),\n    kode_kelurahan: nop.substring(7, 10),\n    kode_blok: nop.substring(10, 13),\n    nomor_urut: nop.substring(13, 17),\n    kode_jenis: nop.substring(17),\n    tahun,\n  };\n\n  return {\n    json: {\n      original_message: raw,\n      fullNOP: combined,\n      nop,\n      tahun,\n      type: \"single\",\n      ...parsedNOP,\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,2032],"id":"3ca9fefb-84dd-48ff-b2aa-ad5392700b49","name":"PARSING NOP TAHUN"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,1872],"id":"c9376c0f-8d70-4b7c-a233-19b691f2bbd4","name":"Sticky Note1"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,1872],"id":"25ef291a-801c-485d-94f0-3d8e960c9b15","name":"Sticky Note2"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"bayar-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1152,1648],"id":"d0a2b4a7-a452-4063-8dbf-4d43aff30f36","name":"PARSING NOP TAHUN1"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-912,1648],"id":"07c60abf-73b8-4fbc-8d5c-07293ee9682c","name":"INQUERY TO CARTENZ1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,1632],"id":"d2d41376-a878-4ac6-8f29-fca8308fc9a3","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-736,1648],"id":"e2c580c9-af84-4696-8926-d19019251c7e","name":"IN SUCCES INQ KOL"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-272,1632],"id":"c43cf2ea-f98b-4284-aa61-ae5b06ee1e3c","name":"Execute Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-48,1632],"id":"4d9ccdda-cc9e-4b6c-a833-309a10e90efe","name":"If"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1392],"id":"066d0a10-7f58-4f4e-a9c3-2398cc909124","name":"HTTP Request5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"unknown","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1696,2032],"id":"4e8dd652-00a2-4cf3-bed8-65c25541489b","name":"If7"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,2288],"id":"c106e545-7e9f-4768-ab95-afed163d4724","name":"Sticky Note4"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,2736],"id":"2afbcc53-69e9-4ea6-8ac8-04d63527d8ac","name":"Sticky Note5"},{"parameters":{"content":"## FLOW UNTUK CEK TAGIHAN -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":340,"width":1360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,2320],"id":"1bb440ab-9f12-4aae-ac8b-fa87b7098b18","name":"Sticky Note6"},{"parameters":{"content":"## FLOW UNTUK PEMBAYARAN KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1456],"id":"793356f0-266e-4bba-ab9b-ed96f924621b","name":"Sticky Note7"},{"parameters":{"content":"## UNKNOWN FLOW -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":240,"width":380,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,1152],"id":"045f4cd0-ded1-4ffa-87f2-518d44ab33db","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Halo Wargi Kabupaten Sukabumi, mohon masukan Format yagn sesuai\n\n\nuntuk Cek Tagihan PBB : \nCek Tagihan 320411122244455556\n\nUntuk Cek Tagihan menggunakan Nomor Kolektif :\nCek Kolektif 12345678\n\nuntuk Tagihan BPHTB : \nCek BPHTB 3204000000000000000\n\nuntuk tagihan pbjt :\ncek pbjt 1234567890\n\n\nInformasi : Saat ini kami sedang melakukan Pembaharuan Sistem sehingga Pembayaran hanya bisa dilakukan melalui Bank BJB"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1232,1232],"id":"a1af5ed4-efbf-4761-a3f1-ba88a094b09f","name":"SEND MASSAGE"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,1456],"id":"2bc2c5a3-f7ba-49c8-919e-a54a47ad233b","name":"Sticky Note9"},{"parameters":{"content":"## MASSAGE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[144,688],"id":"699b2810-6815-4c2b-b4bc-a4526e7cc2d5","name":"Sticky Note10"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"Cek Kolektif","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1776,1856],"id":"536bf0e7-a97e-4db0-aef5-4f0a01f7007b","name":"IF CEK KOLEKTIF"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-kolektif\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,896],"id":"129b1c4c-a9b6-44c8-bfe4-c544fefcf7da","name":"PARSING NOP TAHUN2"},{"parameters":{"workflowId":{"__rl":true,"value":"FxrEpngFhAS2DIMN","mode":"list","cachedResultName":"Kabupaten Sukabumi — Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1072,896],"id":"c936bd9c-692e-4159-a363-2fdd203feee3","name":"INQUERY TO CARTENZ2"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL1\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,880],"id":"f7008721-0acd-45b4-a116-c0a006a28e8a","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-896,896],"id":"9441e323-ef58-4107-b5d3-8277eef6deae","name":"IN SUCCES INQ KOL1"},{"parameters":{"content":"## FLOW UNTUK CEK KOLEKTIF -  \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,720],"id":"8706c301-14df-4319-b176-73732ec7cddf","name":"Sticky Note11"},{"parameters":{"workflowId":{"__rl":true,"value":"e5xPMRyVX6fy28b7","mode":"list","cachedResultName":"Kabupaten Sukabumi — payment gateway"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-320,880],"id":"c1d5c95d-fe56-4e4b-b09a-3c42e60cc173","name":"Execute Workflow4"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,832],"id":"b208d83d-d3ef-4e9c-a640-4dad8a4364ee","name":"HTTP Request6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.responseCode }}","rightValue":"201","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-128,880],"id":"38f93fee-26e2-4548-ac7d-a12cb10c2634","name":"If Workflow 4 Succes"},{"parameters":{"content":"## CALL INVOICE WORKFLOW\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,720],"id":"85d511d5-e4b2-4f0a-ba6d-29d12ebf573b","name":"Sticky Note12"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek ntpd","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2000,1696],"id":"7c4ee2e7-4f5c-448e-8f41-83600072f7f5","name":"IF CEK NTPD BPHTB"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = item.json.message?.content?.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Cari NOP (15–18 digit setelah 'cek bphtb')\n  const nopMatch = raw.match(/cek\\s+bphtb\\s+(\\d{15,18})/i);\n  if (!nopMatch) {\n    throw new Error(\"NOP tidak ditemukan dalam message: \" + raw);\n  }\n  const nop = nopMatch[1];\n\n  // Cari NTPD (15–20 digit setelah 'ntpd')\n  const ntpdMatch = raw.match(/ntpd\\s+(\\d{15,20})/i);\n  if (!ntpdMatch) {\n    throw new Error(\"NTPD tidak ditemukan dalam message: \" + raw);\n  }\n  const ntpd = ntpdMatch[1];\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-bphtb\",\n      nop: nop,\n      ntpd: ntpd\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1280,528],"id":"6584f386-93c4-42e5-bb95-12cfc61f5d80","name":"PARSING NOP TAHUN3"},{"parameters":{"workflowId":{"__rl":true,"value":"Xy0IHR0KPqlkFVyy","mode":"list","cachedResultName":"Kabupaten Sukabumi — CEK NTPD BPHTB"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","ntpd":"={{ $json.ntpd }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"ntpd","displayName":"ntpd","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1072,528],"id":"3fd09afd-4687-44a6-9f2d-6ea2dcd7e2a7","name":"INQUERY TO CARTENZ3"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"=Kami menemukan Data yang anda Cari. adapun detailnya adalah sebagai berikut\n\n{{ JSON.stringify($item(\"0\").$node[\"Edit Fields5\"].json) }}\n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,528],"id":"9c992ff8-c854-48a6-a853-0b7ba39ce5b9","name":"HTTP Request7"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"INQUERY TO CARTENZ3\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-848,528],"id":"462cdec3-4b46-4668-b420-61fece01979a","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek_bphtb","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2160,1552],"id":"af160782-7f92-48ba-97f9-d084ac341ab5","name":"IF CEK NTPD BPHTB1"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = $input.first().json.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Cari nomor BPHTB (19 digit setelah 'cek bphtb')\n  const bphtbMatch = raw.match(/cek\\s+bphtb\\s+(\\d{19})/i);\n  if (!bphtbMatch) {\n    throw new Error(\"Nomor BPHTB (19 digit) tidak ditemukan dalam message: \" + raw);\n  }\n  const bphtb = bphtbMatch[1];\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-bphtb\",\n      bphtb: bphtb\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,368],"id":"bfc57251-fe2d-422f-802d-7690083ef43b","name":"PARSING NOP TAHUN4"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.bphtb }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1088,368],"id":"55f8f959-06ee-4786-aac8-fdb0371f5687","name":"INQUERY TO CARTENZ4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-848,352],"id":"147b2963-690d-4aa5-ae20-a8f7d68e7420","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"If8\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,272],"id":"7f185b52-a8c0-40e0-b750-d17a1278f05b","name":"Edit Fields6"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-368,272],"id":"6fde0f12-12e0-4f9e-b4f2-c3e0dc5909f9","name":"Execute Workflow5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,272],"id":"5e30f5e5-4ac3-4433-b1c2-ac64e7a96e64","name":"If11"},{"parameters":{"method":"POST","url":"https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[496,256],"id":"4719085c-22e2-4282-a791-65e79cff902c","name":"HTTP Request8"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"cek_pbjt","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2288,1408],"id":"5e616acd-9c0c-4adc-96e7-5f6017ab0ea3","name":"IF CEK PBJT"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const raw = $input.first().json.message;\n  if (typeof raw !== 'string') {\n    throw new Error(\"Field 'message.content.message' tidak ditemukan atau bukan string\");\n  }\n\n  // Ambil semua angka dari string\n  const numbers = raw.match(/\\d+/g);\n  if (!numbers || numbers.length === 0) {\n    throw new Error(\"Tidak ditemukan angka dalam message: \" + raw);\n  }\n\n  // Gabungkan semua angka jadi satu string panjang, untuk kasus menempel\n  const combined = numbers.join(\"\");\n\n  // Ambil NOP dari 18 digit pertama\n  const nomor_kolektif = combined.substring(0, 10);\n  if (nomor_kolektif.length < 10) {\n    throw new Error(\"NOP kurang dari 18 digit dalam message: \" + raw);\n  }\n\n  // Ambil tahun jika ada (4 digit setelah NOP)\n  const tahun = combined.length > 18 ? combined.substring(10, 22) : \"\";\n\n\n  return {\n    json: {\n      original_message: raw,\n      type: \"cek-pbjt\",\n      nop: nomor_kolektif,\n      tahun: tahun\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,144],"id":"3a7bcdc6-70b6-47d6-9e8c-489fdd2cdbc0","name":"PARSING NOP TAHUN5"},{"parameters":{"workflowId":{"__rl":true,"value":"1HNjXCLrFesUMYbS","mode":"list","cachedResultUrl":"/workflow/1HNjXCLrFesUMYbS","cachedResultName":"Inquery To Cartenz"},"workflowInputs":{"mappingMode":"defineBelow","value":{"nop":"={{ $json.nop }}","type":"={{ $json.type }}"},"matchingColumns":[],"schema":[{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"tahun","displayName":"tahun","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1072,144],"id":"9cfb7759-9828-4be4-9d32-c4c0542b8824","name":"INQUERY TO CARTENZ5"},{"parameters":{"mode":"raw","jsonOutput":"={{ $item(\"0\").$node[\"IN SUCCES INQ KOL2\"].json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,96],"id":"6563d2d8-9cda-4e43-8592-949653e7f1da","name":"Edit Fields7"},{"parameters":{"workflowId":{"__rl":true,"value":"cghn21j3WXiZVmO7","mode":"list","cachedResultUrl":"/workflow/cghn21j3WXiZVmO7","cachedResultName":"Payment Link Service"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-496,96],"id":"35d9376b-bfc3-4605-a8ac-3d6b5678dd47","name":"Execute Workflow6"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0bc23fd-215e-4b20-9256-99b5f332e28e","leftValue":"={{ $json.code }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-352,96],"id":"d5d4d389-c452-401b-8294-055a113e7467","name":"If12"},{"parameters":{"method":"POST","url":"=https://app.whacenter.com/api/send","sendBody":true,"bodyParameters":{"parameters":[{"name":"device_id","value":"={{$vars.deviceBapenda}}"},{"name":"number","value":"={{ $('Webhook').item.json.body.from }}"},{"name":"message","value":"={{ $json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,0],"id":"b03f7651-ea40-4608-8bc7-79917d418e27","name":"HTTP Request9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2cf1762c-4ead-43b6-bd92-be3bfcfd4870","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-880,144],"id":"70b8db13-8234-4b08-a36e-b50b6dc3796e","name":"IN SUCCES INQ KOL2"},{"parameters":{},"type":"@devlikeapro/n8n-nodes-waha.wahaTrigger","typeVersion":202502,"position":[-2912,1440],"id":"eb4b39d6-3f1f-4414-b39e-7148bd142fa4","name":"WAHA Trigger","webhookId":"77d03ae5-3bcf-4459-a670-4bef21eaada2"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4-turbo","mode":"list","cachedResultName":"GPT-4-TURBO"},"messages":{"values":[{"content":"=Analisis isi pesan berikut: \"{{ $json.body.message }}\", dan abaikan huruf besar atau kecilnya\n\nGunakan regex berikut untuk validasi kategori:\n\n1. Bayar Kolektif (NOP 10 digit):\n   (?i)^\\s*bayar\\s+kolektif\\s+\\d{10}\\s*$\n\n\n2. Bayar biasa (NOP 18 digit + Tahun valid):\n   (?i)^\\s*bayar\\s+\\d{18}\\s+(19\\d{2}|20\\d{2}|2100)\\s*$\n\n\n3. Cek Tagihan (NOP 18 digit, tahun opsional):\n   (?i)^\\s*cek(?:\\s+tagihan|\\s+nop)?\\s+\\d{18}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$\n\n\n4. Cek kolektif (NOP 10 digit, tahun opsional):\n   (?i)^\\s*cek\\s+kolektif\\s+\\d{10}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$\n\n5 Cek ntpd (NOP 15–18 digit + NTPD 15–20 digit)\n(?i)^\\s*cek\\s+bphtb\\s+\\d{15,18}\\s+ntpd\\s+\\d{15,20}\\s*$\n\n6. Cek BPHTB (Nomor BPHTB 19 digit)\n(?i)^\\s*cek\\s+bphtb\\s+\\d{19}\\s*$\n\n7. Cek Pbjt (Nomor PBJT 10 digit)\n(?i)^\\s*cek\\s+pbjt\\s+\\d{10}\\s*$\n\n8. Unknown:\n   - Jika pesan tidak cocok dengan salah satu regex di atas\n   - Atau data tidak lengkap (NOP / tahun sesuai syarat tidak ditemukan)\n\n\n\nLangkah:\n- Periksa pesan dengan urutan:\n  Bayar Kolektif → Bayar biasa → Cek tagihan → Cek kolektif → Cek BPHTB -> cek NTPD\n- Jika tidak ada yang cocok, kategori = \"unknown\"\n\nJawab hanya dengan JSON, tanpa teks lain, dengan format:\n{\"kategori\": \"<kategori>\", \"message\": \"{{ $json.body.message }}\"}\n\nJangan pernah mengembalikan kategori selain \"unknown\" jika NOP atau tahun tidak memenuhi kriteria di regex.\n","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-2480,1792],"id":"2433a160-3a8f-4045-b69a-055dbad41a69","name":"OpenAI"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[224,2368],"id":"c3607b2b-5269-4fb6-a306-e7eba3b52d6c","name":"Send a text message","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"jsCode":"const message = ($input.first().json.payload._data.body || '').trim();\n\n// daftar regex (urut sesuai instruksi)\nconst patterns = [\n  {\n    kategori: \"bayar_kolektif\",\n    regex: /^\\s*bayar\\s+kolektif\\s+\\d{10}\\s*$/i\n  },\n  {\n    kategori: \"bayar\",\n    regex: /^\\s*bayar\\s+\\d{18}\\s+(19\\d{2}|20\\d{2}|2100)\\s*$/i\n  },\n  {\n    kategori: \"cek_tagihan\",\n    regex: /^\\s*cek(?:\\s+tagihan|\\s+nop)?\\s+\\d{18}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$/i\n  },\n  {\n    kategori: \"cek_kolektif\",\n    regex: /^\\s*cek\\s+kolektif\\s+\\d{10}(?:\\s+(19\\d{2}|20\\d{2}|2100))?\\s*$/i\n  },\n  {\n    kategori: \"cek_bphtb\",\n    regex: /^\\s*cek\\s+bphtb\\s+\\d{19}\\s*$/i\n  },\n  {\n    kategori: \"cek_ntpd\",\n    regex: /^\\s*cek\\s+bphtb\\s+\\d{15,18}\\s+ntpd\\s+\\d{15,20}\\s*$/i\n  },\n  {\n    kategori: \"cek_pbjt\",\n    regex: /^\\s*cek\\s+pbjt\\s+\\d{10}\\s*$/i\n  },\n];\n\nlet kategori = \"unknown\";\n\n// cek sesuai urutan\nfor (const p of patterns) {\n  if (p.regex.test(message)) {\n    kategori = p.kategori;\n    break;\n  }\n}\n\nreturn [\n  {\n    json: {\n      kategori,\n      message\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2496,1456],"id":"c85a3f9d-b85f-4574-b415-9cfa2c8188d8","name":"Code in JavaScript"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5eb1ed23-9dd5-4f5e-9184-8bcdfea02ac8","leftValue":"={{ $json.kategori }}","rightValue":"bayar","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1456,2064],"id":"b786e370-c691-42db-a4a1-9c069f04bc83","name":"If9"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[560,2048],"id":"4608867d-331a-45d6-8703-bdd5b95ddf7a","name":"Send a text message1","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response\nif (!res || res.code !== 0 || !res.data) {\n  return [{\n    json: {\n      message: 'Maaf, data pembayaran tidak tersedia.'\n    }\n  }];\n}\n\nconst d = res.data;\n\nconst mchOrderNo = d.mch_order_no;\nconst checkoutUrl = d.checkout_url;\nconst expired = d.expiration_date;\nconst amount = Number(d.amount || 0).toLocaleString('id-ID');\n\n// ambil nomor tagihan dari mch_order_no\n// contoh: PBB-3204260007019011602012-1769657471\nconst nomorTagihan = mchOrderNo.split('-')[1] || '-';\n\nconst message = `Halo Wajib pajak,\n\nBerikut informasi tagihan Pajak Bumi dan Bangunan (PBB) Anda:\n\nNomor Tagihan : ${nomorTagihan}\nMerchant Order : ${mchOrderNo}\nTotal Tagihan : Rp ${amount}\nStatus Pembayaran : BELUM DIBAYAR\nBatas Waktu Pembayaran : ${expired}\n\n🔗 Link Pembayaran:\n${checkoutUrl}\n\nMetode pembayaran yang tersedia:\n- Transfer Bank (BNI, BRI)\n- E-Wallet (DANA, OVO)\n- QRIS\n- Kartu Kredit\n- Alfamart\n\n⚠️ Mohon lakukan pembayaran sebelum batas waktu berakhir.\nApabila melewati batas waktu, link pembayaran akan otomatis kedaluwarsa.\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message,\n      checkout_url: checkoutUrl,\n      mch_order_no: mchOrderNo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[288,2048],"id":"b13cd82a-6a7b-4fbf-b616-a02316b4fa20","name":"Code in JavaScript1"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[288,256],"id":"e98f8d25-751e-4226-a370-ec0f27bfc68f","name":"Send a text message2","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response\nif (!res || res.code !== 0 || !res.data) {\n  return [{\n    json: {\n      message: 'Maaf, data pembayaran tidak tersedia.'\n    }\n  }];\n}\n\nconst d = res.data;\n\nconst mchOrderNo = d.mch_order_no;\nconst checkoutUrl = d.checkout_url;\nconst expired = d.expiration_date;\nconst amount = Number(d.amount || 0).toLocaleString('id-ID');\n\n// ambil nomor tagihan dari mch_order_no\n// contoh: PBB-3204260007019011602012-1769657471\nconst nomorTagihan = mchOrderNo.split('-')[1] || '-';\n\nconst message = `Halo Wajib pajak,\n\nBerikut informasi tagihan BPHTB Anda:\n\nNomor Tagihan : ${nomorTagihan}\nMerchant Order : ${mchOrderNo}\nTotal Tagihan : Rp ${amount}\nStatus Pembayaran : BELUM DIBAYAR\nBatas Waktu Pembayaran : ${expired}\n\n🔗 Link Pembayaran:\n${checkoutUrl}\n\nMetode pembayaran yang tersedia:\n- Transfer Bank (BNI, BRI)\n- E-Wallet (DANA, OVO)\n- QRIS\n- Kartu Kredit\n- Alfamart\n\n⚠️ Mohon lakukan pembayaran sebelum batas waktu berakhir.\nApabila melewati batas waktu, link pembayaran akan otomatis kedaluwarsa.\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message,\n      checkout_url: checkoutUrl,\n      mch_order_no: mchOrderNo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,272],"id":"4a9e3b52-15a3-4c5a-bb4b-6a5138da1d9d","name":"Code in JavaScript2"},{"parameters":{"jsCode":"const res = $input.first().json;\n\n// validasi response\nif (!res || res.code !== 0 || !res.data) {\n  return [{\n    json: {\n      message: 'Maaf, data pembayaran tidak tersedia.'\n    }\n  }];\n}\n\nconst d = res.data;\n\nconst mchOrderNo = d.mch_order_no;\nconst checkoutUrl = d.checkout_url;\nconst expired = d.expiration_date;\nconst amount = Number(d.amount || 0).toLocaleString('id-ID');\n\n// ambil nomor tagihan dari mch_order_no\n// contoh: PBB-3204260007019011602012-1769657471\nconst nomorTagihan = mchOrderNo.split('-')[1] || '-';\n\nconst message = `Halo Wajib pajak,\n\nBerikut informasi tagihan  PBJT Anda:\n\nNomor Tagihan : ${nomorTagihan}\nMerchant Order : ${mchOrderNo}\nTotal Tagihan : Rp ${amount}\nStatus Pembayaran : BELUM DIBAYAR\nBatas Waktu Pembayaran : ${expired}\n\n🔗 Link Pembayaran:\n${checkoutUrl}\n\nMetode pembayaran yang tersedia:\n- Transfer Bank (BNI, BRI)\n- E-Wallet (DANA, OVO)\n- QRIS\n- Kartu Kredit\n- Alfamart\n\n⚠️ Mohon lakukan pembayaran sebelum batas waktu berakhir.\nApabila melewati batas waktu, link pembayaran akan otomatis kedaluwarsa.\n\nHormat Kami,\nPajak Kita`;\n\nreturn [\n  {\n    json: {\n      message,\n      checkout_url: checkoutUrl,\n      mch_order_no: mchOrderNo\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,64],"id":"fbce34e2-6572-451f-b8bf-3b617ca46020","name":"Code in JavaScript3"},{"parameters":{"resource":"Chatting","operation":"Send Text","session":"={{ $('WAHA Trigger').item.json.session }}","chatId":"={{ $('WAHA Trigger').item.json.payload._data.from }}","text":"={{ $json.message }}","requestOptions":{}},"type":"@devlikeapro/n8n-nodes-waha.WAHA","typeVersion":202502,"position":[128,64],"id":"4194ca5c-81ba-47a8-8099-0cff62908304","name":"Send a text message3","credentials":{"wahaApi":{"id":"9fiMSY9N1C3aRa5d","name":"WAHA account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"invoice","mode":"list","cachedResultName":"invoice"},"columns":{"mappingMode":"defineBelow","value":{"fixed_bank_code":0,"mch_order_no":"={{ $json.data.mch_order_no }}","mch_id":"={{ $json.data.mch_id }}","app_id":"={{ $json.data.app_id }}","order_no":"={{ $json.data.order_no }}","amount":"={{ $json.data.amount }}","status":"={{ $json.data.status }}","sender_name":"={{ $json.data.sender_name }}","account_name":"={{ $json.data.account_name }}","account_phone":"={{ $json.data.account_phone }}","expiration_date":"={{ $json.data.expiration_date }}","success_time":"={{ $json.data.success_time }}","remark":"={{ $json.data.remark }}","custom_extra":"={{ $json.data.custom_extra }}","create_time":"={{ $json.data.create_time }}","pay_account_expired":"={{ $json.data.pay_account_expired }}","checkout_url":"={{ $json.data.checkout_url }}"},"matchingColumns":[],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"mch_id","displayName":"mch_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"app_id","displayName":"app_id","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"order_no","displayName":"order_no","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"amount","displayName":"amount","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"sender_name","displayName":"sender_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_name","displayName":"account_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"account_phone","displayName":"account_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"expiration_date","displayName":"expiration_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"success_time","displayName":"success_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"remark","displayName":"remark","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"custom_extra","displayName":"custom_extra","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"create_time","displayName":"create_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"account_bank_code","displayName":"account_bank_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fixed_bank_code","displayName":"fixed_bank_code","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pay_account_expired","displayName":"pay_account_expired","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"checkout_url","displayName":"checkout_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[848,1968],"id":"882c1493-ca48-4c8c-8648-e15f213afe0c","name":"Insert rows in a table","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"invoice_details","mode":"list","cachedResultName":"invoice_details"},"columns":{"mappingMode":"defineBelow","value":{"pembayaran_ke":"={{ $('INQUERY TO CARTENZ').item.json.data.pembayaranKe }}","angsuran_ke":"={{ $('INQUERY TO CARTENZ').item.json.data.angsuranKe }}","tahun_pajak":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.tahunPajak }}","pokok":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.pokok }}","denda_administrasi":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.dendaAdministrasi }}","luas_tanah":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.luasTanah }}","luas_bangunan":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.luasBangunan }}","pengurang_pokok":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.pengurangPokok }}","pengurang_denda":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.pengurangDenda }}","mch_order_no":"={{ $('If4').item.json.data.mch_order_no }}","nomor_tagihan":"={{ $('INQUERY TO CARTENZ').item.json.data.nomorTagihan }}","total_tagihan":"={{ $('INQUERY TO CARTENZ').item.json.data.totalTagihan }}","denda":"={{ $('INQUERY TO CARTENZ').item.json.data.denda }}","tanggal_jatuh_tempo":"={{ $('INQUERY TO CARTENZ').item.json.data.tanggalJatuhTempo }}","client_code":"={{ $('INQUERY TO CARTENZ').item.json.data.clientCode }}","nop":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.nop }}","alamat_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.alamatOp }}","rt_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.rtOp }}","rw_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.rwOp }}","kelurahan_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kelurahanOp }}","kecamatan_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kecamatanOp }}","kabupaten_kota_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kabupatenKotaOp }}","provinsi_op":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.provinsiOp }}","nama_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.namaWp }}","alamat_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.alamatWp }}","kelurahan_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kelurahanWp }}","kecamatan_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kecamatanWp }}","kabupaten_kota_wp":"={{ $('INQUERY TO CARTENZ').item.json.data.detail.kabupatenKotaWp }}"},"matchingColumns":[],"schema":[{"id":"mch_order_no","displayName":"mch_order_no","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nomor_tagihan","displayName":"nomor_tagihan","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_tagihan","displayName":"total_tagihan","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"denda","displayName":"denda","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tanggal_jatuh_tempo","displayName":"tanggal_jatuh_tempo","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"pembayaran_ke","displayName":"pembayaran_ke","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"angsuran_ke","displayName":"angsuran_ke","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"client_code","displayName":"client_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nop","displayName":"nop","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tahun_pajak","displayName":"tahun_pajak","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pokok","displayName":"pokok","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"denda_administrasi","displayName":"denda_administrasi","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"alamat_op","displayName":"alamat_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rt_op","displayName":"rt_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"rw_op","displayName":"rw_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kelurahan_op","displayName":"kelurahan_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kecamatan_op","displayName":"kecamatan_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kabupaten_kota_op","displayName":"kabupaten_kota_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"provinsi_op","displayName":"provinsi_op","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nama_wp","displayName":"nama_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"alamat_wp","displayName":"alamat_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kelurahan_wp","displayName":"kelurahan_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kecamatan_wp","displayName":"kecamatan_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"kabupaten_kota_wp","displayName":"kabupaten_kota_wp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"luas_tanah","displayName":"luas_tanah","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"luas_bangunan","displayName":"luas_bangunan","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pengurang_pokok","displayName":"pengurang_pokok","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pengurang_denda","displayName":"pengurang_denda","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1136,1968],"id":"2643e723-cbe4-46e6-a80d-39deab0619ed","name":"Insert rows in a table1","credentials":{"postgres":{"id":"9OmwjaRYU3bLSUDA","name":"Postgres account"}}},{"parameters":{"content":"## Insert to Arkhe DB\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":400,"width":580,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,1856],"id":"ab59407b-75af-4ae4-a337-a7e2653fc5a4","name":"Sticky Note3"}],"connections":{"If1":{"main":[[{"node":"Code3","type":"main","index":0}],[{"node":"If9","type":"main","index":0}]]},"If2":{"main":[[{"node":"PARSING NOP TAHUN1","type":"main","index":0}],[{"node":"PARSING NOP TAHUN","type":"main","index":0}]]},"If3":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Execute Workflow1","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0},{"node":"Insert rows in a table","type":"main","index":0}]]},"Code3":{"main":[[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Execute Workflow2","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"If6","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Code":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"INQUERY TO CARTENZ":{"main":[[{"node":"If3","type":"main","index":0}]]},"PARSING NOP TAHUN":{"main":[[{"node":"INQUERY TO CARTENZ","type":"main","index":0}]]},"PARSING NOP TAHUN1":{"main":[[{"node":"INQUERY TO CARTENZ1","type":"main","index":0}]]},"INQUERY TO CARTENZ1":{"main":[[{"node":"IN SUCCES INQ KOL","type":"main","index":0}]]},"IN SUCCES INQ KOL":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[]]},"If7":{"main":[[{"node":"SEND MASSAGE","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"IF CEK KOLEKTIF":{"main":[[{"node":"PARSING NOP TAHUN2","type":"main","index":0}],[{"node":"If7","type":"main","index":0}]]},"PARSING NOP TAHUN2":{"main":[[{"node":"INQUERY TO CARTENZ2","type":"main","index":0}]]},"INQUERY TO CARTENZ2":{"main":[[{"node":"IN SUCCES INQ KOL1","type":"main","index":0}]]},"IN SUCCES INQ KOL1":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Execute Workflow4":{"main":[[{"node":"If Workflow 4 Succes","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Execute Workflow4","type":"main","index":0}]]},"If Workflow 4 Succes":{"main":[[]]},"IF CEK NTPD BPHTB":{"main":[[{"node":"PARSING NOP TAHUN3","type":"main","index":0}],[{"node":"IF CEK KOLEKTIF","type":"main","index":0}]]},"PARSING NOP TAHUN3":{"main":[[{"node":"INQUERY TO CARTENZ3","type":"main","index":0}]]},"INQUERY TO CARTENZ3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"HTTP Request7","type":"main","index":0}]]},"IF CEK NTPD BPHTB1":{"main":[[{"node":"PARSING NOP TAHUN4","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB","type":"main","index":0}]]},"PARSING NOP TAHUN4":{"main":[[{"node":"INQUERY TO CARTENZ4","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Execute Workflow5","type":"main","index":0}]]},"Execute Workflow5":{"main":[[{"node":"If11","type":"main","index":0}]]},"If11":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"INQUERY TO CARTENZ4":{"main":[[{"node":"If8","type":"main","index":0}]]},"IF CEK PBJT":{"main":[[{"node":"PARSING NOP TAHUN5","type":"main","index":0}],[{"node":"IF CEK NTPD BPHTB1","type":"main","index":0}]]},"PARSING NOP TAHUN5":{"main":[[{"node":"INQUERY TO CARTENZ5","type":"main","index":0}]]},"Edit Fields7":{"main":[[{"node":"Execute Workflow6","type":"main","index":0}]]},"Execute Workflow6":{"main":[[{"node":"If12","type":"main","index":0}]]},"If12":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"INQUERY TO CARTENZ5":{"main":[[{"node":"IN SUCCES INQ KOL2","type":"main","index":0}]]},"IN SUCCES INQ KOL2":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]},"WAHA Trigger":{"main":[[],[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenAI":{"main":[[]]},"Code in JavaScript":{"main":[[{"node":"IF CEK PBJT","type":"main","index":0}]]},"If9":{"main":[[{"node":"If2","type":"main","index":0}],[{"node":"SEND MASSAGE","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a text message1","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a text message2","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a text message3","type":"main","index":0}]]},"Insert rows in a table":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 924ec03c","description":""},"tags":[]}