2026-February-06/Backup To Github
{"updatedAt":"2026-02-06T01:50:04.453Z","createdAt":"2026-02-05T11:48:02.222Z","id":"2c9ZLFzdFSRyfRpz","name":"Backup To Github","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":1,"triggerAtMinute":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-752,-80],"id":"f8fe9575-0e5d-49d9-88c2-28e1cdfeaccb","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-336,-80],"id":"6e827aa3-6232-4a50-89bc-8ec1ad20d629","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"c92843f5-ee69-469f-b4e2-cff7ea51322a","name":"FolderName","value":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-80],"id":"9e9b1c83-1fa2-4bea-a084-f8b0accd77f5","name":"Edit Fields"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}-{{$now.format('yyyy-MM-dd')}}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-112,-80],"id":"3fca5d8d-c929-46b3-83e2-43d23eb400ae","name":"Convert to File"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[96,-80],"id":"79154a85-0693-426c-82a6-222666f3db4a","name":"Extract from File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"idaybaen","mode":"name"},"repository":{"__rl":true,"value":"n8n_bckp","mode":"list","cachedResultName":"n8n_bckp","cachedResultUrl":"https://github.com/idaybaen/n8n_bckp"},"filePath":"={{ $('Edit Fields').item.json.FolderName }}/{{ $('Get many workflows').item.json.name }}","fileContent":"={{ $json.data }}","commitMessage":"={{$now.format('yyyy-MM-dd T')}} Backup Selesai"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[304,-80],"id":"1d6f67c5-c7b8-41ac-9398-a45aa65305d7","name":"Create a file","webhookId":"85095d2d-9187-4950-a1bd-3e334d6dce02","credentials":{"githubApi":{"id":"hXCh41ZfgxKNJRJs","name":"GitHub account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Asia/Jakarta","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"76c21f6d-794f-41c9-948d-791dff09eaed","activeVersionId":"19a8de3b-7f5b-47d4-b579-b00aaae843e4","triggerCount":1,"shared":[{"updatedAt":"2026-02-05T11:48:02.226Z","createdAt":"2026-02-05T11:48:02.226Z","role":"workflow:owner","workflowId":"2c9ZLFzdFSRyfRpz","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-06T01:14:05.000Z","createdAt":"2026-02-06T01:14:01.478Z","versionId":"19a8de3b-7f5b-47d4-b579-b00aaae843e4","workflowId":"2c9ZLFzdFSRyfRpz","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":13}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-752,-80],"id":"f8fe9575-0e5d-49d9-88c2-28e1cdfeaccb","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-336,-80],"id":"6e827aa3-6232-4a50-89bc-8ec1ad20d629","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"c92843f5-ee69-469f-b4e2-cff7ea51322a","name":"FolderName","value":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-544,-80],"id":"9e9b1c83-1fa2-4bea-a084-f8b0accd77f5","name":"Edit Fields"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}-{{$now.format('yyyy-MM-dd')}}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-112,-80],"id":"3fca5d8d-c929-46b3-83e2-43d23eb400ae","name":"Convert to File"},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[96,-80],"id":"79154a85-0693-426c-82a6-222666f3db4a","name":"Extract from File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"idaybaen","mode":"name"},"repository":{"__rl":true,"value":"n8n_bckp","mode":"list","cachedResultName":"n8n_bckp","cachedResultUrl":"https://github.com/idaybaen/n8n_bckp"},"filePath":"={{ $('Edit Fields').item.json.FolderName }}/{{ $('Get many workflows').item.json.name }}","fileContent":"={{ $json.data }}","commitMessage":"={{$now.format('yyyy-MM-dd T')}} Backup Selesai"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[304,-80],"id":"1d6f67c5-c7b8-41ac-9398-a45aa65305d7","name":"Create a file","webhookId":"85095d2d-9187-4950-a1bd-3e334d6dce02","credentials":{"githubApi":{"id":"hXCh41ZfgxKNJRJs","name":"GitHub account 2"}},"onError":"continueRegularOutput"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 19a8de3b","description":""},"tags":[]}