2026-February-06/Backup To GDrive
{"updatedAt":"2026-02-06T01:48:45.276Z","createdAt":"2026-02-05T10:26:01.223Z","id":"JU9HvOlWOW59g3Jw","name":"Backup To GDrive","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[608,256],"id":"79ac10e7-2d09-4a29-9698-836fb4310203","name":"Schedule Trigger"},{"parameters":{"resource":"folder","name":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR","mode":"list","cachedResultName":"BACKUP-N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,256],"id":"d7a7e91f-fd4f-471a-a2ff-d406d85ff472","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1088,256],"id":"dd1d2849-d3f7-4d52-a220-ec0d77461a27","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1296,256],"id":"aacb35b0-f790-4fe6-83b6-71592b7e1378","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,256],"id":"9d310437-24c9-4c90-85d5-96d2f82556c9","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Asia/Jakarta","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"461a17b7-77a2-4aec-9582-6d772936ee93","activeVersionId":"3f677ece-78bb-47be-b67b-806de7f59856","triggerCount":1,"shared":[{"updatedAt":"2026-02-05T10:26:01.229Z","createdAt":"2026-02-05T10:26:01.229Z","role":"workflow:owner","workflowId":"JU9HvOlWOW59g3Jw","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-06T00:57:53.000Z","createdAt":"2026-02-06T00:55:41.671Z","versionId":"3f677ece-78bb-47be-b67b-806de7f59856","workflowId":"JU9HvOlWOW59g3Jw","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":20}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[608,256],"id":"79ac10e7-2d09-4a29-9698-836fb4310203","name":"Schedule Trigger"},{"parameters":{"resource":"folder","name":"={{ $json.Year }}-{{ $json.Month }}-{{ $json['Day of month'] }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR","mode":"list","cachedResultName":"BACKUP-N8N","cachedResultUrl":"https://drive.google.com/drive/folders/1Dqy9wrk5CE4N8EsIcQcEJcmnqlPdFBQR"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[880,256],"id":"d7a7e91f-fd4f-471a-a2ff-d406d85ff472","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1088,256],"id":"dd1d2849-d3f7-4d52-a220-ec0d77461a27","name":"Get many workflows","credentials":{"n8nApi":{"id":"MuP7SjGnWGfuVtpP","name":"n8n account 2"}}},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}.json"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1296,256],"id":"aacb35b0-f790-4fe6-83b6-71592b7e1378","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"={{ $('Create folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1504,256],"id":"9d310437-24c9-4c90-85d5-96d2f82556c9","name":"Upload file","credentials":{"googleDriveOAuth2Api":{"id":"ZHVRUiNNjDktAB2F","name":"Google Drive account"}}},{"parameters":{"operation":"binaryToPropery","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[1088,480],"id":"9a594a8d-4634-4ad3-82e6-3f4b4a7b18b4","name":"Extract from File"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"idaybaen","mode":"name"},"repository":{"__rl":true,"value":"n8n_bckp","mode":"list","cachedResultName":"n8n_bckp","cachedResultUrl":"https://github.com/idaybaen/n8n_bckp"},"filePath":"={{ $('Create folder').item.json.name }}/{{ $('Get many workflows').item.json.name }}","fileContent":"={{ $json.data }}","commitMessage":"={{$now.format('yyyy-MM-dd T')}} Backup Selesai"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1360,480],"id":"aeacf724-21e1-45e9-bbf9-5a1ef1d16cfe","name":"Create a file","webhookId":"85095d2d-9187-4950-a1bd-3e334d6dce02","credentials":{"githubApi":{"id":"hXCh41ZfgxKNJRJs","name":"GitHub account 2"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload file","type":"main","index":0},{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Create a file","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 3f677ece","description":""},"tags":[]}