2026-February-06/Inquery To Cartenz
{"updatedAt":"2026-02-03T02:15:53.330Z","createdAt":"2026-01-29T03:04:30.563Z","id":"1HNjXCLrFesUMYbS","name":"Inquery To Cartenz","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,336],"id":"c829a330-6b3c-4190-8ec1-1b606fde1677","name":"If"},{"parameters":{"workflowInputs":{"values":[{"name":"nop"},{"name":"tahun"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1632,336],"id":"8514b6e9-1a21-42cd-9f87-6f3dbc0831af","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"single","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,480],"id":"b4cd7fa9-09e0-4658-a69b-5f27e7b77b39","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,512],"id":"215bfb24-00c5-46c7-9ead-53e4c3422b5a","name":"If2"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,352],"id":"fd3451f8-0be1-4aa8-bf96-242cab3cffab","name":"INQ SINGLE","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('If1').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,592],"id":"6566b27a-9951-44ce-b7f0-663d3d47f94d","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,272],"id":"3fbe42b1-e6b5-4a44-8d3c-5a2d3c603225","name":"Edit Fields1"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,496],"id":"cd0e7929-e4c1-43cf-b6e9-1448e707fa2a","name":"INQ KOLEKTIF","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,432],"id":"be011c50-72ee-42dd-8dca-794096866836","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"multi","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,560],"id":"c0ce74f9-39c4-41b6-8a87-03ff5a050578","name":"If3"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,656],"id":"19c86c5b-e6e7-46d3-bf18-868c910b428b","name":"INQ KOLEKTIF1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,704],"id":"e3e18748-c332-4f75-a67e-59f5377e7117","name":"If4"},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('If1').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,912],"id":"8835ca16-3e89-4016-a9bd-a66267749096","name":"Edit Fields3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,752],"id":"61518499-49ab-48e8-acb0-e7d45a3a420e","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-kolektif","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,400],"id":"53e298a3-5fcb-40c4-8767-015838569fad","name":"If5"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/2025","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,192],"id":"ad4811fe-2ca9-4fef-840b-ec5a325d6fc3","name":"INQ KOLEKTIF2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,176],"id":"fac48a6e-2961-44a3-9770-b7affda5d464","name":"If6"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,112],"id":"8321b04a-2160-46ae-9ef5-d96511cb5ea3","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-pbjt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,352],"id":"d7ec510a-adff-48d7-80b3-9f37fc1dae5d","name":"If7"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:40200/revenue/tax/additional/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,48],"id":"60e71acd-508f-46ad-a1f0-b64de6a7e175","name":"INQ SINGLE1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,48],"id":"1e60011f-e4f9-4463-a388-b97faf4b7f28","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"1a7b87cf-1be1-458a-a264-26595ecfc2bc","name":"Edit Fields6"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,432],"id":"b8311ad8-62cb-4490-87fd-2e10d2f7f655","name":"INQ KOLEKTIF3","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-bphtb","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,128],"id":"e71a798a-ff06-4e44-9cbd-edd3f3846ffe","name":"If9"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:40200/revenue/tax/propertytransfer/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,-32],"id":"0f48cc28-9491-4036-866c-d83f4ac3aeef","name":"INQ SINGLE2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,-32],"id":"c4e4ca2b-3c08-4904-bf8b-6d8323331fac","name":"If10"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-112],"id":"4b3f2b2a-ccd7-4ad7-864d-88368974338f","name":"Edit Fields7"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"If9","type":"main","index":0}]]},"If1":{"main":[[{"node":"INQ SINGLE","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"INQ SINGLE":{"main":[[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"INQ KOLEKTIF":{"main":[[{"node":"If2","type":"main","index":0}]]},"If3":{"main":[[{"node":"INQ KOLEKTIF","type":"main","index":0}],[{"node":"INQ KOLEKTIF1","type":"main","index":0}]]},"INQ KOLEKTIF1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"If5":{"main":[[{"node":"INQ KOLEKTIF2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"INQ KOLEKTIF2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If7":{"main":[[{"node":"INQ SINGLE1","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"INQ SINGLE1":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"If9":{"main":[[{"node":"INQ SINGLE2","type":"main","index":0}],[{"node":"If7","type":"main","index":0}]]},"INQ SINGLE2":{"main":[[{"node":"If10","type":"main","index":0}]]},"If10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"nop":"2601000868","tahun":"","type":"cek-pbjt"},"pairedItem":{"item":0}}]},"versionId":"68ee5561-ad8f-4aa0-8d4e-0b408111b635","activeVersionId":"68ee5561-ad8f-4aa0-8d4e-0b408111b635","triggerCount":0,"shared":[{"updatedAt":"2026-01-29T03:04:30.566Z","createdAt":"2026-01-29T03:04:30.566Z","role":"workflow:owner","workflowId":"1HNjXCLrFesUMYbS","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-03T02:15:55.000Z","createdAt":"2026-02-03T02:15:53.331Z","versionId":"68ee5561-ad8f-4aa0-8d4e-0b408111b635","workflowId":"1HNjXCLrFesUMYbS","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,336],"id":"c829a330-6b3c-4190-8ec1-1b606fde1677","name":"If"},{"parameters":{"workflowInputs":{"values":[{"name":"nop"},{"name":"tahun"},{"name":"type"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1632,336],"id":"8514b6e9-1a21-42cd-9f87-6f3dbc0831af","name":"When Executed by Another Workflow"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"single","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-816,480],"id":"b4cd7fa9-09e0-4658-a69b-5f27e7b77b39","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,512],"id":"215bfb24-00c5-46c7-9ead-53e4c3422b5a","name":"If2"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,352],"id":"fd3451f8-0be1-4aa8-bf96-242cab3cffab","name":"INQ SINGLE","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('If1').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,592],"id":"6566b27a-9951-44ce-b7f0-663d3d47f94d","name":"Edit Fields"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,272],"id":"3fbe42b1-e6b5-4a44-8d3c-5a2d3c603225","name":"Edit Fields1"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,496],"id":"cd0e7929-e4c1-43cf-b6e9-1448e707fa2a","name":"INQ KOLEKTIF","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,432],"id":"be011c50-72ee-42dd-8dca-794096866836","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"multi","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-672,560],"id":"c0ce74f9-39c4-41b6-8a87-03ff5a050578","name":"If3"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,656],"id":"19c86c5b-e6e7-46d3-bf18-868c910b428b","name":"INQ KOLEKTIF1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-224,704],"id":"e3e18748-c332-4f75-a67e-59f5377e7117","name":"If4"},{"parameters":{"mode":"raw","jsonOutput":"={{\n'{\\n \"nop\": \"' + $('If1').item.json.nop + '\",\\n \"mode\": \"' + $json.mode + '\",\\n \"code\": \"' + $json.code + '\",\\n \"message\": \"' + $json.message + '\"\\n}'\n}}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,912],"id":"8835ca16-3e89-4016-a9bd-a66267749096","name":"Edit Fields3"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,752],"id":"61518499-49ab-48e8-acb0-e7d45a3a420e","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-kolektif","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1024,400],"id":"53e298a3-5fcb-40c4-8767-015838569fad","name":"If5"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/2025","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,192],"id":"ad4811fe-2ca9-4fef-840b-ec5a325d6fc3","name":"INQ KOLEKTIF2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,176],"id":"fac48a6e-2961-44a3-9770-b7affda5d464","name":"If6"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[16,112],"id":"8321b04a-2160-46ae-9ef5-d96511cb5ea3","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-pbjt","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,352],"id":"d7ec510a-adff-48d7-80b3-9f37fc1dae5d","name":"If7"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:40200/revenue/tax/additional/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,48],"id":"60e71acd-508f-46ad-a1f0-b64de6a7e175","name":"INQ SINGLE1","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-288,48],"id":"1e60011f-e4f9-4463-a388-b97faf4b7f28","name":"If8"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"1a7b87cf-1be1-458a-a264-26595ecfc2bc","name":"Edit Fields6"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:30200/revenue/tax/property/3204{{ $json.nop }}/bill/{{ $json.tahun }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,432],"id":"b8311ad8-62cb-4490-87fd-2e10d2f7f655","name":"INQ KOLEKTIF3","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d02217d9-090c-450a-a48c-a067bbb3dcdc","leftValue":"={{ $json.type }}","rightValue":"cek-bphtb","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1184,128],"id":"e71a798a-ff06-4e44-9cbd-edd3f3846ffe","name":"If9"},{"parameters":{"url":"=http://smartbapenda.sukabumikab.co.id:40200/revenue/tax/propertytransfer/{{ $json.nop }}/bill","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-944,-32],"id":"0f48cc28-9491-4036-866c-d83f4ac3aeef","name":"INQ SINGLE2","credentials":{"httpBasicAuth":{"id":"hPPyRJnOiVCSGbkL","name":"Unnamed credential"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9486d39-44c0-457b-817b-a3725f2d8200","leftValue":"={{ $json.code }}","rightValue":"00","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-768,-32],"id":"c4e4ca2b-3c08-4904-bf8b-6d8323331fac","name":"If10"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-512,-112],"id":"4b3f2b2a-ccd7-4ad7-864d-88368974338f","name":"Edit Fields7"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"If9","type":"main","index":0}]]},"If1":{"main":[[{"node":"INQ SINGLE","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"INQ SINGLE":{"main":[[{"node":"If","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"INQ KOLEKTIF":{"main":[[{"node":"If2","type":"main","index":0}]]},"If3":{"main":[[{"node":"INQ KOLEKTIF","type":"main","index":0}],[{"node":"INQ KOLEKTIF1","type":"main","index":0}]]},"INQ KOLEKTIF1":{"main":[[{"node":"If4","type":"main","index":0}]]},"If4":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"If5":{"main":[[{"node":"INQ KOLEKTIF2","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"INQ KOLEKTIF2":{"main":[[{"node":"If6","type":"main","index":0}]]},"If6":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"If7":{"main":[[{"node":"INQ SINGLE1","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"INQ SINGLE1":{"main":[[{"node":"If8","type":"main","index":0}]]},"If8":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"If9":{"main":[[{"node":"INQ SINGLE2","type":"main","index":0}],[{"node":"If7","type":"main","index":0}]]},"INQ SINGLE2":{"main":[[{"node":"If10","type":"main","index":0}]]},"If10":{"main":[[{"node":"Edit Fields7","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 68ee5561","description":""},"tags":[]}