2026-February-06/MONETAPAY-CALLBAK
{"updatedAt":"2026-02-03T12:48:57.469Z","createdAt":"2026-01-23T04:04:13.007Z","id":"lf2dIh9Gutg5iypX","name":"MONETAPAY-CALLBAK","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"transaction/test","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,0],"id":"b8204af9-e423-4305-ab9e-9bf6f1d23d67","name":"Webhook","webhookId":"a937e41b-9f18-4806-809a-fca4f9cff8bc","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"ok\",\n  \"received\":  {{ $json.body }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,0],"id":"174c2763-0ffd-41d9-a995-3cefb60514de","name":"Edit Fields"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/decrypt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"en_data\": \"{{ $json.received.data.en_data }}\",\n  \"partner_key\": \"{{ $json.received.data.partner_key }}\"\n}\n","options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,0],"id":"d2d07486-6ae8-4386-9986-d3a7597375b6","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"jsCode":"const raw = $json.text;\n\n// pecah jadi pasangan key=value\nconst pairs = raw.split('__');\n\nlet data = {};\nfor (const p of pairs) {\n  if (!p) continue;\n  const idx = p.indexOf('=');\n  const k = p.slice(0, idx);\n  const v = p.slice(idx + 1);\n  data[k] = v;\n}\n\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"1a3019e1-343e-4b1f-bb08-784202a6f4da","name":"Code in JavaScript"},{"parameters":{"jsCode":"const token = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\n\n// clone json\nconst data = { ...$json };\n\n// ambil sign & timestamp\nconst receivedSign = data.sign;\nconst timestamp = data.timestamp;\n\n// buang sign & timestamp dari payload\ndelete data.sign;\ndelete data.timestamp;\n\n// sort key ASC (TreeMap versi JS)\nconst keys = Object.keys(data).sort();\n\nlet strMap = '';\nfor (const k of keys) {\n  strMap += `${k}=${data[k]}__`;\n}\nstrMap = strMap.slice(0, -2);\n\n// FINAL originalString (INI HARUS PERSIS)\nconst originalString = `*|*${strMap}@!@${timestamp}`;\n\n// INI YANG DI-HASH\nconst toHash = token + originalString;\n\nreturn [{\n  json: {\n    originalString,\n    toHash,\n    receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"67f2dd79-54ef-4f86-a17b-0056383e3fac","name":"Code in JavaScript1"},{"parameters":{"value":"={{ $json.toHash }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[608,0],"id":"5d3cf4cd-40c7-4865-8be6-86139e3738ac","name":"Crypto"},{"parameters":{"value":"={{ $json.data }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[864,0],"id":"29f53a9f-6d46-4897-b0d8-7ce8db525326","name":"Crypto1"},{"parameters":{"jsCode":"return [{\n  json: {\n    valid: $json.data === $json.receivedSign,\n    localSign: $json.data,\n    remoteSign: $json.receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,0],"id":"7916a3aa-d231-40ad-84b1-36fb128b1d17","name":"Code in JavaScript3"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"callback.usearkhe.com","user-agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.3770.142 Safari/537.36 Hutool","content-length":"776","accept":"text/html,application/json,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","accept-encoding":"gzip, br","accept-language":"zh-CN,zh;q=0.8","cache-control":"no-cache","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"8.215.75.122","cf-ipcountry":"ID","cf-ray":"9c25e0d79c50fd65-SIN","cf-visitor":"{\"scheme\":\"https\"}","cf-warp-tag-id":"51cdb168-2fef-425a-8d44-abf316805538","connection":"keep-alive","content-type":"application/json; charset=utf-8","pragma":"no-cache","x-forwarded-for":"8.215.75.122","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"data":{"en_data":"MzwOzknoHLRf3KpSmXxWq6MuFsmqEV7oqKhposk3i+6PBPjlybSYZz/YZIUNjYq4dHyMIYCP/t/U93CLrPq7SU8EKNFts3/Ugv+M1QZ3B3AIC4uWWer+sC4tlQ0Rtl3UMprv1hfFp3xk6joob13jLRna3Ra4rfwlEuN7FqWTkVz7sF7XruduFynDBbl42EDg7oavWojuZTSKl5mylLwFK3GsRMEGGtpKCpQnCRg0KGWv96xlIAXUYpo5KFKqlTKEKqA+4GG5hPGQwJgVRKx70QjxB6/z4PhFC11cxLQMAFowx9uEdVx0TquRDfUif0xMQyvSWWSalTwKNKgvbChV7yMCss8NiC/Yzp3TwaeN7L4eu7n5+YJh+jPcTGvdlc7z7+3noyJAL/8oMIPA1eFf9xXnfOyXp47aqe6oycz+hWU/irXhceG1ygxLO/KiL7nCEV14+n7zXLsrMIX3KXl3R/zD3hdfmQhQAgx4A7Y2dojJOX3FXa60BHonmSU0SedaS/SzX7g2uMPhQ5C+ZR3uneafIIp3J9SJ6AwZRNS0bSvHy2s512cwgu0kfPE52SCijVndLj3hxJu8oOOuOMl3RP1UpCVl1DarrKl5QjWJEZdHUkzsRn5EFShuPAaRuf0ZJ/f9CNSgU9uk24+ksIuSAA==","partner_key":"nMd7XfopcJq1ue2YZKGzaGJT82e8P23u","mch_order_no":"24782416as341234568971"}},"webhookUrl":"https://n8n.usearkhe.com/webhook/transaction/test","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"5dc901a8-c786-4b33-a09d-18aa0fc25438","activeVersionId":"5dc901a8-c786-4b33-a09d-18aa0fc25438","triggerCount":1,"shared":[{"updatedAt":"2026-01-23T04:04:13.012Z","createdAt":"2026-01-23T04:04:13.012Z","role":"workflow:owner","workflowId":"lf2dIh9Gutg5iypX","projectId":"RPN3RfYCQ2KBBiw0"}],"activeVersion":{"updatedAt":"2026-02-03T12:49:00.000Z","createdAt":"2026-02-03T12:48:57.470Z","versionId":"5dc901a8-c786-4b33-a09d-18aa0fc25438","workflowId":"lf2dIh9Gutg5iypX","nodes":[{"parameters":{"httpMethod":"POST","path":"transaction/test","responseMode":"lastNode","options":{"allowedOrigins":"*"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,0],"id":"b8204af9-e423-4305-ab9e-9bf6f1d23d67","name":"Webhook","webhookId":"a937e41b-9f18-4806-809a-fca4f9cff8bc","alwaysOutputData":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"status\": \"ok\",\n  \"received\":  {{ $json.body }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,0],"id":"174c2763-0ffd-41d9-a995-3cefb60514de","name":"Edit Fields"},{"parameters":{"method":"POST","url":"http://10.121.122.7:5000/decrypt","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"en_data\": \"{{ $json.received.data.en_data }}\",\n  \"partner_key\": \"{{ $json.received.data.partner_key }}\"\n}\n","options":{"response":{"response":{"responseFormat":"json"}},"timeout":10000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,0],"id":"d2d07486-6ae8-4386-9986-d3a7597375b6","name":"HTTP Request","alwaysOutputData":true},{"parameters":{"jsCode":"const raw = $json.text;\n\n// pecah jadi pasangan key=value\nconst pairs = raw.split('__');\n\nlet data = {};\nfor (const p of pairs) {\n  if (!p) continue;\n  const idx = p.indexOf('=');\n  const k = p.slice(0, idx);\n  const v = p.slice(idx + 1);\n  data[k] = v;\n}\n\nreturn [{ json: data }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,0],"id":"1a3019e1-343e-4b1f-bb08-784202a6f4da","name":"Code in JavaScript"},{"parameters":{"jsCode":"const token = '9U1TxXyIqqLghm67RlGDODdo4ZSrmCOW';\n\n// clone json\nconst data = { ...$json };\n\n// ambil sign & timestamp\nconst receivedSign = data.sign;\nconst timestamp = data.timestamp;\n\n// buang sign & timestamp dari payload\ndelete data.sign;\ndelete data.timestamp;\n\n// sort key ASC (TreeMap versi JS)\nconst keys = Object.keys(data).sort();\n\nlet strMap = '';\nfor (const k of keys) {\n  strMap += `${k}=${data[k]}__`;\n}\nstrMap = strMap.slice(0, -2);\n\n// FINAL originalString (INI HARUS PERSIS)\nconst originalString = `*|*${strMap}@!@${timestamp}`;\n\n// INI YANG DI-HASH\nconst toHash = token + originalString;\n\nreturn [{\n  json: {\n    originalString,\n    toHash,\n    receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,0],"id":"67f2dd79-54ef-4f86-a17b-0056383e3fac","name":"Code in JavaScript1"},{"parameters":{"value":"={{ $json.toHash }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[608,0],"id":"5d3cf4cd-40c7-4865-8be6-86139e3738ac","name":"Crypto"},{"parameters":{"value":"={{ $json.data }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[864,0],"id":"29f53a9f-6d46-4897-b0d8-7ce8db525326","name":"Crypto1"},{"parameters":{"jsCode":"return [{\n  json: {\n    valid: $json.data === $json.receivedSign,\n    localSign: $json.data,\n    remoteSign: $json.receivedSign\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,0],"id":"7916a3aa-d231-40ad-84b1-36fb128b1d17","name":"Code in JavaScript3"}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Crypto1","type":"main","index":0}]]},"Crypto1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]}},"authors":"Arkhe Gaenta","name":"Version 5dc901a8","description":""},"tags":[]}